.home{
	overflow: hidden;
}
.headerBg{
	position: fixed;
	z-index: 10;
	width: 100%;
/*     padding: 35px 0; */
    padding-top: 91px;
    padding-bottom: 10px;
/*	background:#2B2996;*/
 -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -ms-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
}
.bg-nav .logo {
    padding-left: 100px;
    float: left;
}
.bg-nav .logo img{
    position: absolute;
}
.logo img.black{
    display: none;
}
.bg-nav {
    width: 100%;
    display: block;
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -ms-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
}
.toggle {
    float: right;
    margin: 0 65px 0px 24px;
    padding: 0px;
    height: 24px;
    width: 27px;
    cursor: pointer;
    -webkit-transition: right 400ms ease-in-out, top 400ms ease-in-out;
    -moz-transition: right 400ms ease-in-out, top 400ms ease-in-out;
    -ms-transition: right 400ms ease-in-out, top 400ms ease-in-out;
    transition: right 400ms ease-in-out, top 400ms ease-in-out;
}

.toggle > div {
    height: 14px;
    width: 27px;
}
.toggle > div > div {
    width: 100%;
    height: 2px;
    margin: 0 0 5px 0;
    background-color: #fff;
    transition-duration: .3s;
    transition-delay: 0s, 0s, 0s, 0s;
}
.toggle > div > div {
    background-color: #FFFFFF;
}
.toggle > div > div:nth-child(2) {
    transform: translateX(5px);
}
.toggle:hover > div > div:nth-child(2) {
    transform: translateX(8px);
}
.toggle:hover > div > div:nth-child(3) {
    transform: translateX(-5px);
}
/*.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15144E;
    z-index: -100;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out 100ms, z-index 400ms linear 1250ms;
    -moz-transition: opacity 400ms ease-in-out 100ms, z-index 400ms linear 1250ms;
    -ms-transition: opacity 400ms ease-in-out 100ms, z-index 400ms linear 1250ms;
    transition: opacity 400ms ease-in-out 100ms, z-index 400ms linear 1250ms;
}*/
.main > .header {
    overflow: visible;
    position: relative;
    height: 100vh;
    background:#160A3F;
}
.conter {
    width: 55%;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 395px;
}
.conter .title{
	font-size: 16px;
	padding-left: 135px;
	padding-bottom:30px;
}
.conter .line{
	width: 126px;
    height: 2px;
	background:#008DFF;
	display: block;
	margin-left: 75px;
	margin-bottom:10px;
}
.conter .text_1,.conter .text_2{
	font-size:68px;
	
}
.conter .text_1{
	text-align: left;
}
.conter .text_2{
	text-align: center;
}
.main .team{
    padding:330px 0 0px 0;
    position: relative;
}
.main .team > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.main .team .bg {
    position: absolute;
    top:22%;
    left: 0;
    width: 35%;
    height:445px;
    background: #F3F7FF;
}
.bg.is-visible {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
body.home .main > .team > div .container:before, body.home .main > .team > div .container:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body.home .main > .team > div .container .img .block-revealer__content img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.container{
	width: 1400px;
    margin: 0 auto;
    display: table;
}
.maxwidth{
}
.team .img{
    width: 45%;
    float: left;
    margin-left: 60px;
    position: relative;
    height: 440px;
    overflow: hidden;
}
.img img{
	width: 100%;
	display: block;
}
 .container .txt {
    padding-top:20%;
    margin-left: 10%;
    float: left;
    width: 35%;
}
.title--header2{
	font-size:36px;
    color: #23252D;
    line-height:60px;
    font-family: 'Roboto', sans-serif;
}
.title--header2:nth-of-type(2) {
    margin-left: 75px;
    position: relative;
}
.title--header2:nth-of-type(2):before{
	content: '';
    width: 84px;
    height: 2px;
    background: #96BAFF;
    left: -105px;
    position: absolute;
    top: 50%;
} 
.txt--p1{
	margin-top: 53px;
}
.txt--p1 p{
    font-size: 16px;
    color: #333333;
    line-height: 28px;
} 
.button {
    display: inline-block;
    margin-top: 50px;
}  
.button a.readMore {
    display: block;
    font-size:12px;
    font-family: 'Poppins', sans-serif;
    color: #494444;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    letter-spacing:1px;
    padding-bottom: 12px;
    -webkit-transition: padding 300ms ease-in-out;
    -moz-transition: padding 300ms ease-in-out;
    -ms-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
}
.button a.readMore:before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: -12px;
    height: 2px;
    background: #3C39CD;
    -webkit-transition: left 250ms ease-in-out;
    -moz-transition: left 250ms ease-in-out;
    -ms-transition: left 250ms ease-in-out;
    transition: left 250ms ease-in-out;
}
.button a.readMore:hover {
    padding-left: 5px;
}
.button a.readMore:hover:before {
    left: 18px;
}
.solutions {
    position: relative;
    padding: 115px 0 0px 0;
    overflow: hidden;
}
.solutions:before,.solutions:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.home .main .solutions .bg.no-visible.is-visible {
    position: absolute;
    width: 45%;
    right: 5%;
    top: 305px;
    background: #F3F7FF;
}
.solutions .bg:after {
    content: '';
    display: block;
    padding-bottom: 48%;
}
.solutions .left {
    float: left;
    width: 40%;
    padding-left: 130px;
}
 .solutions .left .txt {
    padding-top: 15%;
    float: left;
    width: 100%;
}
.solutions .right {
    position: relative;
    width: 46%;
    float: right;
    background: #2B2996;
    padding: 70px 40px 60px 110px;
    margin-top: 260px;
    color: #fff;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -moz-transition: -moz-transform 600ms ease-in-out;
    -ms-transition: -ms-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
}
.title--tag {
     font-size: 14px;
    color: #FFFFFF;
    line-height: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing:2px;
    padding-bottom: 30px;
}
.solutions .right ul li {
    padding: 10px 0;
}
.solutions .right ul li:before,.solutions .right ul li:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.solutions .right ul li .img {
    text-align: center;
    display: table-cell;
}
.solutions .right ul li .txt {
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
}
.solutions .right .title--header3 {
    font-size:24px;
    color: #FFFFFF;
}
.main .team.Three {
    padding:115px 0 200px 0;
    position: relative;
}
.team.Three .img {
    width: 45%;
    float: left;
    margin-left: 60px;
    position: relative;
    height: 440px;
    overflow: inherit;
    background: #2B2996;
    margin-top: 210px;
}
.team.Three .img svg {
    position: absolute;
    bottom: 60px;
    right: -67px;
    -webkit-transition: opacity 100ms ease-in-out 600ms;
    -moz-transition: opacity 100ms ease-in-out 600ms;
    -ms-transition: opacity 100ms ease-in-out 600ms;
    transition: opacity 100ms ease-in-out 600ms;
}
.case-study{
	width: 100%;
	height: 600px;
	background:#3C39CD;
}
.prefooter {
    position: relative;
    padding: 260px 0 220px 0;
    overflow: hidden;
}
.container.maxwidth2 {
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
.prefooter > .container > div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: #F3F7FF;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -moz-transition: -webkit-transform 600ms ease-in-out;
    -ms-transition: -webkit-transform 600ms ease-in-out;
    transition: -webkit-transform 600ms ease-in-out;
}
.prefooter > .container a:nth-of-type(1) {
    left: 0;
    top: -10%;
}
.prefooter > .container a {
    position: absolute;
    width: 57%;
    display: block;
    color: #fff;
    text-decoration: none;
    background: #3C39CD;
    
}

.prefooter > .container a > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 120px;
}
.prefooter > .container a p {
    margin-bottom:15px;
    font-size: 16x;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:1px;
}
.title--header4 {
    font-size:26px;
    color: #FFFFFF;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.prefooter > .container a:nth-of-type(2) {
    right: 0;
    top: 27%;
    text-align: right;
    background:#19178D;
}
.prefooter .bg-hover,.prefooter .bg-hoverright{
	background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    -moz-transition: -webkit-transform 400ms ease-in-out;
    -ms-transition: -webkit-transform 400ms ease-in-out;
    transition:  400ms ease-in-out;
}
.home .prefooter .bg-hoverright{
	left: 100%;
}

.prefooter > .container a:nth-of-type(1):hover .bg-hover{
	left: 0;
} 
.prefooter > .container a:nth-of-type(2):hover .bg-hoverright{
	left: 0;
} 
@media all and (max-width: 1401px) {
	.container {
    width: 1000px;
}
}
/*遮罩层*/
.zhezhao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15144E;
    z-index: -101;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -moz-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -ms-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
}
.zhezhao.is-open{
    z-index: 100;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.zhezhao .nav-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: table;
    padding: 0 40px;
}
.zhezhao .nav-content > div {
    display: table-cell;
    vertical-align: middle;
}
.zhezhao .nav-content > div:before, .zhezhao .nav-content > div:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.zhezhao .nav-content > div .navigation {
    float: left;
    width: 70%;
}
.zhezhao .nav-content > div .navigation ul li {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    -moz-transform: translate3d(0, 40px, 0);
    -ms-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}
.zhezhao.is-open .nav-content .navigation ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.zhezhao .nav-content > div .navigation ul li:nth-child(1) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    transition-delay: 250ms;
}
.zhezhao .nav-content > div .navigation ul li a {
    text-decoration: none;
    color: #3C39CD;
    font-size:68px;
    text-decoration: none;
    padding:0 0;
    display: inline-block;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out;
    font-family: "微软雅黑";
}
.zhezhao .nav-content > div .navigation ul li.is-current a {
    color: #fff;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(2) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    transition-delay: 200ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(3) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    transition-delay: 150ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(4) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    transition-delay: 100ms;
}
.zhezhao .nav-content > div .navigation ul li a:hover {
    color: #fff;
}
.close{
	position: absolute;
    right: 70px;
    top: 91px;
    cursor: pointer;
}
/* 登录框 */
.active{
    display: block;
}
.login_box{
    position: absolute;
    width: 400px;
    height: 500px;
    background: #2B2996;
    right: 30px;
    top: 289px;
    text-align: center;
    z-index: 1000;
/*     display: none; */
}
.login_box>p{
    font-size: 30px;
    color: #fff;
    margin-top: 55px;
    margin-bottom: 20px;
}
.login_box>div>input{
    display: inline-block;
   width: 300px;
   height: 60px;
   background:#25237C;
   color: #fff;
   font-size: 20px;
   border: none;
   outline: none;
   margin-top: 30px;
   padding-left: 20px;
}
.login_box .the_link{
    float: right;
    margin-right: 30px;
    margin-top: 8px;
}
.login_box>div>a{
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
}
.login_box .login_btn{
   display: inline-block;
   width: 300px;
   height: 60px;
   background: #3C39CD;
   border: none;
   margin-top: 69px;
   cursor: pointer;
}
.login_box .login_btn>a{
       font-size:30px;
       color: #fff;
}
/* 注册框 */
.regist_box{
    position: absolute;
    width: 400px;
    height: 500px;
    background: #2B2996;
    right: 30px;
    top: 289px;
    text-align: center;
    z-index: 999;
    display: none;
}
.regist_box .return{
    display: inline-block;
    margin-top: 20px;
    margin-left: -300px;
    color:#8684E3;
    cursor: pointer;
    font-size: 14px;
}
.regist_box .return:hover{
    color: #fff;
}
.regist_box>p{
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 12px;
}
.regist_box .format{
    display: inline-block;
    width: 301px;
    height: 41px;
    background: #25237C;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 21px;
    margin-top: 9px;
    color: #fff; 
}
input::-webkit-input-placeholder{   
    color: #8684E3; 
    font-size: 14px;  
} 
.checktxt{
    color: #8684E3;
    font-size: 12px;
    margin-left:-65px;
    margin-top: 24px;
}
.checktxt input[type="checkbox"]{
    vertical-align: middle;
    background:#25237C;
}
.checktxt>span{
    color: #fff;
}
.regist_box>div>button{
    display: inline-block;
    background: #3C39CD;
    width: 301px;
    height: 41px;
    border: none;
    margin-top: 20px;
}
.regist_box>div>button>a{
    color:#FFFFFF;
    font-size: 20px;
}
/*线条滑动*/
.stars {
    position: absolute;
    right: 440px;
    top: 80%;
}
.star {
    display: block;
    width: 177px;
    height: 9px;
    background: rgb(0, 141, 255);
    top:25px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
    
.star.pink {
	width: 160px;
    height: 2px;
    top:55px;
    left: 445px;
    background: #FFFFFF;
    animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay: 0.6s;
}

.star.blue {
    width: 145px;
    height: 9px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 450px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.star.yellow {
    width: 208px;
    height: 6px;
    top: 90px;
    background: rgb(60, 57, 205);
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.star.white{
    width: 80px;
    height: 1px;
    background: rgb(0,141,255);
    top: 105px;
    left: 500px;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.position_right{
    right: -75%;
    top: -200px;
}
.position_right .star {
    display: block;
    width: 207px;
    height: 3px;
    background: rgb(0, 141, 255);
    top:124px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.position_right .star.blue {
    width: 155px;
    height: 3px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 450px;
    animation-delay:0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.position_right .star.yellow {
    width: 178px;
    height: 6px;
    top: 90px;
    background: rgb(60, 57, 205);
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
}
.position_right .star.white{
    width: 80px;
    height: 1px;
    background: rgb(0,141,255);
    top: 105px;
    left: 500px;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.position_2_right{
    top: 30%;
}
.position_2_right .star {
    display: block;
    width: 207px;
    height: 3px;
    background: rgb(0, 141, 255);
    top:160px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.position_2_right .star.blue {
    width: 155px;
    height: 3px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 450px;
    animation-delay:0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.position_2_right .star.yellow {
    width: 200px;
    height: 9px;
    top: 120px;
    background:#ffffff;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
}
.position_2_right .star.white{
    width: 80px;
    height: 1px;
    background: rgb(0,141,255);
    top: 105px;
    left: 500px;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.position_3_right{
    top: 0;
}
.position_3_right .star {
    display: block;
    width: 217px;
    height: 5px;
    background: rgb(0, 141, 255);
    top:160px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.position_3_right .star.blue {
    width: 205px;
    height: 5px;
    background: rgb(60, 57, 205);
    top: 135px;
    left: 350px;
    animation-delay:0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.position_3_right .star.white{
    width: 80px;
    height: 1px;
    background: rgb(0,141,255);
    top: 105px;
    left: 500px;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
/*从右往左*/
@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 0, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-200px, 0, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-200px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-300px, 0, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-300px,0, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-300px, 0px, 0);
    }
}
/*从左往右*/
.stars_top {
    position: absolute;
    left: -440px;
    top: 20%;
}
.star_top {
    display: block;
    width: 177px;
    height: 9px;
    background: rgb(0, 141, 255);
    top:25px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ct 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.star_top.pink {
    width: 160px;
    height: 2px;
    top:32px;
    left: 300px;
    background: #FFFFFF;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay: 1s;
}
.star_top.blue {
    width: 145px;
    height: 9px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 450px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.star_top.yellow {
    width: 208px;
    height: 8px;
    top: 0px;
    background: rgb(60, 57, 205);
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
.star_top.white{
    width: 80px;
    height: 3px;
    background: rgb(0,141,255);
    top: 105px;
    left: 200px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.position_left{
    top: -352px;
    left: -560px; 
}
.position_left .star_top {
    display: block;
    width: 177px;
    height: 9px;
    background: rgb(0, 141, 255);
    top:25px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ct 1s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.position_left .blue {
    width: 155px;
    height: 5px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 350px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.position_left .white{
    width: 160px;
    height: 3px;
    background: rgb(0,141,255);
    top: -6px;
    left: 300px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.position_2_left .star_top {
    display: block;
    width: 177px;
    height: 9px;
    background: rgb(0, 141, 255);
    top:25px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ct 2s infinite ease-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
.position_2_left .pink {
    width: 160px;
    height: 2px;
    top:32px;
    left: 300px;
    background: #232121;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay: 1.5s;
}

.position_2_left .blue {
    width: 155px;
    height: 5px;
    background: rgb(60, 57, 205);
    top: 70px;
    left: 350px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.position_2_left .white{
    width: 160px;
    height: 3px;
    background: rgb(0,141,255);
    top: -6px;
    left: 300px;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
 @keyframes star-ct {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 0, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(200px, 0, 0);
        -moz-transform: scale(1) rotate(0) translate3d(200px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(300px, 0, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(300px,0, 0);
        -moz-transform: scale(1) rotate(0) translate3d(300px, 0px, 0);
    }
} 