
/* 底部样式*/
.container_foot{
    width: 82%;
    margin: 0 auto;
}
.foot{
    width: 100%;
    background: #14134E;
    margin-top: 200px;
    padding-bottom: 47px;
}
.foot_lft,.foot_rit{
    display: inline-block;
}
.foot_lft{
    margin-top: 87px;
    float: left;
    width: 55%;
}
.foot_lft .company_logo{
    font-size: 40px;
    color: #fff;
}
.foot_lft .company_desc{
    line-height: 30px;
    width: 60%;
    color: #fff;
    margin-top: 53px;
    font-size: 18px;
}
.foot_lft .company_name{
    font-size: 16px;
    color: #96BAFF;
    margin-top: 59px;
}
.foot_lft .do{
    display: block;
    margin-top: 27px;
    color: #96BAFF;
    font-size: 14px;
}
.foot_lft .do>a{
    display: inline-block;
    color: #96BAFF;
    font-size: 14px;
    padding-left: 24px;
}
.footlist {
    margin-top: 64px;
}
.footlist li{
    display: inline-block;
    padding-right: 50px;
}
.footlist li a{
    color: #fff;
}
.foot_rit{
    float: right;
    width: 40%;
    margin-top: 167px;
}
.foot_rit>p{
    color: #96BAFF;
    font-size: 16px;
    line-height:40px;
}
.number{
    font-size: 14px;
    color: #FFFFFF!important;
    margin-top: 53px;
}
.copy{
    display: inline-block;
    width: 100%;
    margin-top: 27px;
    font-size: 14px;
    color: #FFFFFF!important;
}
/*遮罩层*/
.zhezhao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15144E;
    z-index: -101;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -moz-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -ms-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
}
.zhezhao.is-open{
    z-index:1000;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.zhezhao .nav-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: table;
    padding: 0 40px;
}
.zhezhao .nav-content > div {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.zhezhao .nav-content > div:before, .zhezhao .nav-content > div:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.zhezhao .nav-content > div .navigation {
    float: left;
    width: 70%;
}
.zhezhao .nav-content > div .navigation ul li {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    -moz-transform: translate3d(0, 40px, 0);
    -ms-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}
.zhezhao.is-open .nav-content .navigation ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.zhezhao .nav-content > div .navigation ul li:nth-child(1) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    transition-delay: 250ms;
}
.zhezhao .nav-content > div .navigation ul li a {
    text-decoration: none;
    color: #3C39CD;
    font-size:68px;
    text-decoration: none;
    padding:0 0;
    display: inline-block;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out;
    font-family: "微软雅黑";
}
.zhezhao .nav-content > div .navigation ul li.is-current a {
    color: #fff;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(2) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    transition-delay: 200ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(3) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    transition-delay: 150ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(4) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    transition-delay: 100ms;
}
.zhezhao .nav-content > div .navigation ul li a:hover {
    color: #fff;
}
.close{
    position: absolute;
    right: 70px;
    top: 91px;
    cursor: pointer;
}
/*zhezhao结束*/
/* 登录后 */
.login_after{
    position: absolute;
    top: 90px;
    right: -135px;
    font-size: 20px;
    color: #fff;
    visibility: hidden; 
}
.after_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    vertical-align: middle;
    margin-right: 20px;
}
.login_after>a{
  color: #A2D2EA;  
}
/* 登录框 */
.login-left{
	float: left;
	width:35%;
}
.active{
    display: block;
}
.login_box{
    background: #2B2996;
    text-align: center;
    z-index: 1000;
    padding: 35px;
/*      display: none;  */
}
.login_box>p{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.login_form>input{
    display: block;
    width:100%;
    height: 50px;
    background: #25237C;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 30px;
    padding-left: 20px;
}

.login_form>span{
    position: absolute;
    color: red;
    font-size: 14px;
    right: 130px;
}
.login_form .count{
    display: none; 
    top: 315px;
}
.login_form .pwd{
    display: none; 
    top: 396px;
}
.login_box .the_link{
    float: right;
    margin-right: 30px;
    margin-top: 8px;
}
.login_form>a{
    display: inline-block;
    margin-top:20px;
    color: #fff;
    font-size: 12px;
    float: right;
}
.login_form>a.reg {
    float: right;
    padding-left: 20px;
}
.login_box .login_btn{
    display: block;
    width:100%;
    height:60px;
    background: #3C39CD;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 70px;
    outline: none;  
}
.login_form .login_btn>a{
       font-size:26px;
       color: #fff;
}
/* 注册框 */
.regist_box{
    width: 400px;
    height: 500px;
    background: #2B2996;
    text-align: center;
    z-index: 999;
    display: none;
}
.regist_box .return{
    display: inline-block;
    margin-top: 20px;
    margin-left: -300px;
    color:#8684E3;
    cursor: pointer;
    font-size: 14px;
}
.regist_box .return:hover{
    color: #fff;
}
.regist_box>p{
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 12px;
}
.reg_form{
    position: relative;
}
.error_tel,.error_code,.error_pwd2,.empty_tel,.empty_code,.empty_pwd1,.empty_yq{
    position: absolute;
    color: red;
    display: none; 
}
.error_tel,.empty_tel{
   right: 60px;
   top: 15px;
}
.error_code,.empty_code{
   top: 60px;
   right: 142px;
}
.empty_pwd1{
   right: 60px;
   top: 110px; 
}
.error_pwd2{
   right: 60px;
   top: 160px;
}
.empty_yq{
    right: 60px;
    top: 210px;
}
.reg_form .get_code{
    display: inline-block;
    position: absolute;
    width: 81px;
    height: 29px;
    background: #3C39CD;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    top: 56px;
    right: 60px;
    line-height: 29px;
}
.reg_form .format{
    display:block;
    width: 301px;
    height: 41px;
    background: #25237C;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 21px;
    margin-top: 9px;
    color: #fff; 
    margin-left: 50px;
}
input::-webkit-input-placeholder{   
    color: #8684E3; 
    font-size: 14px;  
} 
input[type="checkbox"]{
    vertical-align: middle;
    background:#25237C;
    margin-left: -55px;
    margin-top: 4px;
}
.agreen{
    color: #8684E3;
    font-size: 12px;
    margin-top: 24px;
    display: inline-block;
}
.agreen .agreenment{
    color: #fff;
    font-size: 12px;
}
.reg_btn{
    display:block;
    background: #3C39CD;
    width: 301px;
    height: 41px;
    border: none;
    margin-top: 20px;
    margin-left: 50px;
}
.reg_btn>a{
    color:#FFFFFF;
    font-size: 20px;
}
/* 三千客服务协议 */
.sum_agreen{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 566px;
    height: 708px;
    background: #2B2996;
    margin-left: -288px;
    margin-top: -354px;
    z-index: 99999;
    line-height:40px;
    font-size: 16px;
}
.visi{
    visibility: hidden;
}
.agreen_box{
    width: 532px;
    height: 612px;
    margin: 20px 18px 9px 15px;
    color: #000000;
    background: #ffffff;
    overflow: auto;
    padding: 0px 30px;
    text-align:justify;
}
.agreen_box>textarea{
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 30px;
}
.agreen_box>textarea>span{
    font-size: 20px;
}
.iagreen{
    width: 532px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    background: #3C39CD;
    border: none;
    margin-left: 15px;
}
.agreen_box h4{
	font-size: 26px;
    font-weight: 500;
    text-align: center;
    padding: 25px 0;
}
.agreen_box h3{
    font-size: 18px;
    color: #333333;
}
.agreen_box a{
	color: #008DFF;
} 
.zhezhao-two{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1f0505;
    z-index: 999;
    opacity: 0.5;
    display: none;
}
