/* 公共样式 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Microsoft YaHei", arial, sans-serif";
  font: inherit;
  vertical-align: baseline; }

ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    display: block;
}
/*清除浮动*/
.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
*, div, li, p, h1, h2, h3, h4, h5, a, span, html, img {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}


/* 底部样式*/
.container_foot{
	width: 82%;
	margin: 0 auto;
}
.foot{
	width: 100%;
	background: #14134E;
	margin-top: 200px;
	padding-bottom: 47px;
}
.foot_lft,.foot_rit{
	display: inline-block;
}
.foot_lft{
	margin-top: 87px;
	float: left;
	width: 55%;
}
.foot_lft .company_logo{
    font-size: 40px;
    color: #fff;
}
.foot_lft .company_desc{
    width: 576px;
    color: #fff;
    height: 75px;
    margin-top: 53px;
    font-size: 18px;
}
.foot_lft .company_name{
	font-size: 16px;
	color: #96BAFF;
	margin-top: 59px;
}
.foot_lft .do{
	display: block;
	margin-top: 27px;
	color: #96BAFF;
}
.foot_lft .do>a{
    display: inline-block;
    color: #96BAFF;
    font-size: 16px;
    padding-left: 44px;
}
.footlist {
	margin-top: 64px;
}
.footlist li{
	display: inline-block;
	padding-right: 50px;
}
.footlist li a{
	color: #fff;
}
.foot_rit{
	float: right;
	width: 40%;
	margin-top: 167px;
}
.foot_rit>p{
	color: #96BAFF;
	font-size: 16px;
}
.tel,.qq,.blog{
	margin-top: 25px;
}
.number{
	font-size: 14px;
	color: #FFFFFF!important;
	margin-top: 53px;
}
.copy{
	display: inline-block;
	width: 100%;
	margin-top: 27px;
	font-size: 14px;
	color: #FFFFFF!important;
}
/*遮罩层*/
.zhezhao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15144E;
    z-index: -101;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -moz-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    -ms-transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
    transition: opacity 100ms ease-in-out 100ms, z-index 400ms linear 125ms;
}
.zhezhao.is-open{
    z-index: 100;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.zhezhao .nav-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: table;
    padding: 0 40px;
}
.zhezhao .nav-content > div {
    display: table-cell;
    vertical-align: middle;
}
.zhezhao .nav-content > div:before, .zhezhao .nav-content > div:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.zhezhao .nav-content > div .navigation {
    float: left;
    width: 70%;
}
.zhezhao .nav-content > div .navigation ul li {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    -moz-transform: translate3d(0, 40px, 0);
    -ms-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}
.zhezhao.is-open .nav-content .navigation ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.zhezhao .nav-content > div .navigation ul li:nth-child(1) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    transition-delay: 250ms;
}
.zhezhao .nav-content > div .navigation ul li a {
    text-decoration: none;
    color: #3C39CD;
    font-size:68px;
    text-decoration: none;
    padding:0 0;
    display: inline-block;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out;
    font-family: "微软雅黑";
}
.zhezhao .nav-content > div .navigation ul li.is-current a {
    color: #fff;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(2) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    transition-delay: 200ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(3) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    transition-delay: 150ms;
}
.zhezhao .nav-content > div .navigation ul li:nth-child(4) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    transition-delay: 100ms;
}
.zhezhao .nav-content > div .navigation ul li a:hover {
    color: #fff;
}
.close{
	position: absolute;
    right: 70px;
    top: 91px;
    cursor: pointer;
}
/*zhezhao结束*/
