/* 公共样式 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Microsoft YaHei", arial, sans-serif";
  font: inherit;
  vertical-align: baseline; }

ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    display: block;
}
/*清除浮动*/
.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
*, div, li, p, h1, h2, h3, h4, h5, a, span, html, img {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}


/* 底部样式*/
.container_foot{
	width: 82%;
	margin: 0 auto;
}
.foot{
	width: 100%;
	background: #14134E;
	margin-top: 200px;
	padding-bottom: 47px;
}
.foot_lft,.foot_rit{
	display: inline-block;
}
.foot_lft{
	margin-top: 87px;
	float: left;
	width: 55%;
}
.foot_lft .company_logo{
    font-size: 40px;
    color: #fff;
}
.foot_lft .company_desc{
    width: 576px;
    color: #fff;
    height: 75px;
    margin-top: 53px;
    font-size: 18px;
}
.foot_lft .company_name{
	font-size: 16px;
	color: #96BAFF;
	margin-top: 59px;
}
.foot_lft .do{
	display: block;
	margin-top: 27px;
	color: #96BAFF;
}
.foot_lft .do>a{
    display: inline-block;
    color: #96BAFF;
    font-size: 16px;
    padding-left: 44px;
}
.footlist {
	margin-top: 64px;
}
.footlist li{
	display: inline-block;
	padding-right: 50px;
}
.footlist li a{
	color: #fff;
}
.foot_rit{
	float: right;
	width: 40%;
	margin-top: 167px;
}
.foot_rit>p{
	color: #96BAFF;
	font-size: 16px;
}
.tel,.qq,.blog{
	margin-top: 25px;
}
.number{
	font-size: 14px;
	color: #FFFFFF!important;
	margin-top: 53px;
}
.copy{
	display: inline-block;
	width: 100%;
	margin-top: 27px;
	font-size: 14px;
	color: #FFFFFF!important;
}