/* 订单修改 */
.main_rit .account_box{
	width: 100%;
	background: #fff;
}
.tab_list{
	font-size: 20px;
	color: #2b2b2b;
	border-bottom: 1px solid #ECEFF5;
	padding-left: 15px;
}
.tab_list li{
	display: inline-block;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 90px;
	text-align: center;
	cursor: pointer;
}
.tab_list li.active{
	border-bottom: 2px solid #00C1DE;
}
/* 订单详情选项卡 */
.add_order{
	position: relative;
	display: block;
}
.add_order .btn_group{
	position: absolute;
	right: 0px;
    top: -60px;
    z-index: 1;
}
.add_order .btn_group button{
	display: inline-block;
	float: right;
	height: 36px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	outline: none;
	margin-right: 15px;
	margin-top: 12px;
}
.add_order .btn_group button.save{
    background: #00C1DE;
    border: 1px solid #00C1DE;
    color: #fff;
    width: 63px;
}
.add_order .btn_group button.cancel{
    background: #fff;
    border: 1px solid #A3A3A3;
    width: 63px;
    color: #646464;
}
.add_order .order_num,.add_order .order_time{
	display: inline-block;
	font-size: 18px;
	color: #2b2b2b;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
}
/* 基本信息*/
.information .inform_lft,.information .inform_rit{
   display: inline-block;
   width: 42%;
   float: left;
   padding-left: 8%;
}
.account_box p.msg{
	margin-left: 1.5%;
	border-left:4px solid #00C1DE;
	font-size: 18px;
	color: #2b2b2b;
	padding-left: 20px;
}
.information .from_group{
	margin-top: 15px;
}
.information .from_group label{
	font-size: 18px;
	color: #8A94A4;
	display: inline-block;
	width: 90px;
}
.information .from_group input,.information .from_group select{
	height: 30px;
	outline: none;
	font-size: 16px;
	color: #646464;
	border: 1px solid #dcdcdc;
}
.information .from_group input{
	padding-left: 1%;
    width: 59%;
}
.information .one_select select{
	width: 60.3%;
}
 .information .three_select select{
    width: 19.6%;
}
 /*服务信息  */
 .service{
 	margin-top: 20px;
 }
 .service .service_demo{
 	height: 50px;
 	line-height: 50px;
 	margin-left: 1.5%;
 	padding-left: 0.5%;
 	margin-right: 2%;
 	width: 96%;
 }
 .service .service_demo span{
    display: inline-block;
    float: left;
    width: 33.3%;
 }
 .service .service_demo .demo,.service .service_demo .people{
 	padding-left: 1%;
    width: 39%;
 }
.service .service_demo .option{
    width: 18%;
    padding-left: 2%;
 }
 .service .service_demo .change{
    width: 63px;
    height: 35px;
    color: #fff;
    border: none;
    outline: none;
    background: #00C1DE;
    float: right;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
 }
 .service .gary{
 	background: #EFF2F5;
 	margin-top: 20px;
 }
 .service .service_demo .complete{
 	color: #23B52E;
 }
 .service .service_demo .uncomplete{
 	color: #E14343;
 }
/* 备注信息 */
.remark{
	margin-top: 20px;
	padding-bottom: 20px;
}
.remark_box{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 170px;
    border: 1px solid #dcdcdc;
    margin-top: 20px;
}
.remark_box>textarea{
    width: 99%;
    height: 100%;
    outline: none;
    resize:none;
    border:none; 
    padding-left: 1%;
    font-size: 16px;
}
/* 付款记录选项卡 */
.pay_list{
	position: relative;
	display: block;
	height: 1100px;
}
.pay_list .btn_group{
	position: absolute;
	right: 0px;
    top: -60px;
}
.pay_list .btn_group button.add{
	display: inline-block;
	float: right;
	height: 36px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	outline: none;
	margin-right: 15px;
	margin-top: 12px;
	background: #00C1DE;
    border: 1px solid #00C1DE;
    color: #fff;
    width: 150px;
}
.pay_list .order_num{
	font-size: 18px;
	color: #2b2b2b;
	padding-left: 40px;
	padding-top: 30px;
}
.pay_list .order_num p{
	display: inline-block;
	margin-right: 10%;
	padding-bottom: 40px;
}
.pay_list .order_num p span{
	color: #8A94A4;
}
.pay_tab{
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}
.pay_tab .success{
	color: #23B52E;
}
.pay_tab .tab_head,.pay_tab .tab_con{
	height: 50px;
	line-height: 50px;
}
.pay_tab .bg{
	background: #EFF2F5;
}
.pay_tab span{
	display: inline-block;
	font-size: 18px;
	color: #4F5968;
	width: 10%;
	padding-left: 1%;
}
.pay_tab span.shoukuan,.pay_tab span.fukuan{
    width: 14%;
}
.pay_tab span.time{
    width: 19%;
}
.pay_tab span:last-child{
	text-align: center;
	position: relative;
}
.pay_tab span.op{
   	cursor: pointer;
}
.pay_tab span .option{
	display: inline-block;
	width: 33px;
	height: 15px;
	background: url(../../image/dotted.png) no-repeat;
	vertical-align: middle;
}
.pay_tab span .option_list{
	position: absolute;
	width: 120px;
	border:1px solid #DEDFDF;
	background: #fff;
	top: 35px;
	display: none;
	border-radius: 4px;
}
.pay_tab span .option_list li{
    line-height: 40px;
    cursor: pointer;
    color: #8A94A4;
    font-size: 18px;
}
/*一次性服务 日常维护 遮罩层 */
.mask_one{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1000;
    background:rgba(0,0,0,0.4);
    display: none;  
}
.mask_two{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1000;
    background:rgba(0,0,0,0.4);
    display: none; 
}
.mask_box{
	width: 720px;
	height: 350px;
	background: #fff;
	position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -360px;
    margin-top:-175px; 
    border-radius: 4px;
}
.mask_box>p{
	color: #a3a3a3;
	font-size: 18px;
	margin-left: 2%;
	margin-right:2%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #a3a3a3;
}
.one_off .service_demo_small{
 	height: 34px;
 	line-height: 34px;
 	margin-left: 2%;
 	padding-left: 1%;
 	width: 95%;
 }
 .one_off .service_demo_small span{
    display: inline-block;
    float: left;
    width: 33.3%;
 }
  .one_off .service_demo_small span input{
  	width: 175px;
  	height: 25px;
  	outline: none;
  	border:1px solid #dcdcdc;
  	padding-left: 5px;
  	font-size: 16px;
  	margin-left: -2%;
  }
.one_off .service_demo_small span span{
	color: #00C1DE;
	cursor: pointer;
}
.one_off .service_demo_small>span>span.s_cancel{
	padding-left: 40px;
}
.one_off .service_demo_small .demo,.one_off .service_demo_small .people{
 	padding-left: 1%;
    width: 39%;
 }
.one_off .service_demo_small .option{
    width: 20%;
    text-align: center;
 }
 .one_off .service_demo_small .change{
    width: 63px;
    height: 35px;
    color: #fff;
    border: none;
    outline: none;
    background: #00C1DE;
    float: right;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
 }
 .one_off .gary{
 	background: #EFF2F5;
 	margin-top: 20px;
 }
  .mask_box .mask_con{
  }
.mask_box .mask_con>p{
  float: left;
  margin-left: 68px;
}
.mask_box .mask_con>p span{
	color: #a3a3a3;
}
.mask_box .mask_con button{
	width: 70px;
	height: 25px;
	border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}
.mask_box .mask_con button.yes{
	background: #00c1de;
	border: 1px solid #00c1de;
	color: #fff;
}
.mask_box .mask_con button.no{
	background: #fff;
	border: 1px solid #b5b5b5;
	color: #b5b5b5;
}
.mask_box .mask_con{
	margin-top: 20px;
}
/* 选项卡切换 */
.tab_content{
	display: none;
}
.show_tab{
	display: block;
}
@media screen and (max-width:1220px){
.pay_tab span{
	font-size: 16px;
} 
.information .from_group input,.information .from_group select{
	font-size: 14px;
}
.information .from_group input{
	padding-left: 1%;
    width: 69%;
}
.information .one_select select{
	width: 70.3%;
}
 .information .three_select select{
    width: 22.6%;
}
}