.container_top{
	width: 72%;
	margin: 0 auto;
}
.container_foot{
	width: 82%;
	margin: 0 auto;
}
.container{
	width: 82%;
	margin: 0 auto;
}
/* 顶部 */
.head_top{
	width: 100%;
	position: relative;
}
.logo{
	position: fixed;
	width: 128px;
	height: 21px;
	top: 91px;
	left: 5%;
	z-index: 1000;
}
.logo img{
    width: 128px;
    height: 21px;
    position: absolute;
}
.logo img.img_black{
	display: none;
}
.control{
	position: fixed;
	top: 89px;
	right:5%;
	z-index: 1000;
}
.control>span{
	font-size: 20px;
}
.lineGroup{
	display: inline-block;
	margin-left: 37px;
}
.lineGroup .line{
   width: 25px;
   height: 3px;
   background: #2B2B2B;
   margin-top: 2px;
}
.lineGroup .line2{
	margin-left: 5px;
}
.head_content{
	width:83%;
	height: 700px;
	background: #2B2996;
}
.head_text{
	padding-top: 282px;
}
.head_text .challenge{
	font-size: 16px;
	color: #fff;
}
.head_text .space_one{
	display: inline-block;
	width: 151px;
	height: 2px;
	background: #008DFF;
	margin-top: 49px;
	margin-bottom: 30px;
	margin-left:-10%;
}
.head_text .passion{
	font-size: 90px;
	color: #fff;
}
/* 主体内容 */
.main{
	width: 100%;
}
.developer{
	font-size: 60px;
	line-height: 90px;
	color:#2B2B2B;
	margin-top: 321px;
	padding-left: 90px;
}
.introduce{
	width: 100%;
	margin-top: 105px;
	padding-left: 90px;
}
.introduce .space_two{
	display: inline-block;
	width: 150px;
	height: 3px;
	background: #96BAFF;
	vertical-align: top;
	margin-top: 11px;
}
.introduce>p{
	display: inline-block;
	font-size:24px;
	color: #2B2B2B;
	line-height: 36px;
	padding-left: 64px;
}
/* 我们的价值 */
.value{
	position: relative;
	height: 1081px;
	width: 100%;
	background: #2B2996;
	margin-top: 312px;
}
.our_title{
	padding-top: 101px;
	font-size: 16px;
	color: #fff;
	padding-left: 228px;
}
.space_three{
	width: 100px;
	height: 3px;
	background: #96BAFF;
	margin-left: 190px;
	margin-top: 28px;
	margin-bottom: 79px;
}
.transparent,.technology,.people{
	position: relative;
	margin-left: 218px;
	color: #fff;
	margin-top: 118px;
}
.transparent>p,.technology>p,.people>p{
	margin-left: 130px;
}
.value_head{
	font-size: 28px;
	padding-top: 25px;
}
.value_txt{
   font-size: 16px;
   margin-top: 38px;
}
.img_block{
	position: absolute;
	width: 101px;
	height: 101px;
	background: #96BAFF;
}
.big_img_block{
	position: absolute;
	width: 560px;
	height: 781px;
	background: #AAAAAA;
	top: -50px;
	right: 100px;
}
/* 团队 */
.team{
	position: relative;
	width: 100%;
	margin-top: 241px;
	text-align: center;
}
.end_block{
	position: absolute;
	width: 788px;
	height: 290px;
	background: #F3F7FF;
	left: 0;
	top: 320px;
}
.team_head{
	color: #2B2B2B;
	font-size: 60px;
}
.line_four{
	width: 90px;
	height: 2px;
	background: #96BAFF;
	margin: 29px auto;
}
.photo_wall{
	position: relative;
	margin-left: 190px;
	margin-top: 65px;
}
.photo_content{
	position: relative;
	display: inline-block;
	width: 261px;
	height: 337px;
	margin-right: 52px;
	float: left;

}
.photo_content:nth-child(even){
	margin-top: 65px;
}
.photo_content .img_bg{
	position: absolute;
	display: inline-block;
	background: #AAAAAA;
	width: 261px;
	height: 337px;
	left: 0;
	top: 0;
}
.photo_content .img_cover{
    position: absolute;
	display: inline-block;
	background:#2B2996;
	width:0;
	height: 337px;
	left: 0;
	top: 0;
	z-index: 100;
	transition:all 0.4s linear;

}
.photo_content:hover .img_cover{
    width: 261px;
}
/* 关于我们 */
.prefooter {
    position: relative;
    padding: 260px 0 0px 0;
    overflow: hidden;
}
.container.maxwidth2 {
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
.prefooter > .container > div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: #F3F7FF;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -moz-transition: -webkit-transform 600ms ease-in-out;
    -ms-transition: -webkit-transform 600ms ease-in-out;
    transition: -webkit-transform 600ms ease-in-out;
}
.prefooter > .container a:nth-of-type(1) {
    left: 0;
    top: -10%;
}
.prefooter > .container a {
    position: absolute;
    width: 57%;
    display: flex;
    color: #fff;
    text-decoration: none;
    background: #3C39CD;
}
.prefooter > .container a > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 120px;
}
.prefooter > .container a p {
    margin-bottom:15px;
    font-size: 16x;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:1px;
}
.title--header4 {
    font-size:26px;
    color: #FFFFFF;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.prefooter > .container a:nth-of-type(2) {
    right: 0;
    top: 27%;
    text-align: right;
    background:#19178D;
}
.prefooter .bg-hover,.prefooter .bg-hoverright{
	background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    -moz-transition: -webkit-transform 400ms ease-in-out;
    -ms-transition: -webkit-transform 400ms ease-in-out;
    transition:  400ms ease-in-out;
}
.prefooter .bg-hoverright{
	left: 100%;
}

.prefooter > .container a:nth-of-type(1):hover .bg-hover{
	left: 0;
} 
.prefooter > .container a:nth-of-type(2):hover .bg-hoverright{
	left: 0;
} 
@media all and (max-width:1400px) and (min-width:1240px) {
	.container{
	  width: 1000px;
     }
    
    .big_img_block{
    	right: 35px;
    }
}