.container_center{
	width: 1400px;
	margin: 0 auto;
}
/* 导航 */
.nav{
	height: 120px;
	width: 100%;
	position: relative;
}
.logo{
	position: fixed;
	width: 128px;
	height: 21px;
	top: 91px;
	left: 101px;
	z-index: 1000;
}
.logo img{
    width: 128px;
    height: 21px;
}
.control{
	display: inline-block;
	position: fixed;
	top: 89px;
	right:101px;
	z-index: 1000;
}
.control>span{
	font-size: 20px;
}
.lineGroup{
	display: inline-block;
	margin-left: 37px;
}
.lineGroup .line{
   width: 25px;
   height: 3px;
   background: #2B2B2B;
   margin-top: 2px;
}
.lineGroup .line2{
	margin-left: 5px;
}
/* 中间内容 */
.help{
	margin-top: 258px;
}
.help .xl{
	font-size: 60px;
	color: #2b2b2b;
}
.help .xl .line_one{
	display: inline-block;
	width: 100px;
	height: 2px;
	background: #96BAFF;
	vertical-align: middle;
	margin-left: -25px;
}
.help .need{
	font-size: 20px;
	margin-top: 76px;
}
.main_box{
	width: 100%;
	position: relative;
	margin-top: 229px;
	margin-bottom: 265px;
}
.box_lft{
	width: 986px;
	height: 600px;
	background: #F3F7FF;
}
.box_lft .inform{
    padding-top: 124px;
    padding-bottom: 33px;
}
.box_lft .line_two{
    width: 50px;
    height: 2px;
    background: #3633F1;
}
.box_lft .email_txt{
	margin-top: 73px;
}
.box_lft .tel,.box_lft .address{
	margin-top: 32px;
}
.s_logo{
	margin-left: 100px;
	margin-top: 68px;
}
.s_logo>a{
   display: inline-block;
   width: 60px;
   height: 60px;
   float: left;
   margin-right: 40px;
}
.s_logo>a.qq{
  background: url(../../images/contact/QQ.png)
}
.s_logo>a.wx{
	background: url(../../images/contact/WX.png)
}
.s_logo>a.wb{
	background: url(../../images/contact/XL.png)
}
.color{
    color: #2B2996;
    font-size: 14px;
    margin-left: 100px;
}
/* 发消息框 */
#box_rit{
	width: 690px;
	height: 800px;
	background: #2B2996;
	position: absolute;
	right: 0;
	top: -55%;
}
.mg_lft{
	margin-left: 120px;
}
#box_rit .send_msg{
	color: #fff;
	margin-top: 93px;
}
#box_rit .line_three{
	width: 80px;
	height: 2px;
	background: #96BAFF;
	margin-top: 37px;
	margin-left: 90px;
}
.contact_form>input[type="text"]{
	height: 60px;
	display: block;
}
.contact_form>textarea{
    height: 140px;
    padding-top: 22px;
    display: block;
}
.ht{
	width: 410px;
	background: #25237C;
	border:#4240B6;
	margin-top: 22px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	outline: none;
}
input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #9391F1; 
    font-size: 14px;  
} 
.contact_form>span{
	margin-top: 26px;
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
	margin-top: 26px;
}
.check_box{
	margin-top: 2px;
	vertical-align: middle;
	margin-left: 120px;
}

.contact_form .send{
	display:block;
	margin-top:75px;
	background: #3C39CD;
	width: 100px;
	height: 60px;
	border: none;
	float: right;
	margin-right: 121px;	
}
.send>a{
		color: #fff;
		font-size: 14px;
}
/* 最大宽度为1400时 最小为1024*/
@media all and (max-width:1400px) and (min-width:1024px) {
	.container_center{
	   width:1200px;
     }
    
}
@media all and (max-width:1024px){
	.container_center{
	   width:100%;
     }
    
}