<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 账户总览</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/account_overview.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo"><a href="../../../../../../index.htm">SumChance</a></div>
				<div class="logo_txt"><a href="#">管理控制台</a></div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
							<!--<span class="u123"></span>
						-->
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:;" title="">用户xxx</a>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
		<li  class="inactive">
			<a href="#">
				<span class="bjt"></span>
				产品与服务
			</a>
			<ul>
				<li>
					<a href="#">云推广</a>
				</li>
				<li>
					<a href="#">网络外包</a>
				</li>
				<li>
					<a href="#">自主建站</a>
				</li>
				<li>
					<a href="#">形象策划</a>
				</li>
			</ul>
		</li>

		<li class="inactive">
			<a href="#" >
				<span class="bjt"></span>
				费用
			</a>
			<ul  class="active">
				<li   class="active">
					<a href="#">账户总览</a>
				</li>
				<li>
					<a href="#">我的订单</a>
				</li>
				<li class="last">
					<a href="#">消费记录</a>
				</li>
				<li class="last">
					<a href="#">续费管理</a>
				</li>
				<li class="last">
					<a href="#">退订管理</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				工单
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">我的工单</a>
				</li>
				<li>
					<a href="#" class="inactive">提交工单</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				账户管理
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">账户概括</a>
				</li>
				<li>
					<a href="#" class="inactive">账户信息</a>
				</li>
				<li>
					<a href="#">安全设置</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
				<a href="#">
					<span class="rjt"></span>
					统计
				</a>
				<ul>
					<li >
						<a href="#" class="inactive">网站列表</a>
					</li>
					<li>
						<a href="#" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="#" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="#">访问分析</a>
					</li>
					<li>
						<a href="#" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="#" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
	</ul>
</div>
</div>
<div class="main_right">
<div class="block_two">
	<!-- 账户余额 -->
	<div class="balance box_show">
		<p>账户余额</p>
	    <div class="balance_lft">
	    	<span>8.88</span>
	    </div>
	    <div class="balance_rit">
	    	<button type="button" class="recharge"><a href="javascript:;" title="">充值</a></button>
	    	<button type="button" class="refund"><a href="javascript:;" title="">退款</a></button>
	    </div>
	</div>
	<!-- 公告 -->
	<div class="notice box_show">
		<p>公告</p>
		<ul>
			<li>三千客最新优惠XXXX，我们满足你的需求。</li>
			<li>三千客最新优惠XXXX，我们满足你的需求。</li>
			<li>三千客最新优惠XXXX，我们满足你的需求。</li>
			<li>三千客最新优惠XXXX，我们满足你的需求。</li>
			<li>三千客最新优惠XXXX，我们满足你的需求。</li>
		</ul>
	</div>
	<div style="clear:both"></div>
</div>
<!--充值中心-->
<div class="voucher box_show">
	<p>充值中心</p>
	<div class="voucher_lft">
		<form action="account_overview_submit" method="get" class="voucher_form">
			<div class="form_group">
				<label for="">支付金额：</label>
				<input type="text" name="" value="" placeholder="请选择你要充值的金额……">
			</div>
			<div class="form_group">
				<label for="">支付方式：</label>
				<input type="radio" name="pay" value=""><span></span>支付宝扫码支付<br>
				<input type="radio" name="pay" value=""><span></span>微信扫码支付
			</div>
			<div class="form_group">
				<label for="">服务协议：</label>
				<input type="radio" name="" value=""><span></span>我已经阅读并同意<a href="#">《服务协议》</a>
			</div>
			<button type="button">确定</button>
		</form>
	</div>
	<div class="voucher_rit">
		<div class="code"></div>
		<p>二维码</p>
	</div>
	<div style="clear:both"></div>
</div>
</div>
</div>
</body>
</html>