<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 流量分析</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/Flow_analysis.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/echarts.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/Flow_analysis.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/Flow_analysis_charts.js"></script>

</head>
<body>
<!-- 头部 -->
<div class="head_top">
	<div class="nav_head">
		<div class="nav_lft">
			<div class="logo">
				<a href="../../../../../../index.htm">SumChance</a>
			</div>
			<div class="logo_txt">
				<a href="../index.html">管理控制台</a>
			</div>
		</div>

		<div class="nav_rit">
			<ul class="function_list">
				<li class="first_search">

					<a href="javascript:;" title="">搜索</a>
				</li>
				<li class="drop-down">
					<span class="msg">10</span>
					<a href="javascript:;" title="">消息</a>
					<div class="station_msg">
						<!--<span class="u123"></span>
					-->
					<p class="msg_tit">
						<span>站内消息通知</span>
						<span>消息接收管理</span>
					</p>
					<ul>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
					</ul>
					<p>
						<a href="" title="">查看更多</a>
					</p>
				</div>
			</li>
			<li class="drop-down">
				<span class="order"></span>
				<a href="javascript:;" title="">订单</a>
				<div class="my_order">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>
						<a href="" title="">充值</a>
					</li>
					<li>
						<a href="" title="">订单</a>
					</li>
					<li>
						<a href="" title="">消费记录</a>
					</li>
					<li>
						<a href="" title="">续费管理</a>
					</li>
					<li>
						<a href="" title="">进入费用中心</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="drop-down">
			<span class="cost"></span>
			<a href="javascript:;" title="">工单</a>
			<div class="my_cost">
				<!--<span class="u123"></span>
			-->
			<ul>
				<li>我的工单</li>
				<li>提交工单</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="javascript:;" title="">用户xxx</a>
	</li>
	<span class="search"></span>
</ul>
<div class="search_box">
	<input type="text" name="" value="" placeholder="" class="search_txt">
	<span class="close"></span>
	<span class="find"></span>
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
<span></span>
<span></span>
<span></span>
</p>
<div class="list">
<ul class="yiji">
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			产品与服务
		</a>
		<ul>
			<li >
				<a href="#">云推广</a>
			</li>
			<li>
				<a href="#">网络外包</a>
			</li>
			<li>
				<a href="#">自主建站</a>
			</li>
			<li>
				<a href="#">形象策划</a>
			</li>
		</ul>
	</li>

	<li class="inactive">
		<a href="#" >
			<span class="rjt"></span>
			费用
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户总览</a>
			</li>
			<li>
				<a href="#" class="inactive">我的订单</a>
			</li>
			<li class="last">
				<a href="#">消费记录</a>
			</li>
			<li class="last">
				<a href="#">续费管理</a>
			</li>
			<li class="last">
				<a href="#">退订管理</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			工单
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">我的工单</a>
			</li>
			<li>
				<a href="#" class="inactive">提交工单</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			账户管理
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户概括</a>
			</li>
			<li>
				<a href="#" class="inactive">账户信息</a>
			</li>
			<li>
				<a href="#">安全设置</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="bjt"></span>
			统计
		</a>
		<ul class="active">
			<li>
				<a href="#" class="inactive">网站列表</a>
			</li>
			<li>
				<a href="template/Websitelist.html" class="inactive">网站概况</a>
			</li>
			<li class="active">
				<a href="#" class="inactive">流量分析</a>
			</li>
			<li>
				<a href="template/Access-analysis.html" class="inactive">访问分析</a>
			</li>
			<li>
				<a href="#" class="inactive">来源分析</a>
			</li>
			<li>
				<a href="#">访客分析</a>
			</li>
			<li>
				<a href="#" class="inactive">优化分析</a>
			</li>
			<li>
				<a href="#" class="inactive">搜索排名</a>
			</li>
		</ul>
	</li>
</ul>
</div>
</div>
<div class="main_conter">
	<ul>
		<li class="title">流量分析</li>
		<li>
			<a href="javascript::"  class="active">实时访客</a>
		</li>
		<li>
			<a href="javascript::">趋势分析</a>
		</li>
		<li>
			<a href="javascript::">受访域名</a>
		</li>
	</ul>
</div>
<div class="main_right box_show">
	<p>
		当前在线
		<span>
			<span>60</span>
			秒后更新数据
		</span>
	</p>
	<div class="date">
		<p id="Specific_date"></p>
		<p class="number">18</p>
		<p>在线访客数</p>
	</div>
	<div class="charts">
		<p>最近30分钟访问情况</p>
		<div id="charts_box" style="width: 100%; height:300px;"></div>
	</div>
	<div style="clear:both"></div>
</div>
<!-- 访问明细 -->
<div class="main_btn box_show">
       <p>访问明细</p>
       <div class="drop1">
       	  <span>来源：</span>
       	  <select name="">
       	  	<option value="">全部</option>
       	  	<option value="">直接访问</option>
       	  	<option value="">搜索引擎</option>
       	  	<option value="">外部链接</option>
       	  </select>
       	  <span>地域：</span>
       	  <select name="">
       	  	<option value="">全部</option>
       	  	<option value="">全国</option>
       	  	<option value="">省自治区</option>
       	  </select>
       	  <span>设备：</span>
          <ul class="all dianji">
          	<li class="active ">全部</li>
          	<li>计算机</li>
          	<li>移动设备</li>
          </ul>
       </div>
       <div class="drop2">
       	  <span>访客：</span>
          <ul class="visitor dianji">
          	<li class="active">全部</li>
          	<li>新访客</li>
          	<li>老访客</li>
          	<div style="clear:both">
          		
          	</div>
          </ul>
          <span>日期：</span>
       	  <select name="">
       	  	<option value="">时间(全部)</option>
       	  	<option value="">昨天</option>
       	  	<option value="">今天</option>
       	  	<option value="">明天</option>
       	  </select>
       </div>
       <div class="drop3">
       	  <form action="Flow_analysis_submit" method="get" class="sea_list">
            <label for="">关键字/搜索词</label>
            <input type="text" name="" value="" placeholder="请输入……">
            <label for="">入口页面</label>
            <input type="text" name="" value="" placeholder="请输入……">
            <label for="">访客标识码</label>
            <input type="text" name="" value="" placeholder="请输入……">
            <label for="">IP</label>
            <input type="text" name="" value="" placeholder="请输入……">
            <button type="button" class="query">查询</button>
       	  </form>
       </div>
       <div class="visit">
       	  <div class="visit_top">
       	  	<span class="access">访问时间</span>
       	  	<span class="source">来源</span>
       	  	<span class="enter">入口页面</span>
       	  	<span class="word">搜索词</span>
       	  	<span class="duration">访问时长</span>
       	  </div>
       	  <div class="visit_con">
       	  	<span class="access"><span>1</span>2017/12/28 13:02:32</span>
       	  	<span class="source link_color">百度</span>
       	  	<span class="enter link_color">www.niasi.com</span>
       	  	<span class="word">三千客</span>
       	  	<span class="duration">2’6”</span>
       	  </div>
       </div>
       <div class="visit_con">
       	
       </div>
</div>
</div>
</body>
</html>