<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 访客分析</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/Guest.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
</head>
<body>
<!-- 头部 -->
<div class="head_top">
	<div class="nav_head">
		<div class="nav_lft">
			<div class="logo">
				<a href="../../../../../../index.htm">SumChance</a>
			</div>
			<div class="logo_txt">
				<a href="../index.html">管理控制台</a>
			</div>
		</div>

		<div class="nav_rit">
			<ul class="function_list">
				<li class="first_search">

					<a href="javascript:;" title="">搜索</a>
				</li>
				<li class="drop-down">
					<span class="msg">10</span>
					<a href="javascript:;" title="">消息</a>
					<div class="station_msg">
						<!--<span class="u123"></span>
					-->
					<p class="msg_tit">
						<span>站内消息通知</span>
						<span>消息接收管理</span>
					</p>
					<ul>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
					</ul>
					<p>
						<a href="" title="">查看更多</a>
					</p>
				</div>
			</li>
			<li class="drop-down">
				<span class="order"></span>
				<a href="javascript:;" title="">订单</a>
				<div class="my_order">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>
						<a href="" title="">充值</a>
					</li>
					<li>
						<a href="" title="">订单</a>
					</li>
					<li>
						<a href="" title="">消费记录</a>
					</li>
					<li>
						<a href="" title="">续费管理</a>
					</li>
					<li>
						<a href="" title="">进入费用中心</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="drop-down">
			<span class="cost"></span>
			<a href="javascript:;" title="">工单</a>
			<div class="my_cost">
				<!--<span class="u123"></span>
			-->
			<ul>
				<li>我的工单</li>
				<li>提交工单</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="javascript:;" title="">用户xxx</a>
	</li>
	<span class="search"></span>
</ul>
<div class="search_box">
	<input type="text" name="" value="" placeholder="" class="search_txt">
	<span class="close"></span>
	<span class="find"></span>
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
<span></span>
<span></span>
<span></span>
</p>
<div class="list">
<ul class="yiji">
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			产品与服务
		</a>
		<ul>
			<li >
				<a href="#">云推广</a>
			</li>
			<li>
				<a href="#">网络外包</a>
			</li>
			<li>
				<a href="#">自主建站</a>
			</li>
			<li>
				<a href="#">形象策划</a>
			</li>
		</ul>
	</li>

	<li class="inactive">
		<a href="#" >
			<span class="rjt"></span>
			费用
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户总览</a>
			</li>
			<li>
				<a href="#" class="inactive">我的订单</a>
			</li>
			<li class="last">
				<a href="#">消费记录</a>
			</li>
			<li class="last">
				<a href="#">续费管理</a>
			</li>
			<li class="last">
				<a href="#">退订管理</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			工单
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">我的工单</a>
			</li>
			<li>
				<a href="#" class="inactive">提交工单</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			账户管理
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户概括</a>
			</li>
			<li>
				<a href="#" class="inactive">账户信息</a>
			</li>
			<li>
				<a href="#">安全设置</a>
			</li>
		</ul>
	</li>
		 <li  class="inactive">
				<a href="#">
					<span class="bjt"></span>
					统计
				</a>
				<ul  class="active">
					<li>
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li> 
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="Access-analysis.html">访问分析</a>
					</li>
					<li class="active">
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="#" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
</ul>
</div>
</div>
<div class="main_conter">
    <p class="title">流量分析</p>
	<ul>
		<li>
			<a href="javascript:;"  class="active">地域分布</a>
		</li>
		<li>
			<a href="javascript:;">系统环境</a>
		</li>
		<li>
			<a href="javascript:;">新老访客</a>
		</li>
		<li>
			<a href="javascript:;">访客属性</a>
		</li>
	</ul>
</div>
<div class="main_right box_show">
	<div class="tab show_tab">
  <!-- 地域分布 -->
<div class="main_btn">
       <p>地域分布</p>
	        <div class="drop1">
		         <div class="layout">
		       	  <span>来源：</span>
		          <ul class="all dianji">
		          	  <li class="active ">今天</li>
		          	  <li>昨天</li>
		          </ul>  	 	
		       	  </div>
		       	  <div class="layout">
			       	  <span>地域：</span>
			       	  <select name="">
			       	  	<option value="">全部</option>
			       	  	<option value="">全国</option>
			       	  	<option value="">省自治区</option>
			       	  </select>      	  	
		       	  </div>
		       	  <div class="layout">
		       	    <span>设备：</span>
		            <ul class="all dianji">
		          	  <li class="active ">全部</li>
		          	  <li>老访客</li>
		          	  <li>新访客</li>
		            </ul>  	 	
		       	  </div>
            </div>
       <div class="drop2">
       	    <ul>
       	    	<li>
       	    		<p>浏览量（PV）</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>访客数（UV）</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>IP数</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>跳出率</p>
       	    		<span>100%</span>
       	    	</li>
       	    	<li>
       	    		<p>平均访问时长</p>
       	    		<span>00:00:00</span>
       	    	</li>
       	    </ul>
       	    <div class="line"></div>
       </div>
       <!--地图分析-->
       <div class="Guest-map">
       	 <div class="left-map">
       	 	<div id="main_map" style="width: 100%;height: 400px;"></div>
       	 </div>
       	 <div class="left-list"></div>
       </div>
</div>
</div>
	<div class="tab">
  <!-- 地域分布 -->
<div class="main_btn">
       <p>地域分布</p>
	        <div class="drop1">
		         <div class="layout">
		       	  <span>来源：</span>
		          <ul class="all dianji">
		          	  <li class="active ">今天</li>
		          	  <li>昨天</li>
		          </ul>  	 	
		       	  </div>
		       	  <div class="layout">
			       	  <span>地域：</span>
			       	  <select name="">
			       	  	<option value="">全部</option>
			       	  	<option value="">全国</option>
			       	  	<option value="">省自治区</option>
			       	  </select>      	  	
		       	  </div>
		       	  <div class="layout">
		       	    <span>设备：</span>
		            <ul class="all dianji">
		          	  <li class="active ">全部</li>
		          	  <li>老访客</li>
		          	  <li>新访客</li>
		            </ul>  	 	
		       	  </div>
            </div>
       <div class="drop2">
       	    <ul>
       	    	<li>
       	    		<p>浏览量（PV）</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>访客数（UV）</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>IP数</p>
       	    		<span>16</span>
       	    	</li>
       	    	<li>
       	    		<p>跳出率</p>
       	    		<span>100%</span>
       	    	</li>
       	    	<li>
       	    		<p>平均访问时长</p>
       	    		<span>00:00:00</span>
       	    	</li>
       	    </ul>
       	    <div class="line"></div>
       </div>
       <!--地图分析-->
       <div class="Guest-bin">
       	 	<div id="main_map2" style="width:1000px;height: 400px;"></div>
       </div>
</div>
</div>
</div>
</div>
</body>
<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
<script type="text/javascript" src="../../js/common-js/common.js"></script>	
<script type="text/javascript" src="../../js/echarts.js"></script>
<script type="text/javascript" src="../../js/echarts.common.min.js"></script>
<script type="text/javascript" src="../../js/subpage-js/Flow_analysis.js"></script>
<script type="text/javascript">
	    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
            [
                'echarts',
                'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/map', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/pie'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart_map = ec.init(document.getElementById('main_map'));

                var itemStyle = {
                    normal:{label:{
                        show:true,
                        formatter:'{b}',
                        textStyle: {fontSize: 10,fontWeight : 'bold'}
                    }},
                    emphasis:{label:{show:true}}
                };
                var option_map = {
                    tooltip : {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'horizontal',
                        x:'left',
                        data:['','']
                    },
                    dataRange: {
                        min: 0,
                        max: 2500,
                        x: 'left',
                        y: 'bottom',
                        text:['高','低'],           // 文本，默认为数值文本
                        calculable : true,
                        itemWidth:10,  
		                // 图例图形高度  
		                itemHeight:10,  
		                orient: 'horizontal',
		                
                    },
                    series : [
                        {
                            name: '浏览量',
                            type: 'map',
                            mapType: 'china',
                            roam: false,
                            itemStyle: itemStyle,
                            data:[
                                {name: '北京',value: Math.round(Math.random())},
                                {name: '天津',value: Math.round(Math.random())},
                                {name: '上海',value: Math.round(Math.random())},
                                {name: '重庆',value: Math.round(Math.random())},
                                {name: '河北',value: Math.round(Math.random())*1000},
                                {name: '河南',value: Math.round(Math.random())*1000},
                                {name: '云南',value: Math.round(Math.random())*1000},
                                {name: '辽宁',value: Math.round(Math.random())*1000},
                                {name: '黑龙江',value: Math.round(Math.random())*1000},
                                {name: '湖南',value: Math.round(Math.random())*1000},
                                {name: '安徽',value: Math.round(Math.random()*1000)},
                                {name: '山东',value: Math.round(Math.random()*1000)},
                                {name: '新疆',value: Math.round(Math.random()*1000)},
                                {name: '江苏',value: Math.round(Math.random()*1000)},
                                {name: '浙江',value: Math.round(Math.random()*30)},
                                {name: '江西',value: Math.round(Math.random()*1000)},
                                {name: '湖北',value: Math.round(Math.random()*1000)},
                                {name: '广西',value: Math.round(Math.random()*1000)},
                                {name: '甘肃',value: Math.round(Math.random()*1000)},
                                {name: '山西',value: Math.round(Math.random()*20)},
                                {name: '内蒙古',value: Math.round(Math.random()*10)},
                                {name: '陕西',value: Math.round(Math.random()*1000)},
                                {name: '吉林',value: Math.round(Math.random()*1000)},
                                {name: '福建',value: Math.round(Math.random()*1000)},
                                {name: '贵州',value: Math.round(Math.random()*1000)},
                                {name: '广东',value: Math.round(Math.random()*1000)},
                                {name: '青海',value: Math.round(Math.random()*1000)},
                                {name: '西藏',value: Math.round(Math.random()*1000)},
                                {name: '四川',value: Math.round(Math.random()*1000)},
                                {name: '宁夏',value: Math.round(Math.random()*1000)},
                                {name: '海南',value: Math.round(Math.random()*1000)},
                                {name: '台湾',value: Math.round(Math.random()*1000)},
                                {name: '香港',value: Math.round(Math.random()*1000)},
                                {name: '澳门',value: Math.round(Math.random()*1000)}
                            ]
                      },
                    ]
                };
                // 为echarts对象加载数据
                myChart_map.setOption(option_map);
            }
    );
</script>
<script type="text/javascript">
		    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
            [
                'echarts',
                'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/map', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/pie'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart_map2 = ec.init(document.getElementById('main_map2'));

                var itemStyle = {
                    normal:{label:{
                        show:true,
                        formatter:'{b}',
                        textStyle: {fontSize: 10,fontWeight : 'bold'}
                    }},
                    emphasis:{label:{show:true}}
                };
                var option_bin = {
				    color: ['#3398DB'],
				    tooltip : {
				        trigger: 'axis',
				        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
				            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
				        }
				    },
				    grid: {
				        left: '3%',
				        right: '4%',
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis : [
				        {
				            type : 'category',
				            data : ['计算机终端', '移动端浏览器'],
				            axisTick: {
				                alignWithLabel: true
				            },
				             axisLine:{  
                                lineStyle:{  
                                    color:'#cccccc',  
                                    width:0.1,//这里是为了突出显示加上的  
                                }  
                            }  
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value',
				            axisLine:{  
                                lineStyle:{  
                                    color:'#cccccc',  
                                    width:1,//这里是为了突出显示加上的  
                                }  
                            }  
				        }
				        
				    ],
				    series : [
				        {
				            name:'直接访问',
				            type:'bar',
				            barWidth: '10',
				            data:[10, 52]
				        }
				    ]
				};

                // 为echarts对象加载数据
                myChart_map2.setOption(option_bin);
            });
</script>
</html>