<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 我的工单</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/my_worklist.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/my_worklist.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo">
					<a href="../../../index.htm">SumChance</a>
				</div>
				<div class="logo_txt">
					<a href="../index.html">管理控制台</a>
				</div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li  class="drop-down">
			<a href="javascript:;" title="">用户<span id="userId"></span></a>
			<div class="my_user">
				<ul>
					<li><a href="../../en/information.html" title="">完善资料</a></li>
					<li>注销</li>
				</ul>
			</div>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				产品与服务
			</a>
			<ul>
				<li>
					<a href="promotion.html">云推广</a>
				</li>
				<li>
					<a href="network.html">网络外包</a>
				</li>
				<li>
					<a href="station.html">自主建站</a>
				</li>
				<li>
					<a href="#">形象策划</a>
				</li>
			</ul>
		</li>

		<li class="inactive">
			<a href="#" >
				<span class="rjt"></span>
				费用
			</a>
		<ul>
			<li>
				<a href="account_overview.html">账户总览</a>
			</li>
			<li>
				<a href="myorder.html">我的订单</a>
			</li>
			<li>
				<a href="record.html">消费记录</a>
			</li>
			<li>
				<a href="renew.html">续费管理</a>
			</li>
			<li>
				<a href="javascript:;">退订管理</a>
			</li>
		</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="bjt"></span>
				工单
			</a>
			<ul class="active">
				<li class="active">
					<a href="my_worklist.html">我的工单</a>
				</li>
				<li>
					<a href="submit.html">提交工单</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				账户管理
			</a>
		<ul>
			<li>
				<a href="account_summary.html">账户概括</a>
			</li>
			<li>
				<a href="account_information.html">账户信息</a>
			</li>
			<li>
				<a href="security_setting.html">安全设置</a>
			</li>
		</ul>
		</li>
		<li  class="inactive">
				<a href="#">
					<span class="rjt"></span>
					统计
				</a>
				<ul>
					<li >
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li>
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="pageviews.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="ranking.html" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
	</ul>
</div>
</div>
<div class="main_right net">
<!-- 消费详细 -->
<div class="all_services box_show">
	<p>详细消费</p>
	<div class="consume">
		<p class="findbox">
	       <label for="">工单号：</label><input type="text" name="" value="">
	       <label for="">关键字：</label><input type="text" name="" value="">
	       <button type="button" class="select">查询</button>
		</p>
		<table cellspacing="0" cellpadding="0" class="services_tab">
			<tbody>
				<tr>
					<td>工单编号</td>
					<td>服务类型</td>
					<td>操作人</td>
					<td>提交时间</td>
					<td>状态</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>GD-0001</td>
					<td>三千客云推广</td>
					<td>123</td>
					<td>50%</td>
					<td>已支付</td>
					<td><span class="renew">查看详情</span></td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
</div>
</div>
<!-- 遮罩层 -->
<div class="mask">
	<div class="mask_box">
		<p>
          <span class="tit1">工作详情</span>
          <span class="tit2">工单编号：GD-0001</span>
		</p>
		<div class="search_div">
			<input type="text" name="" value="" placeholder="工作内容/日期/负责人">
			<button type="button" class="sousou">搜&nbsp;&nbsp;索</button>
		</div>
		<div class="work_con gary">
			<span class="con">工作内容</span>
			<span class="date">日期</span>
			<span class="people">负责人</span>
			<span class="file">文件</span>
			<span class="view"></span>
		</div>
		<div class="scroll">
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
	    <div class="work_con con_list">
	    	<span class="con"><input type="checkbox" name="" value="">文案编辑</span>
			<span class="date">2018-02-31</span>
			<span class="people">李磊</span>
			<span class="file"><i></i>文案编辑.xls</span>
			<span class="view"><a href="javascript:;" title="">在线预览</a></span>
	    </div>
		</div>
		<div class="mask_foot">
			<input type="checkbox" name="" value="">全选
			<button type="button" class="download">下载</button>
			<button type="button" class="cancel">取消</button>
		</div>
	</div>
</div>
</body>
</html>