<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 云推广</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/promotion.css">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/promotion.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo"><a href="../../../../../../index.htm">SumChance</a></div>
				<div class="logo_txt"><a href="#">管理控制台</a></div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
							<!--<span class="u123"></span>
						-->
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:;" title="">用户xxx</a>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
		<li  class="inactive">
			<a href="#">
				<span class="bjt"></span>
				产品与服务
			</a>
			<ul class="active">
				<li class="active">
					<a href="#">云推广</a>
				</li>
				<li>
					<a href="#">网络外包</a>
				</li>
				<li>
					<a href="#">自主建站</a>
				</li>
				<li>
					<a href="#">形象策划</a>
				</li>
			</ul>
		</li>

		<li class="inactive">
			<a href="#" >
				<span class="rjt"></span>
				费用
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">账户总览</a>
				</li>
				<li>
					<a href="#" class="inactive">我的订单</a>
				</li>
				<li class="last">
					<a href="#">消费记录</a>
				</li>
				<li class="last">
					<a href="#">续费管理</a>
				</li>
				<li class="last">
					<a href="#">退订管理</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				工单
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">我的工单</a>
				</li>
				<li>
					<a href="#" class="inactive">提交工单</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				账户管理
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">账户概括</a>
				</li>
				<li>
					<a href="#" class="inactive">账户信息</a>
				</li>
				<li>
					<a href="#">安全设置</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				统计
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">访问分析</a>
				</li>
				<li>
					<a href="#" class="inactive">转化分析</a>
				</li>
				<li>
					<a href="#">访客分析</a>
				</li>
				<li>
					<a href="#" class="inactive">优化分析</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
</div>
<div class="main_right">
<!-- 云推广 -->
<div class="cloud_promotion box_show">
	<p>云推广</p>
	<p class="ad">
		公告：
		<span>
			【12-01】
			<span>我们升级了系统XXXXX。</span>
		</span>
		<span>
			【12-20】
			<span>XXXXXX是我们的新功能</span>
		</span>
	</p>
	<div style="clear:both"></div>
</div>
<div class="block_two">
	<!-- 热门应用 -->
	<div class="application box_show">
		<p>热门应用</p>
		<ul>
			<li>
				<a href="" title="">云搜索</a>
			</li>
			<li>
				<a href="" title="">云广告</a>
			</li>
			<li>
				<a href="" title="">企业问答</a>
			</li>
			<li>
				<a href="" title="">推视频</a>
			</li>
			<li>
				<a href="" title="">关键字直投</a>
			</li>
			<li>
				<a href="" title="">云新闻</a>
			</li>
			<div style="clear:both"></div>
		</ul>
	</div>
	<!-- 服务进度 -->
	<div class="service_progress box_show">
		<p>服务进度</p>
		<div class="progress_bar"></div>
	</div>
	<div style="clear:both"></div>
</div>
<div class="data_table">
	<div class="seo_data box_show">
		<p>seo数据</p>
		<table class="seo_tab" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td>域名年龄：</td>
					<td> </td>
					<td>百度权重：</td>
					<td> </td>
					<td>谷歌PR值：</td>
					<td> </td>
				</tr>
				<tr>
					<td>百度收录：</td>
					<td> </td>
					<td>反复链接：</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>服务器IP：</td>
					<td> </td>
					<td>同网IP地址：</td>
					<td> </td>
					<td>服务器所在地：</td>
					<td> </td>
				</tr>
				<tr>
					<td>是否备案：</td>
					<td> </td>
					<td>SITE第一位：</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>是否被K：</td>
					<td> </td>
					<td>是否降权：</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="price_list box_show">
		<p>竞价表</p>
		<table class="price_tab" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>关键字</th>
					<th>初始排名</th>
					<th>第一页价格</th>
					<th>第二页价格</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>三千客</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>三千客</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>三千客</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>三千客</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="clear:both"></div>
</div>
<div class="my_promotion box_show">
	<p>我的云推广</p>
	<div class="promotion_lft">
		<p>近期发布的云搜索</p>
		<span>三千客的云搜索上百度第一页.</span>
		<p>近期发布的云新闻</p>
		<span>三千客的云新闻上.</span>
	</div>
	<div class="promotion_rit">
		<p>您的安全等级</p>
		<span>您的安全等级较低，请您尽快完善资料...</span>
		<p>您的发布时间即将到期</p>
		<span>尊敬的用户，关于您发布的三千客的云...</span>
		<a href="javascript:;" title="">我要建新的云搜索</a>
	</div>
	<div style="clear:both">
		
	</div>
</div>
</div>
</div>
</body>
</html>