<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 搜索排名</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/ranking.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
</head>
<body>
<!-- 头部 -->
<div class="head_top">
	<div class="nav_head">
		<div class="nav_lft">
			<div class="logo">
				<a href="../../../index.htm">SumChance</a>
			</div>
			<div class="logo_txt">
				<a href="../index.html">管理控制台</a>
			</div>
		</div>

		<div class="nav_rit">
			<ul class="function_list">
				<li class="first_search">

					<a href="javascript:;" title="">搜索</a>
				</li>
				<li class="drop-down">
					<span class="msg">10</span>
					<a href="javascript:;" title="">消息</a>
					<div class="station_msg">
						<!--<span class="u123"></span>
					-->
					<p class="msg_tit">
						<span>站内消息通知</span>
						<span>消息接收管理</span>
					</p>
					<ul>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
					</ul>
					<p>
						<a href="" title="">查看更多</a>
					</p>
				</div>
			</li>
			<li class="drop-down">
				<span class="order"></span>
				<a href="javascript:;" title="">订单</a>
				<div class="my_order">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>
						<a href="" title="">充值</a>
					</li>
					<li>
						<a href="" title="">订单</a>
					</li>
					<li>
						<a href="" title="">消费记录</a>
					</li>
					<li>
						<a href="" title="">续费管理</a>
					</li>
					<li>
						<a href="" title="">进入费用中心</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="drop-down">
			<span class="cost"></span>
			<a href="javascript:;" title="">工单</a>
			<div class="my_cost">
				<!--<span class="u123"></span>
			-->
			<ul>
				<li>我的工单</li>
				<li>提交工单</li>
			</ul>
		</div>
	</li>
		<li  class="drop-down">
			<a href="javascript:;" title="">用户<span id="userId"></span></a>
			<div class="my_user">
				<ul>
					<li><a href="../../en/information.html" title="">完善资料</a></li>
					<li>注销</li>
				</ul>
			</div>
		</li>
	<span class="search"></span>
</ul>
<div class="search_box">
	<input type="text" name="" value="" placeholder="" class="search_txt">
	<span class="close"></span>
	<span class="find"></span>
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
<span></span>
<span></span>
<span></span>
</p>
<div class="list">
<ul class="yiji">
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			产品与服务
		</a>
		<ul>
			<li>
				<a href="promotion.html">云推广</a>
			</li>
			<li>
				<a href="network.html">网络外包</a>
			</li>
			<li>
				<a href="station.html">自主建站</a>
			</li>
			<li>
				<a href="#">形象策划</a>
			</li>
		</ul>
	</li>

	<li class="inactive">
		<a href="#" >
			<span class="rjt"></span>
			费用
		</a>
	    <ul>
			<li>
				<a href="account_overview.html">账户总览</a>
			</li>
			<li>
				<a href="myorder.html">我的订单</a>
			</li>
			<li>
				<a href="record.html">消费记录</a>
			</li>
			<li>
				<a href="renew.html">续费管理</a>
			</li>
			<li>
				<a href="javascript:;">退订管理</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			工单
		</a>
			<ul>
				<li>
					<a href="my_worklist.html" class="inactive">我的工单</a>
				</li>
				<li>
					<a href="submit.html" class="inactive">提交工单</a>
				</li>
			</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			账户管理
		</a>
		<ul>
			<li>
				<a href="account_summary.html">账户概括</a>
			</li>
			<li>
				<a href="account_information.html">账户信息</a>
			</li>
			<li>
				<a href="security_setting.html">安全设置</a>
			</li>
		</ul>
	</li>
		 <li  class="inactive">
				<a href="#">
					<span class="bjt"></span>
					统计
				</a>
				<ul  class="active">
					<li>
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li> 
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="pageviews.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li class="active">
						<a href="ranking.html" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
</ul>
</div>
</div>
<div class="main_right net BGcolor">
	<div class="main_right1 box_show">
		<p>搜索排名</p>
        <div class="sou">
        	<input type="text" name="" value="" placeholder="请输入网址……" id="host" class="search_bar">
        	<button class="view_analysis" id="ViewAnalysis">查看分析</button>
        	<div style="clear:both"></div>
        </div>
	</div>
	  <!-- 访问明细 -->
	<div class="main_btn box_show">
	     <table class="table_one" cellspacing="0" cellpadding="0">
	      	<tbody>
	      		<tr>
	      			<td colspan="2" class="bluebg">网站基本信息</td>
	      		</tr>
	      		<tr>
	      			<td colspan="2" style="border-right: none">全自动专孔机，XXXXXXXX,XXXXXXXXX</td>
	      		</tr>
	      		<tr>
	      			<td class="bluetxt">SE0信息</td>
	      			<td>
	      			    <span>百度权重：<span class="bluetxt" id="seo">0</span> </span>
	      			    <span>360权重： <span class="bluetxt">0</span></span>
	      			    <span>Google： <span class="bluetxt">0</span></span>
	      			    <span>反链数：<span class="redtxt" id="anti-chain">0</span></span>
	      			    <span>出站链数： <span class="redtxt">1</span></span>
	      			    <span>站内链接： <span class="redtxt">103</span></span>
	      		     </td>
	      		</tr>
	      		<tr>
	      			<td class="bluetxt">域名解析</td>
	      			<td>
                      	<span>同IP网站： <span class="bluetxt" id="WithIP">0</span></span>
	      			    <span>响应时间： <span class="bluetxt">85毫秒</span></span>
	      			    <span class="bluetxt">IP：<span id="WithIPN"></span></span>

	      			</td>
	      		</tr>
	      		<tr>
	      			<td class="bluetxt">域名备案</td>
	      			<td id="DomainFiling">
                      	<span>备案号： <span class="bluetxt" id="RecordNumber"></span></span>
	      			    <span>性质：<span id="nature"></span></span>
	      			    <span>名称：<span id="company"></span></span>
	      			    <span>审核时间：<span id="AuditTime"></span></span>
	      			</td>
	      			<td id="Notput">
	      				<span class="bluetxt">域名未备案</span>
	      			</td>
	      		</tr>
	      		<tr>
	      			<td class="bluetxt">域名注册时间</td>
	      			<td>
	      				<span class="bluetxt" id="register"></span>
	      			</td>
	      		</tr>
	      		<tr>
	      			<td class="bluetxt">域名过期时间</td>
	      			<td>
	      				<span class="bluetxt" id="overdue"></span>
	      			</td>
	      		</tr>
	      	</tbody>
	      </table> 
          <table class="table_two" cellspacing="0" cellpadding="0">
          	<tbody>
          		<tr>
          			<td>百度流量预计</td>
          			<td>关键词库</td>
          			<td>百度快照</td>
          			<td>首页位置</td>
          			<td>索引量</td>
          			<td>今日收录</td>
          			<td>最近一周</td>
          			<td>最近一月</td>
          		</tr>
          		<tr>
          			<td class="greentxt" id="Baiduflow">data</td>
          			<td class="greentxt" id="keyword">data</td>
          			<td id="Snapshot">data</td>
          			<td class="greentxt" id="Homepage">data</td>
          			<td class="greentxt" id="indexQuantity">data</td>
          			<td class="greentxt" id="collection">data</td>
          			<td class="greentxt" id="Aweek">data</td>
          			<td class="greentxt" id="month">data</td>
          		</tr>
          	</tbody>
          </table>
          <table class="table_three" cellspacing="0" cellpadding="0">
          	<tbody>
          		<tr>
          			<td colspan="4" class="bluebg">网站<a href="javascript:;"> www.ncjyj.com </a>的收录/反链结果</td>
          		</tr>
          		<tr class="graybg">
          			<td>搜索引擎</td>
          			<td>百度</td>
          			<td>搜狗</td>
          			<td>360</td>
          		</tr>
          		<tr>
          			<td>收录</td>
          			<td class="greentxt" id="baidu">0</td>
          			<td class="greentxt" id="sougou">0</td>
          			<td class="greentxt" id="qihu">0</td>
          		</tr>
          		<tr>
          			<td>反链</td>
          			<td class="greentxt" id="baiduO">0</td>
          			<td class="greentxt" id="sougouO">0</td>
          			<td class="greentxt" id="qihuO">0</td>
          		</tr>
          	</tbody>
          </table>
          <table class="table_four" cellspacing="0" cellpadding="0">
          	<thead>
          	    <tr>
          			<td colspan="8" class="bluebg">关键词排名 <a href="javascript:;" class="addword">添加关键词</a></td>
          		</tr>
          		<tr  class="graybg">
          			<td>关键词</td>
          			<td>PC指数</td>
          			<td>移动指数</td>
          			<td>360指数</td>
          			<td>本地排名</td>
          		</tr>
          	</thead>
          	<tbody id="trend">
          	
          	</tbody>
          </table>
	</div>
</div>
</div>
<div class="mask">
	<div class="mask_box">
		<p>添加关键词</p>
		<div class="mask_con">
			<div class="con2">
				<span>说明</span>
				<div><textarea name="" id="illustrate"></textarea></div>
			</div>
		</div>
		<p class="con3">多个关键词请用英文逗号隔开</p>
		<div class="btn_group">
           <button  type="button" class="ensure btn" id="addKeyword">确定</button>
           <button  type="button" class="cancel btn">取消</button>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
<script type="text/javascript" src="../../js/common-js/common.js"></script>	
<script type="text/javascript" src="../../js/echarts.common.min.js"></script>
<script type="text/javascript" src="../../js/subpage-js/ranking.js"></script>
</html>