<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 消费记录</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/record.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/common-js/echarts.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo">
					<a href="../../../../../../index.htm">SumChance</a>
				</div>
				<div class="logo_txt">
					<a href="../index.html">管理控制台</a>
				</div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:;" title="">用户xxx</a>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				产品与服务
			</a>
			<ul>
				<li>
					<a href="promotion.html">云推广</a>
				</li>
				<li>
					<a href="network.html">网络外包</a>
				</li>
				<li>
					<a href="station.html">自主建站</a>
				</li>
				<li>
					<a href="#">形象策划</a>
				</li>
			</ul>
		</li>

		<li class="inactive">
			<a href="#" >
				<span class="bjt"></span>
				费用
			</a>
			<ul class="active">
				<li>
					<a href="account_overview.html" class="inactive">账户总览</a>
				</li>
				<li>
					<a href="myorder.html">我的订单</a>
				</li>
				<li class="active">
					<a href="record.html">消费记录</a>
				</li>
				<li>
					<a href="renew.html">续费管理</a>
				</li>
				<li>
					<a href="#">退订管理</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				工单
			</a>
			<ul>
				<li>
					<a href="my_worklist.html" class="inactive">我的工单</a>
				</li>
				<li>
					<a href="submit.html" class="inactive">提交工单</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				账户管理
			</a>
		 <ul>
			<li>
				<a href="account_summary.html">账户概括</a>
			</li>
			<li>
				<a href="account_information.html">账户信息</a>
			</li>
			<li>
				<a href="security_setting.html">安全设置</a>
			</li>
		</ul>
		</li>
		<li  class="inactive">
				<a href="#">
					<span class="rjt"></span>
					统计
				</a>
				<ul>
					<li >
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li>
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="pageviews.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="ranking.html" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
	</ul>
</div>
</div>
<div class="main_right net">
<div class="overview box_show">
	<p>消费总览</p>
    <div class="chart">
         <span>一周内</span>
    	<div id="chart1"></div>
    </div>
    <div class="chart">
        <span>一个月内</span>
    	<div id="chart2"></div>
    </div>
    <div class="chart">
        <span>所有消费</span>
    	<div id="chart3"></div>
    </div>
    <div style="clear: both"></div>
</div>
<!-- 消费明细 -->
<div class="all_services box_show">
	<p>消费明细</p>
	<div class="consume">
		<div class="findbox">
		  <div>
		  <span>产品：</span>
	       <select name="">
	       	   <option value="">所有产品</option>
	       	   <option value="">云推广</option>
	       	   <option value="">网络外包</option>
	       	   <option value="">自主建站</option>
	       	   <option value="">形象策划</option>
	       </select>  	
		  </div>
		  <div>
		  <span>支付状态：</span>
	       <select name="">
	       	   <option value="">所有状态</option>
	       	   <option value="">已支付</option>
	       	   <option value="">未结清</option>
	       	   <option value="">未结算</option>
	       </select>  	
		  </div>
		  <div>
		  <span>按账单：</span>
	       <select name="">
	       	   <option value="">2017年12月</option>
	       	   <option value="">2017年11月</option>
	       	   <option value="">2017年10月</option>
	       	   <option value="">2017年9月</option>
	       </select>  	
		  </div>
	       <button type="button" class="select">查询</button>
		</div>
		<table cellspacing="0" cellpadding="0" class="services_tab">
			<tbody>
				<tr>
					<td>消费时间</td>
					<td>账期</td>
					<td>产品</td>
					<td>账单号</td>
					<td>应付金额</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>2017/5/11</td>
					<td>三千客云推广</td>
					<td>123321111</td>
					<td>50%</td>
					<td>已支付</td>
					<td><span class="renew">查看</span><span>删除</span></td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
<!-- 最近消费 -->
<div class="all_services box_show">
	<p>最近消费</p>
	<table cellspacing="0" cellpadding="0" class="services_tab  wid">
		<tbody>
			<tr>
				<td>消费时间</td>
				<td>产品名称</td>
				<td>支付方式</td>
				<td>账单号</td>
				<td>应付金额</td>
				<td>支付状态</td>
				<td>操作</td>
			</tr>
			<tr>
				<td>2017/5/11</td>
				<td>三千客云推广</td>
				<td>支付宝</td>
				<td>123321111</td>
				<td>50%</td>
				<td>已支付</td>
				<td><span class="renew">查看</span><span>删除</span></td>
			</tr>
		</tbody>
	</table>
</div>

</div>
</div>
</body>
<script type="text/javascript">
var chart1 = echarts.init(document.getElementById("chart1"));
option1 = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            magicType : {
                // show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            }
        }
    },
    calculable : true,
    series : [
        {
            // name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:25, name:'网络外包'},
                {value:25, name:'形象策划'},
                {value:25, name:'云推广'},
                {value:25, name:'自主建站'}
            ],
            color:['#8eb5d4','#d6d7d8','#3c80a4','#559cbd']
        }
    ]
};
 chart1.setOption(option1);
</script>
<script type="text/javascript">
var chart2 = echarts.init(document.getElementById("chart2"));
option2 = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            magicType : {
                // show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            }
        }
    },
    calculable : true,
    series : [
        {
            // name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:25, name:'网络外包'},
                {value:25, name:'形象策划'},
                {value:25, name:'云推广'},
                {value:25, name:'自主建站'}
            ],
            color:['#8eb5d4','#d6d7d8','#3c80a4','#559cbd']
        }
    ]
};
 chart2.setOption(option2);
</script>
<script type="text/javascript">
var chart3 = echarts.init(document.getElementById("chart3"));
option3 = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            magicType : {
                // show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            }
        }
    },
    calculable : true,
    series : [
        {
            // name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:25, name:'网络外包'},
                {value:25, name:'形象策划'},
                {value:25, name:'云推广'},
                {value:25, name:'自主建站'}
            ],
            color:['#8eb5d4','#d6d7d8','#3c80a4','#559cbd']
        }
    ]
};
 chart3.setOption(option3);
</script>
</html>