<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 来源分析</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/Source_analysis.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<style type="text/css" media="screen">
		#chart_one,#chart_two{
			width: 100%;
			height: 300px;
		}
	</style>
</head>
<body>
<!-- 头部 -->
<div class="head_top">
	<div class="nav_head">
		<div class="nav_lft">
			<div class="logo">
				<a href="../../../../../../index.htm">SumChance</a>
			</div>
			<div class="logo_txt">
				<a href="../index.html">管理控制台</a>
			</div>
		</div>

		<div class="nav_rit">
			<ul class="function_list">
				<li class="first_search">

					<a href="javascript:;" title="">搜索</a>
				</li>
				<li class="drop-down">
					<span class="msg">10</span>
					<a href="javascript:;" title="">消息</a>
					<div class="station_msg">
						<!--<span class="u123"></span>
					-->
					<p class="msg_tit">
						<span>站内消息通知</span>
						<span>消息接收管理</span>
					</p>
					<ul>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
						<li>
							<p>三千客为你打造一个全新的网络体验</p>
							<span>2017-08-12</span>
						</li>
					</ul>
					<p>
						<a href="" title="">查看更多</a>
					</p>
				</div>
			</li>
			<li class="drop-down">
				<span class="order"></span>
				<a href="javascript:;" title="">订单</a>
				<div class="my_order">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>
						<a href="" title="">充值</a>
					</li>
					<li>
						<a href="" title="">订单</a>
					</li>
					<li>
						<a href="" title="">消费记录</a>
					</li>
					<li>
						<a href="" title="">续费管理</a>
					</li>
					<li>
						<a href="" title="">进入费用中心</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="drop-down">
			<span class="cost"></span>
			<a href="javascript:;" title="">工单</a>
			<div class="my_cost">
				<!--<span class="u123"></span>
			-->
			<ul>
				<li>我的工单</li>
				<li>提交工单</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="javascript:;" title="">用户xxx</a>
	</li>
	<span class="search"></span>
</ul>
<div class="search_box">
	<input type="text" name="" value="" placeholder="" class="search_txt">
	<span class="close"></span>
	<span class="find"></span>
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
<span></span>
<span></span>
<span></span>
</p>
<div class="list">
<ul class="yiji">
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			产品与服务
		</a>
		<ul>
			<li >
				<a href="promotion.html">云推广</a>
			</li>
			<li>
				<a href="network.html">网络外包</a>
			</li>
			<li>
				<a href="station.html">自主建站</a>
			</li>
			<li>
				<a href="#">形象策划</a>
			</li>
		</ul>
	</li>

	<li class="inactive">
		<a href="#" >
			<span class="rjt"></span>
			费用
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户总览</a>
			</li>
			<li>
				<a href="#" class="inactive">我的订单</a>
			</li>
			<li class="last">
				<a href="#">消费记录</a>
			</li>
			<li class="last">
				<a href="#">续费管理</a>
			</li>
			<li class="last">
				<a href="#">退订管理</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			工单
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">我的工单</a>
			</li>
			<li>
				<a href="#" class="inactive">提交工单</a>
			</li>
		</ul>
	</li>
	<li  class="inactive">
		<a href="#">
			<span class="rjt"></span>
			账户管理
		</a>
		<ul>
			<li>
				<a href="#" class="inactive">账户概括</a>
			</li>
			<li>
				<a href="#" class="inactive">账户信息</a>
			</li>
			<li>
				<a href="#">安全设置</a>
			</li>
		</ul>
	</li>
		<li  class="inactive">
				<a href="#">
					<span class="bjt"></span>
					统计
				</a>
				<ul  class="active">
					<li >
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li>
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li class="active">
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="Access-analysis.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="#" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
</ul>
</div>
</div>
<div class="main_conter">
    <p class="title">来源分析</p>
	<ul>
		<li>
			<a href="Source_analysis.html"  class="active">全部来源</a>
		</li>
		<li>
			<a href="source_Engines.html">搜索引擎</a>
		</li>
		<li>
			<a href="source_searchword.html">搜索词</a>
		</li>
		<li>
			<a href="javascript:;">外部链接</a>
		</li>
	</ul>
</div>
<div class="main_right box_show wid">
    <!-- 全部来源子页面 -->
	<div class="tab show_tab">
		<div class="main_right1">
		   <p class="plft">全部来源</p>
		   <div class="drop1 plft">
	    	<div class="layout one">
	    		<span>时间：</span>
		    	<ul class="time dianji">
		    		<li class="active">今天</li>
		    		<span class="border_line"></span>
		    		<li>昨天</li>
		    	</ul>
	    	</div>
	    	<div class="layout two">
	    	<span>设备：</span>
	    	<ul class="equip dianji">
	    		<li class="active">全部</li>
	    		<span class="border_line"></span>
	    		<li>计算机</li>
	    		<span class="border_line"></span>
	    		<li>移动设备</li>
	    	</ul>
	    	</div>
	    	<div class="layout three">
	    	<span>访客：</span>
	    	<ul class="visit dianji">
	    		<li class="active">全部</li>
	    		<span class="border_line"></span>
	    		<li>新访客</li>
	    		<span class="border_line"></span>
	    		<li>老访客</li>
	    	</ul>
	    	</div>
	    </div>
	    <ul class="tab_list">
	    	<li class="active">来源类型</li>
	    	<span></span>
	    	<li>来源网站</li>
	    	<span></span>
	    </ul>
	    <!-- 来源类型选项卡 -->
	    <div class="tab_content show_tab">
		    <ul class="browse_list1">
		    	<li><p>浏览量（PV）</p><span>16</span></li>
		    	<li><p>访客数（UV）</p><span>16</span></li>
		    	<li class="cen"><p>IP数</p><span>6</span></li>
		    	<li class="cen"><p>跳出率</p><span>100%</span></li>
		    	<li class="cen"><p>平均访问时长</p><span>00:01:40</span></li>
		    </ul>
		    <div class="tab_charts">
		    	<div class="chart1">
		    		<div id="chart_one"></div>
		    	</div>
		    	<div class="chart2">
		    		<div id="chart_two"></div>
		    	</div>
		    	<div style="clear:both"></div>
		    </div>
		        <!-- 来源表 -->
		    <div class="source_tab">
		    	<table cellspacing="0" cellpadding="0" class="source_table">
		    		<thead>
		    			<tr>
		    				<th rowspan="2" >来源类型</th>
		    				<th colspan="3">网站基础指标</th>
		    				<th colspan="2">流量质量指标</th>
		    			</tr>
		    			<tr>
		    				<th style="border-left: 1px solid #DEDEDE;">浏览量（PV）</th>
		    				<th>访客数（UV）</th>
		    				<th>IP数</th>
		    				<th>跳出率</th>
		    				<th>平均访问时长</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>1 &nbsp;&nbsp;13:00~13:59</td>
		    				<td>0</td>
		    				<td>0</td>
		    				<td>1</td>
		    				<td>20%</td>
		    				<td>00:00:14</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>  	
	    </div>
	    <!-- 来源网站选项卡 -->
	    <div class="tab_content  ">
		    <ul class="browse_list1">
		    	<li><p>浏览量（PV）</p><span>16</span></li>
		    	<li><p>访客数（UV）</p><span>16</span></li>
		    	<li class="cen"><p>IP数</p><span>6</span></li>
		    	<li class="cen"><p>跳出率</p><span>100%</span></li>
		    	<li class="cen"><p>平均访问时长</p><span>00:01:40</span></li>
		    </ul>
		    <div class="tab_charts">
		    	<div class="chart1">
		    		<iframe src="../template-sub/laiyuan_three.html" frameborder="0"  scrolling="no" style="width: 100%;height:100%;"></iframe>
		    	</div>
		    	<div class="chart2">
		    		<iframe src="../template-sub/laiyuan_four.html" frameborder="0"  scrolling="no" style="width: 100%;height:100%;"></iframe>
		    	</div>
		    	<div style="clear:both"></div>
		    </div>
		        <!-- 来源表 -->
		    <div class="source_tab">
		    	<table cellspacing="0" cellpadding="0" class="source_table">
		    		<thead>
		    			<tr>
		    				<th rowspan="2" >来源网站</th>
		    				<th colspan="3">网站基础指标</th>
		    				<th colspan="2">流量质量指标</th>
		    			</tr>
		    			<tr>
		    				<th style="border-left: 1px solid #DEDEDE;">浏览量（PV）</th>
		    				<th>访客数（UV）</th>
		    				<th>IP数</th>
		    				<th>跳出率</th>
		    				<th>平均访问时长</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>百度</td>
		    				<td>0</td>
		    				<td>0</td>
		    				<td>1</td>
		    				<td>20%</td>
		    				<td>00:00:14</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>  	
	    </div>
	    </div>
	</div>	
</div>
</div>
</body>
<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
<script type="text/javascript" src="../../js/common-js/common.js"></script>	
<script type="text/javascript" src="../../js/echarts.common.min.js"></script>
<script type="text/javascript" src="../../js/subpage-js/Source_analysis.js"></script>
<script type="text/javascript" src="../../js/common-js/echarts.js"></script>
</html>