<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 自主建站</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/station.css">
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo"><a href="../../../../../../index.htm">SumChance</a></div>
				<div class="logo_txt"><a href="#">管理控制台</a></div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
							<!--<span class="u123"></span>
						-->
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:;" title="">用户xxx</a>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
		<li  class="inactive">
			<a href="#">
				<span class="bjt"></span>
				产品与服务
			</a>
			<ul class="active">
				<li>
					<a href="promotion.html">云推广</a>
				</li>
				<li>
					<a href="network.html">网络外包</a>
				</li>
				<li  class="active">
					<a href="station.html">自主建站</a>
				</li>
				<li>
					<a href="#">形象策划</a>
				</li>
			</ul>
		</li>

		<li class="inactive">
			<a href="#" >
				<span class="rjt"></span>
				费用
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">账户总览</a>
				</li>
				<li>
					<a href="#" class="inactive">我的订单</a>
				</li>
				<li class="last">
					<a href="#">消费记录</a>
				</li>
				<li class="last">
					<a href="#">续费管理</a>
				</li>
				<li class="last">
					<a href="#">退订管理</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				工单
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">我的工单</a>
				</li>
				<li>
					<a href="#" class="inactive">提交工单</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
			<a href="#">
				<span class="rjt"></span>
				账户管理
			</a>
			<ul>
				<li>
					<a href="#" class="inactive">账户概括</a>
				</li>
				<li>
					<a href="#" class="inactive">账户信息</a>
				</li>
				<li>
					<a href="#">安全设置</a>
				</li>
			</ul>
		</li>
		<li  class="inactive">
				<a href="#">
					<span class="rjt"></span>
					统计
				</a>
				<ul>
					<li >
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li>
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="pageviews.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="ranking.html" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
	</ul>
</div>
</div>
<div class="main_right net">
<!-- 自主建站 -->
<div class="station box_show">
	<p>自主建站</p>
	<p class="ad">
		公告：
		<span>
			【12-01】
			<span>我们升级了系统XXXXX。</span>
		</span>
		<span>
			【12-20】
			<span>XXXXXX是我们的新功能</span>
		</span>
	</p>
	<div style="clear:both"></div>
</div>
<div class="block_two">
	<!-- 热门应用 -->
	<div class="hotservice box_show">
		<p>热门服务</p>
		<ul>
			<li>
				<a href="" title="">私人定制</a>
			</li>
			<li>
				<a href="" title="">移动网站</a>
			</li>
			<li>
				<a href="" title="">网站模版</a>
			</li>
			<li>
				<a href="" title="">申请域名</a>
			</li>
			<li>
				<a href="" title="">购买服务器</a>
			</li>
			<div style="clear:both"></div>
		</ul>
	</div>
	<!-- 服务进度 -->
	<div class="service_progress box_show">
		<p>服务进度</p>
	</div>
	<div style="clear:both"></div>
</div>
<div class="data_table">
	<div class="template box_show">
		<p>热门模版</p>
		<table class="template_tab" cellspacing="0" cellpadding="0">
			<tbody>
			    <tr>
                     <th>模版名称</th>
                     <th>人气值</th>
                     <th>浏览数</th>
                     <th>报价</th>
			    </tr>
				<tr>
					<td>黑色经典001</td>
					<td> </td>
					<td></td>
					<td> </td>
				</tr>
				<tr>
					<td>蓝色梦幻005</td>
					<td> </td>
					<td></td>
					<td> </td>
				</tr>
				<tr>
					<td>深蓝忧郁004</td>
					<td> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>碧蓝天空008</td>
					<td> </td>
					<td></td>
					<td> </td>
				</tr>
				<tr>
					<td>蓝色梦幻006</td>
					<td> </td>
					<td></td>
					<td> </td>
				</tr>
				<tr>
					<td>黑色经典004</td>
					<td> </td>
					<td></td>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="customized box_show">
		<p>定制展示</p>
        <ul>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
        	<li></li>
			<div style="clear:both"></div>
        </ul>
	</div>
	<div style="clear:both"></div>
</div>
<div class="my_site box_show">
	<p>我的站点</p>
    <p>你没有建立站点，<a href="">点击建立自己的网站吧！</a></p>
</div>
</div>
</div>
</body>
</html>