<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 网站概况</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/promotion.css">
	<link rel="stylesheet" type="text/css" href="../../css/subpage-css/Websiteprofile.css"/>
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/promotion.js"></script>
    <script src="../../js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo"><a href="../../../index.htm">SumChance</a></div>
				<div class="logo_txt"><a href="../index.html">管理控制台</a></div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
							<!--<span class="u123"></span>
						-->
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li  class="drop-down">
			<a href="javascript:;" title="">用户<span id="userId"></span></a>
			<div class="my_user">
				<ul>
					<li><a href="../../en/information.html" title="">完善资料</a></li>
					<li>注销</li>
				</ul>
			</div>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							产品与服务
						</a>
						<ul>
							<li>
								<a href="template/promotion.html">云推广</a>
							</li>
							<li>
								<a href="network.html">网络外包</a>
							</li>
							<li>
								<a href="station.html">自主建站</a>
							</li>
							<li>
								<a href="#">形象策划</a>
							</li>
						</ul>
					</li>

					<li class="inactive">
						<a href="#" >
							<span class="rjt"></span>
							费用
						</a>
			<ul>
				<li>
					<a href="account_overview.html">账户总览</a>
				</li>
				<li>
					<a href="myorder.html">我的订单</a>
				</li>
				<li>
					<a href="record.html">消费记录</a>
				</li>
				<li>
					<a href="renew.html">续费管理</a>
				</li>
				<li>
					<a href="javascript:;">退订管理</a>
				</li>
			</ul>
					</li>
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							工单
						</a>
			<ul>
				<li>
					<a href="my_worklist.html">我的工单</a>
				</li>
				<li>
					<a href="submit.html">提交工单</a>
				</li>
			</ul>
					</li>
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							账户管理
						</a>
		<ul>
			<li>
				<a href="account_summary.html">账户概括</a>
			</li>
			<li>
				<a href="account_information.html">账户信息</a>
			</li>
			<li>
				<a href="security_setting.html">安全设置</a>
			</li>
		</ul>
					</li>
		 <li  class="inactive">
				<a href="#">
					<span class="bjt"></span>
					统计
				</a>
				<ul  class="active">
					<li>
						<a href="Website_list.html" class="inactive">网站列表</a>
					</li>
					<li  class="active"> 
						<a href="Websiteprofile.html" class="inactive">网站概况</a>
					</li>
					<li>
						<a href="Flow_analysis.html" class="inactive">流量分析</a>
					</li>
					<li>
						<a href="Source_analysis.html" class="inactive">来源分析</a>
					</li>
					<li>
						<a href="pageviews.html">访问分析</a>
					</li>
					<li>
						<a href="Guest.html" class="inactive">访客分析</a>
					</li>
					<li>
						<a href="ranking.html" class="inactive">搜索排名</a>
					</li>
			    </ul>
		</li>
				</ul>
</div>
</div>
		<div class="main_right">
		<!-- 今日流量  -->
		<div class="flow box_show">
            <ul>
            	<li class="left">
            		<span class="Bigtit black">今日流量</span>
            		<span>今日</span>
            		<span>昨日</span>
            		<span>估计今日</span>
            	</li>
            	<li class="center">
            		<span class="fourteen">浏览量(PV)</span>
            		<span class="black" id="a"></span>
            		<span id="g"></span>
            		<span id="m"></span>
            	</li>
            	<li class="center">
            		<span class="fourteen">访客数(UV)</span>
            		<span class="black"  id="b"></span>
            		<span id="h"></span>
            		<span id="o"></span>
            	</li>
            	<li class="center">
            		<span class="fourteen">IP数</span>
            		<span class="black" id="c"></span>
            		<span id="i"></span>
            		<span id="p"></span>
            	</li>
            	<li class="center">
            		<span class="fourteen">跳出率</span>
            		<span class="black"  id="d"></span>
            		<span id="j"></span>
            		<span id="q"></span>
            	</li>
            	<li class="center">
            		<span class="fourteen">平均访问时长</span>
            		<span class="black"  id="e"></span>
            		<span id="k"></span>
            		<span id="r"></span>
            	</li>
            	<li class="center">
            		<span class="fourteen">转化次数</span>
            		<span class="black"  id="f"></span>
            		<span  id="l"></span>
            		<span id="s"></span>
            	</li>
            </ul>
		</div>
		<!--Tab今日昨天-->
		<div class="Day box_show tab_list">
			<ul>
				<li class="active" id="today">今日</li>
				<li id="yesterday">昨天</li>
			</ul>
		</div>
	    <!--今日数据-->
        <div class="box_main show_tab">
        	 <!--折线图-->
        	<div class="layen box_show left one">
        		<div class="earch" id="earch"></div>
        	</div>
        	<!--top10关键词-->
        	<div class="layen box_show right two">
        		<div class="layout1">
        		  <p class="title-item1">Top10搜索词</p>
        		  <div class="main-item3 title">
	        		  	<div class="item-a0">
	        		  	  	<p>搜索词</p>
	        		  	</div>
	        		  	<div class="item-a1">
	        		  	  	<p>浏览量(pv)</p>
	        		  	</div>
	        		  	<div class="item-a2">
	        		  	  	<p>占比</p>
	        		  	</div>
	        		  	
        		  	</div>
        		    <div class="main-item2" id="word">
        		    </div>
        		</div>
        	</div>
        	<!--top10网站来源-->
        	<div class="layen box_show left three">
        		<div class="layout1">
        		  <p class="title-item1">Top10来源网站</p>
        		  <div class="main-item3 title">
	        		  	<div class="item-a0">
	        		  	  	<p>搜索词</p>
	        		  	</div>
	        		  	<div class="item-a1">
	        		  	  	<p>浏览量(pv)</p>
	        		  	</div>
	        		  	<div class="item-a2">
	        		  	  	<p>占比</p>
	        		  	</div>
	        		  	
        		  	</div>
        		    <div class="main-item2"  id="word1">
        		    </div>
        		</div>
        	</div>
        	<!--top10入口页面-->
        	<div class="layen box_show right four">
        			<div class="layout1">
	        		  <p class="title-item1">top10入口页面</p>
	        		  <div class="main-item3 title">
		        		  	<div class="item-a0">
		        		  	  	<p>入口页面</p>
		        		  	</div>
		        		  	<div class="item-a1">
		        		  	  	<p>浏览量(pv)</p>
		        		  	</div>
		        		  	<div class="item-a2">
		        		  	  	<p>占比</p>
		        		  	</div>
	        		  	</div>
	        		    <div class="main-item2"  id="word2">
	        		</div>
        		</div>
        	</div>
        	<!--Top10受访页面-->
        	<div class="layen box_show left five">
        			<div class="layout1">
	        		  <p class="title-item1">Top10受访页面</p>
	        		  <div class="main-item3 title">
		        		  	<div class="item-a0">
		        		  	  	<p>受访页面</p>
		        		  	</div>
		        		  	<div class="item-a1">
		        		  	  	<p>浏览量(pv)</p>
		        		  	</div>
		        		  	<div class="item-a2">
		        		  	  	<p>占比</p>
		        		  	</div>
	        		  	</div>
	        		    <div class="main-item2"  id="word3">
	        		</div>
        		</div>
        	</div>
        	<!--新老访客-->
        	<div class="layen box_show right six">
        			<div class="layout1">
	        		  <p class="title-item1">新老访客</p>
	        		  <div class="layout2">
	        		  	  <ul>
	        		  	  	<li>
	        		  	  		<span><img src="../../images/touxiang1.png"/></span>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p class="item-1">新访客</p>
	        		  	  		<p class="item-2" id="t"></p>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p class="item-1">老访客</p>
	        		  	  		<p class="item-2 bule" id="u"></p>
	        		  	  	</li>
	        		  	  </ul>
	        		  </div>
	        		  	  <div class="layout2 Tab">
	        		  	  <ul>
	        		  	  	<li>
	        		  	  		<p>浏览量</p>
	        		  	  		<p>访客数</p>
	        		  	  		<p>跳出率</p>
	        		  	  		<p>平均访问时长</p>
	        		  	  		<p class="noborder" >平均访问页数</p>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p id="v">--</p>
	        		  	  		<p id="w">--</p>
	        		  	  		<p id="x">--</p>
	        		  	  		<p id="y">--</p>
	        		  	  		<p class="noborder" id="z">--</p>
	        		  	  	</li>
	        		  	  	<li class="noborder">
	        		  	  		<p id="aa">--</p>
	        		  	  		<p id="bb">--</p>
	        		  	  		<p id="cc">--</p>
	        		  	  		<p id="dd">--</p>
	        		  	  		<p class="noborder" id="ee">--</p>
	        		  	  	</li>
	        		  	  </ul>
	        		  </div>
        		    </div>
        	</div>
        </div>
		</div>
		</div>
		
<div id="background" class="background"></div>

	</body>
<script type="text/javascript" src="../../js/subpage-js/Websiteprofile.js"></script>
<script type="text/javascript">

	    $(".Day li").click(function(){
		    var index = $(".Day li").index(this);
		        $(this).addClass("active").siblings().removeClass("active");
		        $(".box_main").eq(index).addClass("show_tab").siblings().removeClass("show_tab");
		  })
		  
</script>

</html>