<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三千客 | 网站概况</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/promotion.css">
	<link rel="stylesheet" type="text/css" href="../../css/subpage-css/Websiteprofile.css"/>
	<link rel="shortcut icon" href="../../../themes/valudio/assets/favicon.ico" tppabs="http://valudio.com/themes/valudio/assets/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
	<script type="text/javascript" src="../../js/common-js/common.js"></script>
	<script type="text/javascript" src="../../js/subpage-js/promotion.js"></script>
    <script src="../../js/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_top">
		<div class="nav_head">
			<div class="nav_lft">
				<div class="logo"><a href="../../../../../../index.htm">SumChance</a></div>
				<div class="logo_txt"><a href="../index.html">管理控制台</a></div>
			</div>

			<div class="nav_rit">
				<ul class="function_list">
					<li class="first_search">

						<a href="javascript:;" title="">搜索</a>
					</li>
					<li class="drop-down">
						<span class="msg">10</span>
						<a href="javascript:;" title="">消息</a>
						<div class="station_msg">
							<!--<span class="u123"></span>
						-->
						<p class="msg_tit">
							<span>站内消息通知</span>
							<span>消息接收管理</span>
						</p>
						<ul>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
							<li>
								<p>三千客为你打造一个全新的网络体验</p>
								<span>2017-08-12</span>
							</li>
						</ul>
						<p>
							<a href="" title="">查看更多</a>
						</p>
					</div>
				</li>
				<li class="drop-down">
					<span class="order"></span>
					<a href="javascript:;" title="">订单</a>
					<div class="my_order">
						<!--<span class="u123"></span>
					-->
					<ul>
						<li>
							<a href="" title="">充值</a>
						</li>
						<li>
							<a href="" title="">订单</a>
						</li>
						<li>
							<a href="" title="">消费记录</a>
						</li>
						<li>
							<a href="" title="">续费管理</a>
						</li>
						<li>
							<a href="" title="">进入费用中心</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="drop-down">
				<span class="cost"></span>
				<a href="javascript:;" title="">工单</a>
				<div class="my_cost">
					<!--<span class="u123"></span>
				-->
				<ul>
					<li>我的工单</li>
					<li>提交工单</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:;" title="">用户xxx</a>
		</li>
		<span class="search"></span>
	</ul>
	<div class="search_box">
		<input type="text" name="" value="" placeholder="" class="search_txt">
		<span class="close"></span>
		<span class="find"></span>
	</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<!-- 主体 -->
<div class="main">
<div class="main_left">
<p class="line_group">
	<span></span>
	<span></span>
	<span></span>
</p>
<div class="list">
	<ul class="yiji">
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							产品与服务
						</a>
						<ul>
							<li>
								<a href="template/promotion.html">云推广</a>
							</li>
							<li>
								<a href="#">网络外包</a>
							</li>
							<li>
								<a href="#">自主建站</a>
							</li>
							<li>
								<a href="#">形象策划</a>
							</li>
						</ul>
					</li>

					<li class="inactive">
						<a href="#" >
							<span class="rjt"></span>
							费用
						</a>
						<ul>
							<li>
								<a href="#" class="inactive">账户总览</a>
							</li>
							<li>
								<a href="#" class="inactive">我的订单</a>
							</li>
							<li class="last">
								<a href="#">消费记录</a>
							</li>
							<li class="last">
								<a href="#">续费管理</a>
							</li>
							<li class="last">
								<a href="#">退订管理</a>
							</li>
						</ul>
					</li>
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							工单
						</a>
						<ul>
							<li>
								<a href="#" class="inactive">我的工单</a>
							</li>
							<li>
								<a href="#" class="inactive">提交工单</a>
							</li>
						</ul>
					</li>
					<li  class="inactive">
						<a href="#">
							<span class="rjt"></span>
							账户管理
						</a>
						<ul>
							<li>
								<a href="#" class="inactive">账户概括</a>
							</li>
							<li>
								<a href="#" class="inactive">账户信息</a>
							</li>
							<li>
								<a href="#">安全设置</a>
							</li>
						</ul>
					</li>
					<li  class="inactive">
						<a href="#">
							<span class="bjt"></span>
							统计
						</a>
						<ul class="active">
							<li >
								<a href="#" class="inactive">网站列表</a>
							</li>
							<li class="active">
								<a href="#" class="inactive">网站概况</a>
							</li>
							<li>
								<a href="Access-analysis.html" class="inactive">访问分析</a>
							</li>
							<li>
								<a href="#" class="inactive">来源分析</a>
							</li>
							<li>
								<a href="#">访客分析</a>
							</li>
							<li>
								<a href="#" class="inactive">优化分析</a>
							</li>
						</ul>
					</li>
				</ul>
</div>
</div>
		<div class="main_right">
		<!-- 今日流量  -->
		<div class="flow box_show">
            <ul>
            	<li class="left">
            		<span class="Bigtit black">今日流量</span>
            		<span>今日</span>
            		<span>昨日</span>
            		<span>估计今日</span>
            	</li>
            	<li class="center">
            		<span >浏览量(PV)</span>
            		<span class="black" id="a"></span>
            		<span id="g"></span>
            		<span id="m"></span>
            	</li>
            	<li class="center">
            		<span >访客数(UV)</span>
            		<span class="black"  id="b"></span>
            		<span id="h"></span>
            		<span id="o"></span>
            	</li>
            	<li class="center">
            		<span >IP数</span>
            		<span class="black" id="c"></span>
            		<span id="i"></span>
            		<span id="p"></span>
            	</li>
            	<li class="center">
            		<span >跳出率</span>
            		<span class="black"  id="d"></span>
            		<span id="j"></span>
            		<span id="q"></span>
            	</li>
            	<li class="center">
            		<span >平均访问时长</span>
            		<span class="black"  id="e"></span>
            		<span id="k"></span>
            		<span id="r"></span>
            	</li>
            	<li class="center">
            		<span >转化次数</span>
            		<span class="black"  id="f"></span>
            		<span  id="l"></span>
            		<span id="s"></span>
            	</li>
            </ul>
		</div>
		<!--Tab今日昨天-->
		<div class="Day box_show">
			<ul>
				<li class="bule">今日</li>
					<li>昨天</li>
			</ul>
		</div>
	    <!---->
        <div class="box_main">
        	 <!--折线图-->
        	<div class="layen box_show left one">
        		<div class="earch" id="earch"></div>
        	</div>
        	<!--top10关键词-->
        	<div class="layen box_show right two">
        		<div class="layout1">
        		  <p class="title-item1">Top10搜索词</p>
        		  <div class="main-item3 title">
	        		  	<div class="item-a0">
	        		  	  	<p>搜索词</p>
	        		  	</div>
	        		  	<div class="item-a1">
	        		  	  	<p>浏览量(pv)</p>
	        		  	</div>
	        		  	<div class="item-a2">
	        		  	  	<p>占比</p>
	        		  	</div>
	        		  	
        		  	</div>
        		    <div class="main-item2" id="word">
        		    </div>
        		</div>
        	</div>
        	<!--top10网站来源-->
        	<div class="layen box_show left three">
        		<div class="layout1">
        		  <p class="title-item1">Top10来源网站</p>
        		  <div class="main-item3 title">
	        		  	<div class="item-a0">
	        		  	  	<p>搜索词</p>
	        		  	</div>
	        		  	<div class="item-a1">
	        		  	  	<p>浏览量(pv)</p>
	        		  	</div>
	        		  	<div class="item-a2">
	        		  	  	<p>占比</p>
	        		  	</div>
	        		  	
        		  	</div>
        		    <div class="main-item2"  id="word1">
        		    </div>
        		</div>
        	</div>
        	<!--top10入口页面-->
        	<div class="layen box_show right four">
        			<div class="layout1">
	        		  <p class="title-item1">top10入口页面</p>
	        		  <div class="main-item3 title">
		        		  	<div class="item-a0">
		        		  	  	<p>入口页面</p>
		        		  	</div>
		        		  	<div class="item-a1">
		        		  	  	<p>浏览量(pv)</p>
		        		  	</div>
		        		  	<div class="item-a2">
		        		  	  	<p>占比</p>
		        		  	</div>
	        		  	</div>
	        		    <div class="main-item2"  id="word2">
	        		</div>
        		</div>
        	</div>
        	<!--Top10受访页面-->
        	<div class="layen box_show left five">
        			<div class="layout1">
	        		  <p class="title-item1">Top10受访页面</p>
	        		  <div class="main-item3 title">
		        		  	<div class="item-a0">
		        		  	  	<p>受访页面</p>
		        		  	</div>
		        		  	<div class="item-a1">
		        		  	  	<p>浏览量(pv)</p>
		        		  	</div>
		        		  	<div class="item-a2">
		        		  	  	<p>占比</p>
		        		  	</div>
	        		  	</div>
	        		    <div class="main-item2"  id="word3">
	        		</div>
        		</div>
        	</div>
        	<!--新老访客-->
        	<div class="layen box_show right six">
        			<div class="layout1">
	        		  <p class="title-item1">新老访客</p>
	        		  <div class="layout2">
	        		  	  <ul>
	        		  	  	<li>
	        		  	  		<span><img src="../../images/touxiang1.png"/></span>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p class="item-1">新访客</p>
	        		  	  		<p class="item-2" id="t"></p>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p class="item-1">老访客</p>
	        		  	  		<p class="item-2 bule" id="u"></p>
	        		  	  	</li>
	        		  	  </ul>
	        		  </div>
	        		  	  <div class="layout2 Tab">
	        		  	  <ul>
	        		  	  	<li>
	        		  	  		<p>浏览量</p>
	        		  	  		<p>访客数</p>
	        		  	  		<p>跳出率</p>
	        		  	  		<p>平均访问时长</p>
	        		  	  		<p class="noborder" >平均访问页数</p>
	        		  	  	</li>
	        		  	  	<li>
	        		  	  		<p id="v">1</p>
	        		  	  		<p id="w">2</p>
	        		  	  		<p id="x">3</p>
	        		  	  		<p id="y">4</p>
	        		  	  		<p class="noborder" id="z">5</p>
	        		  	  	</li>
	        		  	  	<li class="noborder">
	        		  	  		<p id="aa">1</p>
	        		  	  		<p id="bb">1</p>
	        		  	  		<p id="cc">1</p>
	        		  	  		<p id="dd">1</p>
	        		  	  		<p class="noborder" id="ee">1</p>
	        		  	  	</li>
	        		  	  </ul>
	        		  </div>
        		    </div>
        	</div>
        </div>

		</div>
		</div>
	</div>
	</body>
	<script type="text/javascript">
		 var myChart = echarts.init(document.getElementById('earch'));
		option = {
    backgroundColor: '#ffffff',
    title: {
        text: '趋势图',
        textStyle: {
            fontWeight: 'normal',
            fontSize: 16,
            color: '#2b2b2b'
        },
        left: '6%'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            lineStyle: {
                color: '#57617B'
            }
        }
    },
    legend: {
        icon: 'rect',
        itemWidth: 14,
        itemHeight: 5,
        itemGap: 13,
        data: ['2017/12/27 浏览量', '2017/12/26 浏览量'],
        right: '4%',
        textStyle: {
            fontSize: 12,
            color: '#292f39'
        }
    },
    grid: {
        left: '1%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        type: 'category',
        boundaryGap: false,
        axisLine: {
            lineStyle: {
                color: '#57617B'
            }
        },
        data: ['0时', '4时', '8时', '12时', '16时', '20时', '24时']
    }],
    yAxis: [{
        type: 'value',
        name: '单位(次)',
        axisTick: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#57617B'
            }
        },
        axisLabel: {
            margin: 10,
            textStyle: {
                fontSize: 12
            }
        },
        splitLine: {
            lineStyle: {
                color: '#57617B'
            }
        }
    }],
    series: [{
        name: '2017/12/27 浏览量',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
                width:1
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                    offset: 0,
                    color: 'rgba(16,97,204, 0.3)'
                }, {
                    offset: 0.8,
                    color: 'rgba(17,235,210, 0)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
                shadowBlur: 10
            }
        },
        itemStyle: {
            normal: {

                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                    offset: 0,
                    color: 'rgba(16,97,204,1)'
                }, {
                    offset: 1,
                    color: 'rgba(17,235,210,1)'
                }])
            },
            emphasis: {
                color: 'rgb(0,196,132)',
                borderColor: 'rgba(0,196,132,0.2)',
                extraCssText: 'box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);',
                borderWidth: 10
            }
        },
        data: [220, 182, 191, 134, 150, 120, 110, 125]
    }, {
        name: '2017/12/26 浏览量',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
                width:1
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(205,52,42, 0.5)'
                }, {
                    offset: 0.8,
                    color: 'rgba(235,235,21, 0)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
                shadowBlur: 10
            },
        },
        itemStyle: {
            normal: {

                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                    offset: 0,
                    color: 'rgba(205,52,42,1)'
                }, {
                    offset: 1,
                    color: 'rgba(235,235,21,1)'
                }])
            },
            emphasis: {
                color: 'rgb(99,250,235)',
                borderColor: 'rgba(99,250,235,0.2)',
                extraCssText: 'box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);',
                borderWidth: 10
            }
        },
        data: [120, 110, 125, 145, 122, 165, 122, 220]
    }]
};
 myChart.setOption(option);
 
 $(function(){
	 		var siteId = "10537683";
	 		var method = "overview/getTimeTrendRpt";
	 		var start_date = "20180101";
	 		var end_date = "20180102";
	 		var metrics = "pv_count,visitor_count,ip_count,bounce_ratio,avg_visit_time,trans_count";
			$.ajax({
				cache : false,
				url : "../../../StatisticsController/networkOverview.do",
				type : "post",
				data : {"siteId":siteId,"method":method,"start_date":start_date,"end_date":end_date,"metrics":metrics},
				dataType : "json",
				async : false,
				success : function(data) {
					if (data.code==0010) {
						alert(data.msg);
					}else if(data.code==0000){
						$("#a").html(data.data.body.data[0].result.items[1][1][0]);
						$("#b").html(data.data.body.data[0].result.items[1][1][1]);
						$("#c").html(data.data.body.data[0].result.items[1][1][2]);
						$("#d").html(data.data.body.data[0].result.items[1][1][3]);
						$("#e").html(data.data.body.data[0].result.items[1][1][4]);
						$("#f").html(data.data.body.data[0].result.items[1][1][5]);
						$("#g").html(data.data.body.data[0].result.items[1][0][0]);
						$("#h").html(data.data.body.data[0].result.items[1][0][1]);
						$("#i").html(data.data.body.data[0].result.items[1][0][2]);
						$("#j").html(data.data.body.data[0].result.items[1][0][3]);
						$("#k").html(data.data.body.data[0].result.items[1][0][4]);
						$("#l").html(data.data.body.data[0].result.items[1][0][5]);
					}
				},
				error : function(request) {
					alert("Connection error");
				},
			});
	 		
			var siteId = "10537683";
	 		var method = "overview/getCommonTrackRpt";
	 		var start_date = "20180102";
	 		var end_date = "20180102";
	 		var metrics = "pv_count,visitor_count,ip_count,bounce_ratio,avg_visit_time,trans_count";
	 		$.ajax({
				cache : false,
				url : "../../../StatisticsController/networkOverview.do",
				type : "post",
				data : {"siteId":siteId,"method":method,"start_date":start_date,"end_date":end_date,"metrics":metrics},
				dataType : "json",
				async : false,
				success : function(data) {
					if (data.code==0010) {
						alert(data.msg);
					}else if(data.code==0000){
						//搜索词
						for (var a = 0; a < data.data.body.data[0].result.word.items.length; a++)  
				        {  
				           //获取div  
				            var div = document.getElementById("word");  
				  			var str = "";
				  			str+="<div class='main-item3'>";
				  			for(var b = 0; b < data.data.body.data[0].result.word.items[a].length; b++){
				  				if(b==2){
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.word.items[a][b]+"%</p> </div>";
				  				}else{
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.word.items[a][b]+"</p> </div>";
				  				}
				  			}
				  			str+="</div>";
				  			var newchild = document.createElement("div");
				  			newchild.innerHTML = str;
				            div.appendChild(newchild);

				        }  
						
						//来源网站
						for (var a = 0; a < data.data.body.data[0].result.sourceSite.items.length; a++)  
				        {  
				           //获取div  
				            var div = document.getElementById("word1");  
				  			var str = "";
				  			str+="<div class='main-item3'>";
				  			for(var b = 0; b < data.data.body.data[0].result.sourceSite.items[a].length; b++){
				  				if(b==2){
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.sourceSite.items[a][b]+"%</p> </div>";
				  				}else{
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.sourceSite.items[a][b]+"</p> </div>";
				  				}
				  			}
				  			str+="</div>";
				  			var newchild = document.createElement("div");
				  			newchild.innerHTML = str;
				            div.appendChild(newchild);

				        }  
						
						//入口页面
						for (var a = 0; a < data.data.body.data[0].result.landingPage.items.length; a++)  
				        {  
				           //获取div  
				            var div = document.getElementById("word2");  
				  			var str = "";
				  			str+="<div class='main-item3'>";
				  			for(var b = 0; b < data.data.body.data[0].result.landingPage.items[a].length; b++){
				  				if(b==2){
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.landingPage.items[a][b]+"%</p> </div>";
				  				}else{
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.landingPage.items[a][b]+"</p> </div>";
				  				}
				  			}
				  			str+="</div>";
				  			var newchild = document.createElement("div");
				  			newchild.innerHTML = str;
				            div.appendChild(newchild);

				        }  
						
						//受访页面
						for (var a = 0; a < data.data.body.data[0].result.visitPage.items.length; a++)  
				        {  
				           //获取div  
				            var div = document.getElementById("word3");  
				  			var str = "";
				  			str+="<div class='main-item3'>";
				  			for(var b = 0; b < data.data.body.data[0].result.visitPage.items[a].length; b++){
				  				if(b==2){
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.visitPage.items[a][b]+"%</p> </div>";
				  				}else{
				  					str+="<div class='item-a"+b+"'> <p>"+data.data.body.data[0].result.visitPage.items[a][b]+"</p> </div>";
				  				}
				  			}
				  			str+="</div>";
				  			var newchild = document.createElement("div");
				  			newchild.innerHTML = str;
				            div.appendChild(newchild);

				        }  
					}
				},
				error : function(request) {
					alert("Connection error");
				},
			});
	 		
	 		//新老访客
	 		var siteId = "10537683";
	 		var method = "source/all/a";
	 		var start_date = "20180102";
	 		var end_date = "20180102";
	 		var metrics = "pv_count,pv_ratio,visit_count,visitor_count,new_visitor_count,new_visitor_ratio,ip_count,bounce_ratio,avg_visit_time,avg_visit_pages,trans_count,trans_ratio";
			$.ajax({
				cache : false,
				url : "../../../StatisticsController/networkOverview.do",
				type : "post",
				data : {"siteId":siteId,"method":method,"start_date":start_date,"end_date":end_date,"metrics":metrics},
				dataType : "json",
				async : false,
				success : function(data) {
					if (data.code==0010) {
						alert(data.msg);
					}else if(data.code==0000){
						$("#v").html(data.data.body.data[0].result.sum[0][0]);
						$("#t").html(data.data.body.data[0].result.sum[0][5]+"%");
						$("#w").html(data.data.body.data[0].result.sum[0][4]);
						$("#x").html(data.data.body.data[0].result.sum[0][7]+"%");
						$("#y").html(data.data.body.data[0].result.sum[0][8]);
						$("#z").html(data.data.body.data[0].result.sum[0][9]);
					}
				},
				error : function(request) {
					alert("Connection error");
				},
			});
});
	</script>
	</html>