<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于</title>
  <link rel="icon" href="../../images/common/icon.png">
  <link rel="stylesheet" href="../../css/common-css/common.css">
  <link rel="stylesheet" href="../../css/subpage-css/about.css">
  <link rel="stylesheet" type="text/css" href="../../css/index/aos.css"/>
</head>
<body>
  <!-- 顶部 -->
  <div class="head_top">
    <div class="stars_top">
      <div class="star_top"></div>
      <div class="star_top pink"></div>
      <div class="star_top blue"></div>
      <div class="star_top yellow"></div>
      <div class="star_top white"></div>
    </div>
    <div class="logo">
      <a href="/" title="">
        <img src="../../images/common/logo_w.png" alt="" class="img_white"></a>
      <a href="/" title="">
        <img src="../../images/common/logo_b.png" alt="" class="img_black"></a>
    </div>
    <div class="control">
      <span>控制台</span>
      <div class="lineGroup" id="toggle">
        <div class="line"></div>
        <div class="line line2"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="head_content">
      <div class="container_top" aos="fade-up" aos-duration="3000">
        <div class="head_text" >
          <p class="challenge">我们喜欢挑战</p>
          <div class="space_one"></div>
          <p class="passion">我们对我们的工作充满激情</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="developer" aos="fade-right" aos-duration="3000">
        远不止一个团队
        <br>的开发者</div>
      <div class="introduce" aos="fade-left" aos-duration="3000">
        <div class="space_two"></div>
        <p>
          我们是一个小团队，专业和承诺。我们对工作的热情激励着我们不断学习和开发符合高质量标
          <br>
          准和行业最佳实践的创新产品。我们力求在信任基础上建立稳固的长期关系。因此，我们非常
          <br>重视我们的承诺，在整个过程中承担项目的责任。</p>
      </div>
    </div>
    <!-- 我们的价值 -->
    <div class="value">
      <div class="stars_top position_2_left">
        <div class="star_top"></div>
        <div class="star_top blue"></div>
        <div class="star_top white"></div>
        <div class="star_top pink"></div>
      </div>
      <div class="container">
        <div class="our_value">
          <p class="our_title">我们的价值</p>
          <div class="space_three"></div>
          <div class="transparent">
            <div class="img_block"></div>
            <p class="value_head">透明度和优化</p>
            <p class="value_txt">
              我们希望我们的客户信任我们。我们基于敏捷宣言原则开
              <br>
              展工作，这些原则有助于我们灵活变通，并通过定期的临 时交
              <br>付和实时更新与客户保持有效的沟通。</p>
          </div>
          <div class="technology">
            <div class="img_block"></div>
            <p class="value_head">技术和创新</p>
            <p class="value_txt">
              我们是真正的完美主义者，这意味着我们永远不会停止学
              <br>
              习。我们总是寻求找到最合适的解决方案和最可靠，最灵
              <br>活的流程。</p>
          </div>
          <div class="people">
            <div class="img_block"></div>
            <p class="value_head">由人组成的团队</p>
            <p class="value_txt">
              我们喜欢我们所做的工作，就像我们喜欢我们的客户一 样。
              <br>
              展工作，这些原则有助于我们灵活变通，并通过定期的临时交
              <br>付和实时更新与客户保持有效的沟通。</p>
          </div>
          <div class="big_img_block"></div>
        </div>
      </div>
    </div>
    <!-- 团队 -->
    <div class="team">
      <div class="stars_top position_left">
        <div class="star_top"></div>
        <div class="star_top pink"></div>
        <div class="star_top blue"></div>
        <div class="star_top white"></div>
      </div>
      <!--             <div class="stars position_2_right about_start2">
      <div class="star"></div>
      <div class="star blue"></div>
      <div class="star yellow"></div>
      <div class="star white"></div>
    </div>
    -->
    <div class="end_block"></div>
    <div class="container">
      <div class="team_head">团队</div>
      <div class="line_four"></div>
      <div class="photo_wall">
        <div class="photo_content">
          <div class="img_bg"></div>
          <div class="img_cover"></div>
        </div>
        <div class="photo_content">
          <div class="img_bg"></div>
          <div class="img_cover"></div>
        </div>
        <div class="photo_content">
          <div class="img_bg"></div>
          <div class="img_cover"></div>
        </div>
        <div class="photo_content">
          <div class="img_bg"></div>
          <div class="img_cover"></div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
  <!-- 关于我们 -->
  <!--白底内容块4-->
  <div class="prefooter">
    <div class="stars position_2_right about_start2">
      <div class="star"></div>
      <div class="star blue"></div>
      <div class="star yellow"></div>
      <div class="star white"></div>
    </div>
    <div class="container maxwidth2">
      <div class="no-visible is-visible"></div>
      <a href="javascript:;" class="no-visible is-visible" aos="fade-down" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
        <div>
          <div class="bg-hover"></div>
          <div>
            <p>你有项目吗？</p>
            <h5 class="title--header4 white">让我们一起来谈谈他</h5>
          </div>
        </div>
      </a>
      <a href="javascript:;" class="no-visible is-visible" aos="fade-up" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
        <div>
          <div class="bg-hoverright"></div>
          <div>
            <p>想了解我们吗？</p>
            <h5 class="title--header4 white">请联系我们</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--公用底部-->
  <div id="test"></div>
  <!--导航遮罩层-->
  <!--  <div id="nav"></div>
-->
<div class="zhezhao">
  <div class="nav-content">
    <div>
      <div class="navigation">
        <ul>
          <li class="is-current transition">
            <a href="../../../../../index.html">首页</a>
          </li>
          <li class=" transition">
            <a href="about.html">关于</a>
          </li>
          <li class=" transition">
            <a href="service.html">服务</a>
          </li>
          <li class=" transition">
            <a href="contact.html">联系</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 登录后 -->
    <div class="login_after">
      <span class="after_icon"></span>
      <span class="login_name">用户xxx</span>
      &nbsp;&nbsp;
      <a href="information.html" title="">(完善资料)</a>
    </div>
    <!-- 登录框 -->
    <div class="login_box active">
      <p>SumChance</p>
      <form action="index_submit" method="get" class="login_form">
        <input type="text" name="" value="" placeholder="你的帐号" class="count_box">
        <span class="count">帐号不存在！！！</span>
        <input type="password" name="" value="" placeholder="你的密码" class="pwd_box">
        <span class="pwd">密码错误！！！</span>
        <a href="javascript:;" title="" class="reg">注册</a>
        <a href="javascript:;" title="" class="forget">忘记密码</a>
        <button type="submit" class="login_btn">
          <a href="javascript:;" title="">登录</a>
        </button>
      </form>
    </div>
    <!-- 注册框 -->
    <div class="regist_box">
      <span class="return">返回登录</span>
      <p>注册</p>
      <form action="index_submit" method="get" class="reg_form">
        <input type="tel" name="" value="" placeholder="手机号码" class="format reg_tel">
        <span class="error_tel">手机号码输入有误</span>
        <span class="empty_tel">手机号码不能为空</span>
        <input type="text" name="" value="" placeholder="验证码" class="format reg_code">
        <span class="error_code">验证码错误</span>
        <span class="empty_code">验证码不能为空</span>
        <span class="get_code">获取验证码</span>
        <input type="password" name="" value="" placeholder="密码" class="format reg_pwd1">
        <span class="empty_pwd1">密码不能为空</span>
        <input type="password" name="" value="" placeholder="确认密码" class="format reg_pwd2">
        <span class="error_pwd2">两次密码不一致</span>
        <input type="text" name="" value="" placeholder="邀请码" class="format reg_yq">
        <span class="empty_yq">邀请码不能为空</span>
        <input type="checkbox" name="" value="" placeholder="" class="check_box">
        <span class="agreen">
          我已阅读并同意遵守
          <a href="javascript:;" class="agreenment">《三千客服务协议》</a>
        </span>
        <button type="submit" class="reg_btn">
          <a href="javascript:;" title="">立即注册</a>
        </button>
      </form>
    </div>
    <!-- 三千客服务协议 -->
    <div class="sum_agreen visi">
      <div class="agreen_box">
        <textarea>
          用户注册协议
一、总则
您在注册成为三千客注册用户并使用三千客提供的服务之前，应仔细阅读本协议尤其是其中的免责声明和隐私条款。 
（http://www.sumchance.com/）的所有者和经营者， 根据本协议及随时对其的修改向您提供服务。如您不同意本协议及随时对其的修改，您应当立即主动停止使用三千客提供的服务。 您一旦注册成为三千客用户并使用三千客服务，即视为您已了解并完全同意本协议各项内容， 包括其中的免责声明和隐私条款以及三千客对本协议随时所做的任何修改。
1.1 用户在注册时，只能选择全部同意本协议的条款，并按照页面上的提示完成全部的注册程序，不能选择性接受或进行修订。 用户在进行注册程序过程中点击"同意"按钮即表示用户与三千客信息达成协议，完全接受本协议项下的全部条款。
1.2 用户注册成功后，三千客将给予每个用户一个用户帐号及相应的初始密码，该用户帐号和密码由用户负责保管；用户账号只能由用户自己使用，不得以任何方式提供给其他方使用。用户应自行修改初始密码，牢记并保管好用户自行设定的密码。任何通过该账号实施的操作和行为均视为用户自己实施的操作和行为，用户应当对以其用户帐号进行的所有活动和事件负法律责任。
1.3 用户可以使用三千客各个频道单项服务，当用户使用云客网各单项服务时，用户的使用行为视为其对该单项服务的服务条款以及云客网在该单项服务中发出的各类公告的同意。
1.4三千客注册用户必须年满18周岁，具备完全民事行为能力，否则注册无效。
二、注册信息和隐私保护
2.1 云客网帐号（即云客网用户ID）的所有权归云客网，用户完成注册申请手续后，获得云客网帐号的使用权。用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将作为注册资料。如果因用户注册信息不真实而引起的问题及其产生的后果，云客网不负任何责任。
2.2 用户不得将其帐号、密码提供给他人使用。如用户发现其帐号遭他人非法使用，应立即通知云客网。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，云客网不承担任何责任。
2.3 云客网不对外公开或向第三方提供单个用户的注册资料，除非：
(1) 事先获得用户的明确授权；
(2) 只有透露用户的个人资料，才能提供用户所要求的产品和服务；
(3) 根据有关的法律法规要求；
(4) 按照相关政府主管部门的要求；
(5) 为维护云客网的合法权益。
2.4 在用户注册云客网帐户，使用其他云客网产品或服务，访问云客网网页, 或参加促销和有奖游戏时，云客网会收集用户的个人身份识别资料（请参见隐私条款），并会将这些资料用于改进为用户提供的服务及网页内容等，用户对此表示同意。
三、使用规则
3.1 用户在使用云客网服务时，必须遵守中华人民共和国相关法律法规的规定，不得利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
3.1.1 上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
3.1.1.1 反对宪法所确定的基本原则的；
3.1.1.2 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
3.1.1.3 损害国家荣誉和利益的；
3.1.1.4 煽动民族仇恨、民族歧视、破坏民族团结的；
3.1.1.5 破坏国家宗教政策，宣扬邪教和封建迷信的；
3.1.1.6 散布谣言，扰乱社会秩序，破坏社会稳定的；
3.1.1.7 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
3.1.1.8 侮辱或者诽谤他人，侵害他人合法权利的；
3.1.1.9 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
3.1.1.10 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。
3.1.2 不得为任何非法目的而使用网络服务系统；
3.1.3 不利用云客网服务从事以下活动：
3.1.3.1 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
3.1.3.2 未经允许，对计算机信息网络功能进行删除、修改或者增加的；
3.1.3.3 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；
3.1.3.4 故意制作、传播计算机病毒等破坏性程序的；
3.1.3.5 其他危害计算机信息网络安全的行为。
3.2 用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户同意赔偿云客网与合作公司、 关联公司及相关的第三方，并使之免受损害。对此，云客网有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收云客网帐号、追究法律责任等措施。用户如有恶意注册云客网帐号或利用云客网帐号进行违法活动， 捣乱、骚扰、欺骗其他用户或损害其他用户的合法权益以及其他违反本协议的行为，云客网有权回收其帐号。同时，云客网公司会视司法部门的要求，协助调查。
3.3 用户不得通过本服务任何部分或使用本服务获得的任何内容，进行复制、拷贝、出售、转售或用于任何其它商业目的。
3.4 用户须对自己在使用云客网服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：赔偿云客网因用户行为产生的全部损失（包括但不限于实际支出的赔偿金、律师费、诉讼费用、差旅费等），以及对受到侵害者进行赔偿等。
四、使用服务的条件和风险
4.1 云客网网络服务的具体内容由云客网根据实际情况提供，云客网对其提供之服务拥有最终解释权。
4.2 除非另有其它明确通知或约定，云客网在用户注册后所推出的新产品、新功能、新服务，均受到本协议之规范。
4.3 为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。
4.4 鉴于网络服务的特殊性，用户同意云客网有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。云客网不保证网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作保证。
4.5 云客网需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，云客网无需为此承担任何责任。云客网保留不经事先通知为维修保养、升级或其它目的暂停全部或部分的网络服务的权利。
4.6 本服务或第三人可提供与其它国际互联网上之网站或资源之链接。由于云客网无法控制这些网站及资源，您了解并同意，此类网站或资源是否可供利用，云客网不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，云客网亦不予保证或负责。 因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，云客网不承担任何责任。
4.7 用户明确同意其使用云客网网络服务所存在的风险将完全由其自己承担。 用户理解并接受下载或通过云客网服务而链接及得到的资讯、产品及服务均系云客网自动搜录， 云客网对其合法性概不负责，亦不承担任何法律责任，用户自行承担风险，云客网不做任何形式的保证, 不保证搜索结果满足用户的要求，不保证搜索服务不中断，对搜索结果的安全性、正确性、及时性、合法性均不做担保。
4.8 对于超过6个月未登录的用户帐号，云客网保留关闭的权利。
用户服务条款

根据用户类型的不同，云客网用户分为：企业客户（以下简称“直接客户”）和代理商（以下简称“代理”），统称“用户”。
一、服务内容
1.1云客网是一个搜索引擎优化分包平台，杭州志卓享有对用户需求及其优化费用的分配权、回收权。
1.2用户有义务保证不得利用“云客网”发布违反国家法律．法规的内容，一经发布，“云客网”有权立刻终止对该站点的服务，并没收该站点的年开户费及预存款不予退还。由此所引起的一切法律责任均由用户独自承担。 相关信息包括不下限于：违反国家法律法规的任何信息的；违反国家政治宣传和安全信息的；违反国家民族和宗教政策信息的；封建迷信或污秽色情的；博彩有奖游戏信息的；侵害他人合法权益信息的或其他有损社会秩序，社会治安，公共道德信息的。
1.3用户应当保证其发布到站点的相关文件的真实性、合法性、有效性，包括但不限于授权书、商标相关注册文件、经销商证书、主体资格证明、资信证明、产品原有图片及介绍信息、市场宣传文档、影音资料等。
1.4用户违反本条第1.2、1.3款约定，致使另一方遭受经济损失的，甲方应当承担赔偿责任。云客网对用户发布的信息、文件或其他内容不承担审查核实义务，不承担连带责任。
1.5用户应按照云客网（http://www.chinaykb.com/）实时的收费标准按时向杭州志卓支付：年服务费、关键词优化费等。有关收费项目、收费标准、服务内容等在《云客网服务收费协议》中另行约定。
1.6云客网有权根据法律规定、监管部门的要求、司法机关的命令或本协议约定等，暂时或永久修改或终止本服务（或其任何部分），无论其通知与否，云客网对用户和任何第三方均无需承担任何责任。
1.7终止服务：因任何原因，包括但不限于账号长时间未使用或用户违反本协议，云客网有权终止用户的密码、帐号或本服务之使用（或服务之任何部分），并将用户在本服务内任何内容加以移除并删除。用户同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止。 用户承认并同意，云客网可立即关闭或删除用户的帐号及帐号中所有相关信息及文件，或禁止继续使用前述文件或本服务。此外，用户同意若本服务之使用被中断或终止或用户的帐号及相关信息和文件被关闭或删除，云客网对用户或任何第三人均不承担任何责任。
二、知识产权和其他合法权益
2.1 对于用户通过云客网服务，上传到云客网网站上可公开获取区域的任何内容，用户授予云客网在全世界范围内具有免费的、永久性的、不可撤销的、独家的许可以及再许可的权利，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。
2.2 除另有规定或约定外，云客网上所有内容的版权均归杭州志卓所有，包括但不限于资料、文件、文章、报表、软件、程序、版面设计等，上述内容均受有关知识产权的中国法律和国际公约的保护。任何一方只能以个人、非商业目的在合法范围内使用，并尊重其知识产权。未经杭州志卓事先书面许可，不得以任何方式修改、复制、出售、播放、建立超级链接、建立镜像、公布或分发这些信息或以其他方式用于任何公开或商业目的，不得出于任何目的将这些信息用于其他任何平面媒体或网络计算机环境。
2.3“云客网”及相关图形等为杭州志卓的商标，未经杭州志卓许可，任何人不得擅自使用。
三、其他
3.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。
3.2 如就本协议内容或在协议履行过程中发生任何争议，各方应尽量友好协商解决；协商不成时，任何一方均可向云客网所在地的人民法院提起诉讼。
3.3 云客网未行使或执行本服务协议任何权利或规定，不构成对前述权利之放弃。
3.4 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
请您在发现任何违反本服务协议以及其他任何单项服务的服务条款、云客网各类公告之情形时，通知云客网。您可以通过如下联络方式同云客网联系∶
地　　址：中国浙江省杭州市
三千客有限公司
邮政编码：352467
您也可以通过点击三千客（http://www.sumchance.com）网站首页底部“联系我们”查看其他联系方式。
        </textarea>
      </div>
      <button type="button" class="iagreen">我已阅读并同意服务协议</button>
    </div>
  </div>
  <div class="close" id="GB">
    <img src="http://www.sumchance.com/src/main/webapp/images/common/close.png"/>
  </div>
</div>

</div>
<script src="../../js/common-js/aos.js" type="text/javascript" charset="utf-8"></script>
<script>
    AOS.init({
      once:'true'
    });
  </script>
</body>
<script type="text/javascript" src="../../js/common-js/jquery.js"></script>
<script src="../../js/common-js/common.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
  console.log($(window).scrollTop());
  $(window).scroll(function(){
    // 当滚动条滚动超过顶部时，Logo变成黑色，否则logo为白色
  if ($(window).scrollTop() <= 585) {
      $(".img_black").hide();
      $(".img_white").show();
    }
    else if ($(window).scrollTop() > 585 && $(window).scrollTop() < 1600){
      $(".img_black").show();
      $(".img_white").hide();
    }
    else if ($(window).scrollTop() >=1650 && $(window).scrollTop() <=2710){
      $(".img_black").hide();
      $(".img_white").show();
    }
    else{
      $(".img_black").show();
      $(".img_white").hide();
    }

    })
})
</script>
</html>