<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于</title>
	<link rel="icon" href="../../images/common/icon.png">
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/about.css">
</head>
<body>
	<!-- 顶部 -->
   <div class="head_top">
         <div class="stars_top">
                 <div class="star_top"></div>
                 <div class="star_top pink"></div>
                 <div class="star_top blue"></div>
                 <div class="star_top yellow"></div>
                 <div class="star_top white"></div>
         </div>
   	  <div class="logo">
   	  	 		<a href="../index.html" title=""><img src="../../images/common/logo_w.png" alt="" class="img_white"></a>
   	  	 		<a href="../index.html" title=""><img src="../../images/common/logo_b.png" alt="" class="img_black"></a>
   	  </div>
   	  <div class="control">
   	  	 		<span>控制台</span>
   	  	 		<div class="lineGroup">
   	  	 			<div class="line"></div>
   	  	 			<div class="line line2"></div>
   	  	 			<div class="line"></div>
   	  	 		</div>
   	  </div>
   	  <div class="head_content">
   	  	    <div class="container_top">
                 <div class="head_text">
                 	<p class="challenge">我们喜欢挑战</p>
                 	<div class="space_one"></div>
                 	<p class="passion">我们对我们的工作充满激情</p>
                 </div>
   	  	    </div>
   	  </div>
   </div>
   <div class="main">
   	  <div class="container">
   	  	<div class="developer">
   	  		远不止一个团队<br>的开发者
   	  	</div>
   	  	<div class="introduce">
   	  		<div class="space_two"></div>
   	  		<p>我们是一个小团队，专业和承诺。我们对工作的热情激励着我们不断学习和开发符合高质量标 <br>准和行业最佳实践的创新产品。我们力求在信任基础上建立稳固的长期关系。因此，我们非常 <br>重视我们的承诺，在整个过程中承担项目的责任。
   	  		</p>
   	  	</div>
   	  </div>
   	  <!-- 我们的价值 -->
   	  <div class="value">
   	  	 <div class="container">
   	  	 	<div class="our_value">
   	  	 		<p class="our_title">我们的价值</p>
   	  	 		<div class="space_three"></div>
   	  	 		<div class="transparent">
   	  	 			<div class="img_block"></div>
   	  	 			<p class="value_head">透明度和优化</p>
   	  	 			<p class="value_txt">我们希望我们的客户信任我们。我们基于敏捷宣言原则开<br> 展工作，这些原则有助于我们灵活变通，并通过定期的临 时交<br> 
   	  	 			付和实时更新与客户保持有效的沟通。</p>
   	  	 		</div>
   	  	 		<div class="technology">
   	  	 			<div class="img_block"></div>
   	  	 			<p class="value_head">技术和创新</p>
   	  	 			<p class="value_txt">我们是真正的完美主义者，这意味着我们永远不会停止学 <br>  习。我们总是寻求找到最合适的解决方案和最可靠，最灵<br>
   	  	 		    活的流程。</p>
   	  	 		</div>
   	  	 		<div class="people">
   	  	 			<div class="img_block"></div>
   	  	 			<p class="value_head">由人组成的团队</p>
   	  	 			<p class="value_txt">我们喜欢我们所做的工作，就像我们喜欢我们的客户一 样。<br> 展工作，这些原则有助于我们灵活变通，并通过定期的临时交<br> 
   	  	 			付和实时更新与客户保持有效的沟通。</p>
   	  	 		</div>
   	  	 		<div class="big_img_block"></div>
   	  	 	</div>
   	  	 </div>
   	  </div>
   	  <!-- 团队 -->
   	  <div class="team">
   	  	 <div class="end_block"></div>
   	  	 <div class="container">
   	  	 	<div class="team_head">团队</div>
   	  	 	<div class="line_four"></div>
   	  	 	<div class="photo_wall">
                <div class="photo_content">
	   	  	 		<div class="img_bg"></div> 
	   	  	 		<div class="img_cover"></div>	
                </div>
                <div class="photo_content">
	   	  	 		<div class="img_bg"></div> 
	   	  	 		<div class="img_cover"></div>	
                </div>
                <div class="photo_content">
	   	  	 		<div class="img_bg"></div>
	   	  	 		<div class="img_cover"></div> 	
                </div>
                <div class="photo_content">
	   	  	 		<div class="img_bg"></div>
	   	  	 		<div class="img_cover"></div> 	
                </div>
                <div style="clear: both">
                	
                </div>
   	  	 	</div>
   	  	 </div>
   	  </div>
   	  <!-- 关于我们 -->
   	 	<!--白底内容块4-->
		  	<div class="prefooter">
		  		<div class="container maxwidth2">
		  			<div class="no-visible is-visible"></div>
		  			<a href="javascript:;" class="no-visible is-visible" aos="fade-down" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
			            <div>
			            	<div class="bg-hover"></div>
			                <div>
			                    <p>你有项目吗？</p>
			                    <h5 class="title--header4 white">让我们一起来谈谈他</h5>
			                </div>
			            </div>
			            </a>
			        <a href="javascript:;" class="no-visible is-visible" aos="fade-up" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
			            <div>
			            	<div class="bg-hoverright"></div>
			                <div>
			                    <p>想了解我们吗？</p>
			                    <h5 class="title--header4 white">请联系我们</h5>
			                </div>
			            </div>
			        </a>
		  		</div>
		  	</div>
   	  	<!-- 底部 -->
		   <footer class="foot">
		   	  <div class="container_foot">
		   	  	 <div class="foot_lft">
		   	  	 	<p class="company_logo">SumChance</p>
		   	  	 	<p class="company_desc">在科赫工业公司，挑战对我们来说是不可或缺的。我们挑战自我，以更少的资源创造更好的产品来改善人们的生活。同时，我们挑战阻碍竞争，机遇，创新和进步的障碍。</p>
		   	  	 	<p class="company_name">三千客科技有限公司</p>
		   	  	 	<span class="do">我们做的：
		   	  	 	   <a href="script:;">新闻</a>
		   	  	 	   <a href="script:;">地点</a>
		   	  	 	   <a href="script:;">公司</a>
		   	  	 	   <a href="script:;">责任</a>
		   	  	 	   <a href="script:;">招聘</a>
		   	  	 	</span>
		   	  	 	<ul class="footlist">
		   	  	 		<li><a href="script:;" title="">联系我们</a></li>
		   	  	 		<li><a href="script:;" title="">使用条款</a></li>
		   	  	 		<li><a href="script:;" title="">隐私政策</a></li>
		   	  	 		<li><a href="script:;" title="">行为准则</a></li>
		   	  	 	</ul>
		   	  	 </div>
		   	  	 <div class="foot_rit">
		   	  	 	<p>联系方式：</p>
		   	  	 	<p class="tel">联系电话：13501750175</p>
		   	  	 	<p class="qq">联系QQ:</p>
		            <p class="blog">企业微博：</p>
		            <p class="number">粤网文【2017】6138-1666号</p>
		            <span class="copy">Copyright © 1998 - 2017 Tencent. All Rights Reserved.三千客公司 版权所有</span>
		   	  	 </div>
		   	  	 <div style="clear: both;"></div>
		   	  </div>
		   </footer>
   </div>
</body>
</html>