<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系</title>
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/contact.css">
</head>
<body>
<!-- 导航 -->
	<div class="nav">
		<div class="nav_top">
			<div class="logo">
				<img src="../../images/service/logo_b.svg" alt="" class="img_black">
			</div>
			<div class="control">
   	  	 		<span>控制台</span>
   	  	 		<div class="lineGroup">
   	  	 			<div class="line"></div>
   	  	 			<div class="line line2"></div>
   	  	 			<div class="line"></div>
   	  	 		</div>
   	        </div>
	    </div>
	</div>
	<!-- 中间内容 -->
	<div class="main">
	 <div class="container_center">
	   <div class="help">
		   <p class="xl">需要帮助</p>
		   <p class="xl"><span class="line_one"></span>了解我们</p>
		   <p class="need">想想你可能需要我们吗？<br>让我们帮你一把。</p>
	   </div>
	   <div class="main_box">
	   	 	<div class="box_lft">
	   	 		<p class="color inform">联系信息</p>
	   	 		<div class="line_two color"></div>
	   	 		<p class="color email_txt">……@…….com</p>
	   	 		<p class="color tel">13888888888</p>
	   	 		<p class="color address">湖南省长沙市……</p>
	   	 		<div class="s_logo">
	   	 		  <a href="javascript:;" title="" class="qq"></a>	
	   	 		  <a href="javascript:;" title="" class="wx"></a>
	   	 		  <a href="javascript:;" title="" class="wb"></a>
	   	 		  <div style="clear: both;"></div>	
	   	 		</div>	
	   	 	</div>
	   	 	<!-- 发消息框 -->
	   	 	<div id="box_rit">
	   	 		<p class="mg_lft send_msg">给我们发信息</p>	
	   	 		<div class="line_three"></div>
	   	 		<div>
	   	 		   <input type="text" name="" value="" placeholder="你的名字" class="mg_lft ht">	
	   	 		</div>
	   	 		<div>
	   	 		   <input type="text" name="" value="" placeholder="你的邮箱" class="mg_lft ht">	
	   	 		</div>
	   	 		<div>
	   	 		   <input type="text" name="" value="" placeholder="你的问题" class="mg_lft ht">	
	   	 		</div>
                <div>
	   	 		   <textarea name="" class="mg_lft ht" placeholder="你的信息"></textarea>   	
                </div>
                <div class="check mg_lft">
                	<input type="checkbox" name="" value="">&nbsp;&nbsp;我接受条款和条件
                </div>
                <div class="send_btn">
                	<button type="submit" class="send"><a href="javascript:;" title="">发送</a></button>
                	<div style="clear: both;"></div>
                </div>
	   	    </div>	
	   </div>	 	
	 </div>
		
	</div>
</body>
</html>