<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系</title>
	<link rel="icon" href="../../images/common/icon.png">
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/contact.css">
</head>
<body>
<!-- 导航 -->
	<div class="nav">
		<div class="nav_top">
			<div class="logo">
				<a href="../index.html" title=""><img src="../../images/common/logo_b.png" alt="" class="img_black"></a>
			</div>
			<div class="control">
   	  	 		<span>控制台</span>
   	  	 		<div class="lineGroup">
   	  	 			<div class="line"></div>
   	  	 			<div class="line line2"></div>
   	  	 			<div class="line"></div>
   	  	 		</div>
   	        </div>
	    </div>
	</div>
	<!-- 中间内容 -->
	<div class="main">
	 <div class="container_center">
	   <div class="help">
		   <p class="xl">需要帮助</p>
		   <p class="xl"><span class="line_one"></span>了解我们</p>
		   <p class="need">想想你可能需要我们吗？<br>让我们帮你一把。</p>
	   </div>
	   <div class="main_box">
	   	 	<div class="box_lft">
	   	 		<p class="color inform">联系信息</p>
	   	 		<div class="line_two color"></div>
	   	 		<p class="color email_txt">……@…….com</p>
	   	 		<p class="color tel">13888888888</p>
	   	 		<p class="color address">湖南省长沙市……</p>
	   	 		<div class="s_logo">
	   	 		  <a href="javascript:;" title="" class="qq"></a>	
	   	 		  <a href="javascript:;" title="" class="wx"></a>
	   	 		  <a href="javascript:;" title="" class="wb"></a>
	   	 		  <div style="clear: both;"></div>	
	   	 		</div>	
	   	 	</div>
	   	 	<!-- 发消息框 -->
	   	 	<div id="box_rit">
	   	 		<p class="mg_lft send_msg">给我们发信息</p>	
	   	 		<div class="line_three"></div>
	   	 		<form action="contact_submit" method="get" class="contact_form">
	   	 			<input type="text" name="" value="" placeholder="你的名字" class="mg_lft ht">
	   	 			<input type="text" name="" value="" placeholder="你的邮箱" class="mg_lft ht">
	   	 			<input type="text" name="" value="" placeholder="你的问题" class="mg_lft ht">
	   	 			<textarea name="" class="mg_lft ht" placeholder="你的信息"></textarea>
	   	 			<input type="checkbox" name="" value="" class="check_box">&nbsp;&nbsp;
	   	 			<span>我接受《隐私条款和条例》</span>
	   	 			<button type="submit" class="send"><a href="javascript:;" title="">发送</a></button>
                	<div style="clear: both;"></div>
	   	 		</form>
	   	    </div>	
	   </div>	 	
	 </div>
		
	</div>
    <!-- 底部 -->
    <footer class="foot">
		   	  <div class="container_foot">
		   	  	 <div class="foot_lft">
		   	  	 	<p class="company_logo">SumChance</p>
		   	  	 	<p class="company_desc">在科赫工业公司，挑战对我们来说是不可或缺的。我们挑战自我，以更少的资源创造更好的产品来改善人们的生活。同时，我们挑战阻碍竞争，机遇，创新和进步的障碍。</p>
		   	  	 	<p class="company_name">三千客科技有限公司</p>
		   	  	 	<span class="do">我们做的：
		   	  	 	   <a href="script:;">新闻</a>
		   	  	 	   <a href="script:;">地点</a>
		   	  	 	   <a href="script:;">公司</a>
		   	  	 	   <a href="script:;">责任</a>
		   	  	 	   <a href="script:;">招聘</a>
		   	  	 	</span>
		   	  	 	<ul class="footlist">
		   	  	 		<li><a href="script:;" title="">联系我们</a></li>
		   	  	 		<li><a href="script:;" title="">使用条款</a></li>
		   	  	 		<li><a href="script:;" title="">隐私政策</a></li>
		   	  	 		<li><a href="script:;" title="">行为准则</a></li>
		   	  	 	</ul>
		   	  	 </div>
		   	  	 <div class="foot_rit">
		   	  	 	<p>联系方式：</p>
		   	  	 	<p class="tel">联系电话：13501750175</p>
		   	  	 	<p class="qq">联系QQ:</p>
		            <p class="blog">企业微博：</p>
		            <p class="number">粤网文【2017】6138-1666号</p>
		            <span class="copy">Copyright © 1998 - 2017 Tencent. All Rights Reserved.三千客公司 版权所有</span>
		   	  	 </div>
		   	  	 <div style="clear: both;"></div>
		   	  </div>
		   </footer>   
</body>
</html>