<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>服务</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="../../images/common/icon.png">
	<link rel="stylesheet" href="../../css/common-css/common.css">
	<link rel="stylesheet" href="../../css/subpage-css/service.css">
	<link rel="stylesheet" type="text/css" href="../../css/index/aos.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common-css/footer.css"/>
</head>
<body>
<!-- 顶部 -->
   <div class="head_top">
         <div class="stars_top">
                 <div class="star_top"></div>
                 <div class="star_top pink"></div>
                 <div class="star_top blue"></div>
                 <div class="star_top yellow"></div>
                 <div class="star_top white"></div>
         </div>
   	  <div class="logo">
   	  	 		<a href="/" title=""><img src="../../images/common/logo_w.png" alt="" class="img_white"></a>
   	  	 		<a href="/" title=""><img src="../../images/common/logo_b.png" alt="" class="img_black"></a>
   	  </div>
   	  <div class="control">
   	  	 		<span>控制台</span>
   	  	 		<div class="lineGroup">
   	  	 			<div class="line"></div>
   	  	 			<div class="line line2"></div>
   	  	 			<div class="line"></div>
   	  	 		</div>
   	  </div>
   	  <div class="head_content">
   	  	    <div class="container_top">
                 <div class="head_text" aos="fade-up" aos-duration="3000">
                 	<p class="develop">我们开发应用程序</p>
                 	<div class="space_one"></div>
                 	<p class="skill">创新和可扩展的<br>定制技术</p>
                 </div>
   	  	    </div>
   	  </div>
   </div>
   <!-- 内容 -->
   <div class="main">
   	  <div class="container" >
	   	  	<div class="software" aos="fade-zoom-in" aos-easing="ease-in-back" aos-delay="300">
	   	  		我们开发定制软件<br>移动，网页和桌面应用程序使用<br>敏捷宣传的原则
	   	  	</div>
	   	  	<div class="work" aos="fade-zoom-in" aos-easing="ease-in-back" aos-delay="400">
	   	  		<div class="space_two"></div>
	   	  		<p>我们的工作流程是协作性的，从一开始就融入了客户。我们一起确定需求，定义功能并设定项<br>
	   	  		   目和可交付成果的时间表。这反过来又使我们预见不可预见的挫折，并处理任何突发事件。
	   	  		</p>
	   	  	</div>
   	    </div>
   	  <!-- 网络应用程序 -->
   	<div class="extend">
         <div class="stars">
             <div class="star"></div>
             <div class="star blue"></div>
             <div class="star yellow"></div>
             <div class="star white"></div>
          </div>
   	  	 <div class="visibility_one" id="block_one">
   	  	 	
   	  	 </div>
   	  	 <div class="container">
   	  	 <div class="extend_lft">
   	  	 	<div class="program" id="blocktxt_one"><span class="rotate_top">网络应用程序</span></div>
   	  	 	<div class="blockImg_one"></div>	 	
   	  	 </div>
   	  	 	<div class="extend_rit" aos="fade-left" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">  
   	  	 		<p class="number">01</p>
   	  	 		<p class="spread size">云推广</p>		
   	  	 		<p class="move_right size"><span class="space_three line_r"></span>&nbsp;&nbsp;应用</p>
   	  	 		<p class="introduce">我们概念化，设计和开发围绕用户构建 的复杂的在线应用程序，并专注于每个 客户的特定需求。我们是内部和外部企 业应用开发的专家。</p>
   	  	 	</div>
   	  	 <div style="clear: both"></div>
   	  	 </div>
   	</div>
   	  <!-- 网络外包 -->
   	  <div class="outsource">
            <div class="stars_top position_left">
                 <div class="star_top"></div>
                 <div class="star_top pink"></div>
                 <div class="star_top blue"></div>
                 <div class="star_top white"></div>
            </div>
   	  	 <div class="container">
   	  	 	<div class="outsource_lft" aos="fade-right" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
   	  	 		<p class="number">02</p>
   	  	 		<p class="spread size">网络</p>		
   	  	 		<p class="size move_left"><span class="space_three line_l"></span>&nbsp;外包</p>
   	  	 		<p class="introduce">我们开发具有复杂功能的跨平台移动 应用程序。我们努力确保最佳性能， 并最大限度地提高与各种设备的兼容性。</p>
   	  	 	</div>
   	  	 	<div class="outsource_rit">
   	  	 		<div class="out_pack" id="blocktxt_two"><span class="rotate_bottom">网络外包</span></div>
   	  	 		<div class="blockImg_two"></div>
   	  	 	</div>
   	  	 <div style="clear: both"></div>
   	  	 </div>
   	  	 <div class="visibility_two" id="block_two"></div>
   	  </div>
   	   <!-- 自主建站 -->
   	  <div class="extend">
            <div class="stars position_2_right">
                 <div class="star"></div>
                 <div class="star blue"></div>
                 <div class="star yellow"></div>
                 <div class="star white"></div>
             </div>
   	  	 <div class="visibility_one" id="block_three">
   	  	 	
   	  	 </div>
   	  	 <div class="container">
   	  	 <div class="extend_lft">
   	  	 	<div class="program" id="blocktxt_three"><span class="rotate_top">自主建站</span></div>
   	  	 	<div class="blockImg_one"></div>	 	
   	  	 </div>
   	  	 	<div class="extend_rit" aos="fade-left" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
   	  	 		<p class="number">03</p>
   	  	 		<p class="spread size">自主</p>		
   	  	 		<p class="move_right size"><span class="space_three line_r"></span>&nbsp;&nbsp;建站</p>
   	  	 		<p class="introduce">我们融入了负责开发技术产品的团队， 在开发和实施过程的管理和优化方面贡 献了我们的专业知识和经验。通过这些 咨询服务，我们与客户从创意开始到项 目启动进行协作</p>
   	  	 	</div>
   	  	 <div style="clear: both"></div>
   	  	 </div>
   	  </div>
   	  <!-- 形象策划 -->
   	  <div class="outsource">
         <div class="stars_top position_2_left">
                 <div class="star_top"></div>
                 <div class="star_top blue"></div>
                 <div class="star_top white"></div>
                 <div class="star_top pink"></div>
             </div>
   	  	 <div class="container">
   	  	 	<div class="outsource_lft" aos="fade-right" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
   	  	 		<p class="number">04</p>
   	  	 		<p class="spread size">形象</p>		
   	  	 		<p class="size move_left"><span class="space_three line_l"></span>&nbsp;策划</p>
   	  	 		<p class="introduce">我们开发具有复杂功能的跨平台移动 应用程序。我们努力确保最佳性能， 并最大限度地提高与各种设备的兼容 性。</p>
   	  	 	</div>
   	  	 	<div class="outsource_rit">
   	  	 		<div class="out_pack" id="blocktxt_four"><span class="rotate_bottom">形象策划</span></div>
   	  	 		<div class="blockImg_two"></div>
   	  	 	</div>
   	  	 <div style="clear: both"></div>
   	  	 </div>
   	  	 <div class="visibility_two visibility_four" id="block_four"></div>
   	  </div>
   	 	<!--白底内容块4-->
		  	<div class="prefooter">
		  		<div class="container maxwidth2">
		  			<div class="no-visible is-visible"></div>
		  			<a href="javascript:;" class="no-visible is-visible" aos="fade-down" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
			            <div>
			            	<div class="bg-hover"></div>
			                <div>
			                    <p>你有项目吗？</p>
			                    <h5 class="title--header4 white">让我们一起来谈谈他</h5>
			                </div>
			            </div>
			        </a>    
			        <a href="javascript:;" class="no-visible is-visible" aos="fade-up" aos-offset="300" aos-easing="ease-in-sine" aos-delay="100">
			            <div>
			            	<div class="bg-hoverright"></div>
			                <div>
			                    <p>想了解我们吗？</p>
			                    <h5 class="title--header4 white">请联系我们</h5>
			                </div>
			            </div>
			        </a>
		  		</div>
		  	</div>
   	  	<!-- 底部 -->
		   <footer class="foot">
		   	  <div class="container_foot">
		   	  	 <div class="foot_lft">
		   	  	 	<p class="company_logo">SumChance</p>
		   	  	 	<p class="company_desc">在科赫工业公司，挑战对我们来说是不可或缺的。我们挑战自我，以更少的资源创造更好的产品来改善人们的生活。同时，我们挑战阻碍竞争，机遇，创新和进步的障碍。</p>
		   	  	 	<p class="company_name">三千客科技有限公司</p>
		   	  	 	<span class="do">我们做的：
		   	  	 	   <a href="script:;">新闻</a>
		   	  	 	   <a href="script:;">地点</a>
		   	  	 	   <a href="script:;">公司</a>
		   	  	 	   <a href="script:;">责任</a>
		   	  	 	   <a href="script:;">招聘</a>
		   	  	 	</span>
		   	  	 	<ul class="footlist">
		   	  	 		<li><a href="script:;" title="">联系我们</a></li>
		   	  	 		<li><a href="script:;" title="">使用条款</a></li>
		   	  	 		<li><a href="script:;" title="">隐私政策</a></li>
		   	  	 		<li><a href="script:;" title="">行为准则</a></li>
		   	  	 	</ul>
		   	  	 </div>
		   	  	 <div class="foot_rit">
		   	  	 	<p>联系方式：</p>
		   	  	 	<p class="tel">联系电话：13501750175</p>
		   	  	 	<p class="qq">联系QQ:</p>
		            <p class="blog">企业微博：</p>
		            <p class="number">粤网文【2017】6138-1666号</p>
		            <span class="copy">Copyright © 1998 - 2017 Tencent. All Rights Reserved.三千客公司 版权所有</span>
		   	  	 </div>
		   	  	 <div style="clear: both;"></div>
		   	  </div>
		   </footer>
		   <!--导航遮罩层-->
           <div id="nav"></div>
   </div>
</body>
<script src="../../js/common-js/jquery.js" type="text/javascript"></script>
<script src="../../js/subpage-js/service.js" type="text/javascript"></script>
<script src="../../js/common-js/aos.js" type="text/javascript" charset="utf-8"></script>
<script>
		AOS.init({
			easing: 'ease-out-back',
			duration: 1000,
			once:'true'
		});
</script> 
</html>