
/* 遮罩层 */
.lightBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 200;
	display: none;
}
/* 头部开始 */
.head_top{
	width: 100%;
	height: 100px;
	position: relative;
}
.logo,.top_right,.nav_list li{
	display: inline-block;
}
.logo,.top_right{
	margin-top: 20px;
}
.top_right{
	float: right;
}
.xny_top>span{
	padding-right: 40px;
}
.xny_top span a{
	color:#ca141d;
	padding-left: 15px;
}
.xny_top span a:hover{
	text-decoration: underline;
}
.xny_top span.tel{
	background: url(../images/homepage/tel.png) no-repeat left center;
	padding-left: 11px;
}
.xny_top span.kf{
	background: url(../images/homepage/kf.png) no-repeat left center;
	padding-left: 15px;
}
.nav_list{
	margin-top: 12px;
}
.nav_list li{
	text-align: center;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
}
.nav_list li a{
	font-size: 15px;
    height: 43px;
    display: block;
    padding: 0 4px;
    color: #333;
}
.nav_list li:hover a,.nav_list li a.active{
	color: #ca141d;
	border-bottom: 2px solid #ca141d;
}
/* 登录框 */
.loginBox{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 420px;
	margin-top: -210px;
	margin-left: -250px;
	border: 5px solid #9e9e9e;
	background-color: #fff;
	z-index: 999;
    display: none;
}
.box_title{
	height: 40px;
	border-bottom: 1px solid #9e9e9e;
}
.box_title>img{
	padding-top: 10px;
	padding-left: 10px;
}
.box_title .close{
	display: inline-block;
	position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/homepage/icon.png) 0 -40px;
    margin-left: 370px;
}
.box_content{
	text-align: center;
}
.count{
	margin-bottom: 30px;
	margin-top: 30px;
    font-size: 18px;
    color: #2f2f2f;
}
.login_input li{
	margin-bottom: 20px;
}
.login_input li input{
	height: 42px;
	border-radius: 2px;
	border: 1px solid #9e9e9e;
	outline: none;
}
.login_input li input:focus{
	border: 1px solid red;
}
.login_input li input.man{
	background: url(../images/homepage/r.png) no-repeat left 10px center;
}
.login_input li input.suo{
	background: url(../images/homepage/s.png) no-repeat left 10px center;
}
.logins{
	width: 320px;
	padding-left: 30px;
}
.login_code{
	padding-left: 10px;
}
.login_input li img{
	vertical-align: middle;
}
.login_input li button{
	width: 300px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: block;
    background-color: #e52f35;
    color: #fff;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    margin-left: 110px;
}
.login_input li a.about{
	color: #848484;
    font-size: 12px;
    margin: 0 15px;
}
.login_input li a.about:hover{
	color: #e52f35;
	text-decoration: underline;
}
/* 轮播图 */
.slides{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 400px;
}
.slides .imgList{
	height: 400px;
}
.slides .imgList li{
	position: absolute;
	top: 0;
	display: none;
}
.slides .imgList li.active{
	display: block;
}
/* 左边固定图片 */
.main{
	position: fixed;
	z-index: 205;
	background: url(../images/homepage/0.png);
	width: 150px;
	height: 200px;
	right: 5px;
	top: 220px;
}
.mainCon{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.1);
}
.qq{
	background: url(../images/homepage/qq.png);
	width: 92px;
    height: 22px;
    margin: 0 auto;
    cursor: pointer;
}
/* 通知栏 */
.notice{
	height: 36px;
    line-height: 36px;
    background-color: #f2f2f2;
    overflow: hidden;
}
/* 热门云服务 */
.hot{
	margin-top: 40px;
}
.hot h2{
	color: #2f2f2f;
	font-size: 24px;
}
.hot h2 span{
	color: #8b8b8b;
    font-size: 14px;
    padding-left: 10px;
}
.xny_index{
	margin-top: 20px;
	text-align: center;
	height: 450px;
}
.xny_index li{
	display: inline-block;
	width: 32%;
    height: 210px;
    border: 1px solid #dbdbdb; 
    float: left;
    cursor: pointer;
}
.xny_index li:hover{
	border: 1px solid #ca141d;
}
.xny_index li:hover p{
	color: #ca141d;
}
.xny_index li img{
    margin: 45px auto 20px;
}
.xny_index li p{
	color: #242424;
    font-size: 16px;
}
.xny_index li span{
	color: #a2a2a2;
    font-size: 13px;
}
/* 覆盖云服务  */
.cover{
	margin-top: 30px;
	position: relative;
}
.desc_tit{
	color: #2f2f2f;
    font-size: 24px;
    display: inline-block;
    margin-top: 30px;
}
span.eng{
	color: #8b8b8b;
    font-size: 14px;
    padding-left: 10px;
}
.cover .desc{
	display: block;
	height: 36px;
	line-height: 36px;
	color: #9e9b9a;
    font-size: 12px;
}
.cover a.more{
    color: #888;
    background: url(../images/homepage/icon_small.png) no-repeat 34px -350px;
    width: 44px;
    display: inline-block;
    margin-left: 265px;
}
.accordian ul {
	width: 1200px;
	overflow: hidden;
	margin-bottom: 30px;
}
.accordian li{
	position: relative;
	display: block;
	width: 200px;
	height: 348px;
	background: #f6f6f6;
	float: left;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.accordian li.active{
	width: 400px;
}
.accordian ul:hover li {
	width: 200px;
	background: #f6f6f6;

}
.accordian ul li:hover {
	width: 400px;
	background: #f6f6f6;
}
 .image_title {
 	display: inline-block;
	position: absolute;
	left: 0; 
	top: 85px;	
	width: 200px;
	text-align: center;	
}
.image_title  h4{
	font-size: 16px;
	font-weight: bold;
	color: #303030;
	margin-bottom: 10px;
}
.image_title p{
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
	color:#e2705d;
}
.image_title img{
    display: block;
   margin-top: 50px;
   margin-left: 50px;
}
.desc_right{
	display: inline-block;
	width: 195px;
	float: left;
	position: absolute;
	top: 50px;
	left: 200px;
}
.desc_right p{
	margin-top: 10px;
 }
 .desc_right img{
 	display: inline-block;
    padding-top: 20px;
 }
 .desc_right .view_btn{
 	width: 137px;
    height: 29px;
    line-height: 29px;
    color: #9598a0;
    font-size: 12px;
    border: 1px solid #9598a0;
    margin: 25px auto 0;
    display: inline-block;
    text-align: center;
 }
 /* 优惠活动 */
 .promotion{
 	height: 375px;
    background: #f7f6f5;
 }
 .pro_more{
 	color: #888;
    background: url(../images/homepage/icon_small.png) no-repeat 34px -357px;
    width: 44px;
    display: inline-block;
    margin-left: 945px;
}
.pro_list{
	padding-top: 25px;
}
.pro_list li,.new_left .top{
	width: 585px;
    height: 110px;
    background: #fff;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
}
.pro_list li:hover .pro_text_tit>a{
    color: red;
}
.pro_img,.pro_text{
	display: inline-block;
}
.pro_img{
	width: 160px;
    height: 110px;
    float: left;
    overflow: hidden;
}
.pro_img img{
	width: 100%;
	transition: all 0.3s ease-in;
}
.pro_img img:hover{
	transform: scale(1.1);
}
.pro_text{
	padding: 0 20px 0 10px;
    width: 420px;
    box-sizing: border-box;
    float: left;
}
.pro_text .pro_text_tit{
	margin-top: 15px;
}
.pro_text .pro_text_tit>a{
    color: #2C2C2C;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro_text p{
	margin-top: 10px;
}
.pro_text p>a{
	font-size: 12px;
    color: #777676;
    line-height: 20px;
    height: 36px;
}
/* 官方动态 */
.xny_news{
	background-color: #e7e7e7;
    height: 393px;
}
.new_left{
	display: inline-block;
	width: 580px;
	margin-left: 5px;
	position: relative;
}
.new_left .top{
	width: 560px;
}
.new_left .pro_text{
    width: 400px;
}
.xny_news .dynamic{
	height: 36px;
    line-height: 36px;
    color: #393939;
    font-size: 16px;
    width: 150px;
    padding-left: 18px;
    background: url(../images/homepage/icon_small.png) no-repeat 0 -160px;
}
.xny_news .dynamic>a{
    color: #888;
    background: url(../images/homepage/icon_small.png) no-repeat 34px -349px;
    width: 44px;
    display: inline-block;
    position: absolute;
    left: 530px;
}
.xny_news .pro_text_tit>a:hover{
	color: red;
}
.new_left ul li{
	margin-bottom: 15px;
}
.new_left ul li>a{
	color: #5a5959;
	display: inline-block;
	line-height: 20px;
    height: 20px;
    font-size: 12px;
    transition: 0.1s;
}
.new_left ul li>a:hover{
	color: #d11d1d;
	padding-left: 5px;
}
.new_left ul li>span{
	margin-right: 15px;
	float: right;
    color: #a7a7a7;
}
/* 合作伙伴 */
.partner .service_text{
	display: inline-block;
	margin-top: 20px;
	font-size: 13px;
    color: #424242;
}
.partner .service_text p i{
    width: 7px;
    height: 7px;
    background:#d11d1d;
    display: inline-block;
    margin-right: 10px; 
}
.partner .service_text strong{
	font-size: 18px;
	color: #d11d1d;
}
.service_map{
	width: 408px;
    height: 335px;
    background: url(../images/homepage/map2.png) no-repeat;
}
.partner .client{
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	float: right;
}
.client .client_list{
   width: 665px;
   height: 320px;
}
.client .client_list li{
	display: inline-block;
    border: 1px solid #d7d7d7;
    float: left;
}
.client .client_list li:hover{
	border-color: red;
}
.client .client_list li img{
	width: 214px;
    height: 104px;
}
.partner {
    padding-bottom: 30px;
}
/* 底部联系地址 */
.foot_box{
	width: 100%;
    margin: 0px auto;
    background: #c7000b;
    padding-bottom: 20px;
}
.boxlft,.boxrit{
	display: inline-block;
}
.boxlft{
    width: 194px;
    margin: 0px 0px 0px 6px;
    color: #fff;
}
.foot_icon{
	height: 92px;
    padding: 20px 0px 37px 0px;
}
.boxzb{
	border-top: 5px solid #fff;
    font-size: 16px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    width: 135px;
}
.contact_list li{
	color: #fff;
	width: 135px;
    padding: 15px 0px;
    border-bottom: 1px solid #fff;
}
.contact_list .ewm{
	margin-top: 10px;
}
.contact_list .ewm img{
	width: 100px;
	height: 100px;
}
.contact_list .ewm p{
	padding-left: 15px;
}
.boxrit{
	width: 990px;
	margin-top: 10px;
}
.boxrit ul li{
	display: inline-block;
	padding: 24px 5px 10px 0px;
    width: 320px;
    color: #fff;
}
.foot_cont{
	width: 100%;
    margin: 0 auto;
    background: #ff7f58;
}
.foot_cont ul li{
	display: inline-block;
	width: 120px;
	line-height: 30px;
	text-align: center;
	padding: 10px 0;
}
.foot_cont ul li a{
	color: #fff;
    font-size: 15px;
}
/* 最底部 */
.last_foot{
	margin-bottom: 20px;
}
.last_foot .prolink{
	height: 60px;
	line-height: 60px;
}
.last_foot .prolink a{
	color: #666;
	padding-left: 20px;
}
.last_foot .prolink a:hover{
	color: red;
}
.last_foot .copy{
	color: #969696;
}
.last_foot .copy .zengzhi{
	padding-left: 20px;
}
.last_foot .beiai{
	text-align: center;
	height: 20px;
    line-height: 20px;
    color: #939393;
    margin-top: 10px;
}
.last_foot .beiai img{
	vertical-align: middle;
}