<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<resultMap type="com.entity.UserInfo" id="userResultMap">
		<result property="u_id" column="u_id" />
		<result property="u_name" column="u_name" />
		<result property="u_passWord" column="u_passWord" />
		<result property="u_phoneNum" column="u_phoneNum" />
		<result property="u_inviteCode" column="u_inviteCode" />
		<result property="u_unit" column="u_unit" />
		<result property="u_address" column="u_address"/>
		<result property="u_tel" column="u_tel"/>
		<result property="u_industry" column="u_industry" />
		<result property="u_business" column="u_business"/>
		<result property="u_area" column="u_area"/>
	</resultMap>
	
	<resultMap type="com.entity.Validate" id="validateResultMap">
		<result property="v_id" column="v_id" />
		<result property="u_phoneNum" column="u_phoneNum" />
		<result property="v_code" column="v_code" />
		<result property="v_startTime" column="v_startTime" />
		<result property="v_endTime" column="v_endTime" />
	</resultMap>
	
	<select id="findUserPhone" resultMap="userResultMap" parameterType="com.entity.UserInfo">
		<![CDATA[
			select 
			* 
			from UserInfo 
			where u_phoneNum = #{u_phoneNum,jdbcType=VARCHAR} limit 1
		]]>
	</select>
	
	<select id="findUserInfo" resultMap="userResultMap" parameterType="com.entity.UserInfo">
			select 
			* 
			from UserInfo where u_phoneNum= #{u_phoneNum,jdbcType=VARCHAR} and u_passWord= #{u_passWord,jdbcType=VARCHAR} limit 1
	</select>
			
	<select id="userById" resultMap="userResultMap" parameterType="com.entity.UserInfo">
			select 
			* 
			from UserInfo where u_id= #{u_id,jdbcType=INTEGER} limit 1
			
	</select>
	
	<insert id="insertUserInfo" parameterType="com.entity.UserInfo">
		insert into UserInfo
				  (
				   u_name,
				   u_passWord,
				   u_phoneNum,
				   u_inviteCode,
				   u_unit,
				   u_address,
				   u_tel,
				   u_industry,
				   u_business,
				   u_area)
				values
				  (#{u_name,jdbcType=VARCHAR},
				   #{u_passWord,jdbcType=VARCHAR},
				   #{u_phoneNum,jdbcType=VARCHAR},
				   #{u_inviteCode,jdbcType=VARCHAR},
				   #{u_unit,jdbcType=VARCHAR},
				   #{u_address,jdbcType=VARCHAR},
				   #{u_tel,jdbcType=VARCHAR},
				   #{u_industry,jdbcType=VARCHAR},
				   #{u_business,jdbcType=VARCHAR},
				   #{u_area,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateUser" parameterType="com.entity.UserInfo" >
    	update UserInfo set   u_name=#{u_name},
    						  u_unit = #{u_unit},
    						  u_address = #{u_address},
    						  u_tel = #{u_tel},
    						  u_industry = #{u_industry},
    						  u_business = #{u_business},
    						  u_area = #{u_area}
    	          where u_id=#{u_id}
    </update>

	<update id="updatePw" parameterType="com.entity.UserInfo">
		update UserInfo set u_passWord=#{u_passWord}
				  where u_id=#{u_id}
	</update>
	
	<insert id="addCode" parameterType="com.entity.Validate">
		insert into Validate
				  (
				   u_phoneNum,
				   v_code,
				   v_startTime,
				   v_endTime)
				values
				  (#{u_phoneNum,jdbcType=VARCHAR},
				   #{v_code,jdbcType=INTEGER},
				   #{v_startTime},
				   #{v_endTime})
	</insert>
	
	<select id="findCode" resultMap="validateResultMap" parameterType="com.entity.Validate">
			select 
			* 
			from validate
				where u_phoneNum=#{u_phoneNum}
			 	order by v_startTime desc limit 1
	</select>
	
</mapper>