<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.WorkOrderDao">
	<resultMap type="com.entity.WorkOrder" id="workResultMap">
		<result property="wo_id" column="wo_id" />
		<result property="wo_type" column="wo_type" />
		<result property="wo_u_id" column="wo_u_id" />
		<result property="wo_subtime" column="wo_subtime" />
		<result property="wo_state" column="wo_state" />
		<result property="wo_content" column="wo_content" />
	</resultMap>
	
	<select id="findWorkOrder" resultMap="workResultMap" parameterType="java.lang.Integer">
			select 
			* 
			from WorkOdrder 
			where wo_u_id = #{wo_u_id,jdbcType=Integer} 
	</select>
	
	
</mapper>