.main{
	background: #ebeef2;
}
.main_conter{
    padding-left: 3%;
    padding-right: 5%;
    margin-left: 14%;
    background: #FFFFFF;
    display: inline-block;
    padding-top: 20px;
    float: left;
    width: 5%;
    height: 870px;
}
.main_conter .title{
	font-size: 20px;
	color: #003333;
}
.main_conter li a{
    line-height: 40px;
    font-size: 16px;
    color: #a3a3a3;
    display: inline-block;
    width: 100%;
}
.main_conter li a:hover{
	color: #00c1de;
}
.main_right{
    margin-left:2%;
    width:65%;
    height: 670px;
    display: inline-block;
    background: #ffffff;
    float: left;
    margin-top: 2%;
    padding: 35px 30px 65px 30px;
}
.main-center{
	border: 1px solid #CCCCCC;
	height: 100%;
}
