.main{
	background: #ebeef2;
}

.main_conter .title{
	font-size: 20px;
	color: #003333;
}
.main_conter li a{
    line-height: 40px;
    font-size: 16px;
    color: #a3a3a3;
    display: inline-block;
    width: 100%;
}
.main_conter li a:hover{
	color: #00c1de;
}

.main-center{
	border: 1px solid #CCCCCC;
	height: 100%;
}
