
/* 实时访客 */
.main_right1,.main_btn{
    margin-left: 2.5%;
    width: 95%;
    display: inline-block;
    background: #ffffff;
    float: left;
    padding: 35px 30px 65px 30px;
}
.main_right1{
    height: 140px;
    margin-bottom: 30px;
    position: relative;
}
.main_right1>p{
    color: #2B2B2B;
    font-size: 20px;
}
.main_right1>.sou{
    margin-top: 50px;
    margin-left: 25%;
}
.main_right1>.sou .search_bar{
    width: 45%;
    height:40px;
    float: left;
    outline: none;
    padding-left: 5px;
}
.main_right1>div .view_analysis{
    display: inline-block;
    width:140px;
    height:44px;
    background: #00C1DE;
    color: #fff;
    float: left;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}
/* 网站基本信息 */
.main_btn{
    margin-bottom: 2%;
}
/* 表1 */
.main_btn .table_one{
    border: 1px solid #dedede;
    width: 100%;
    border-top: none;
    color: #646464;
}
.main_btn .table_one td{
    border: 1px solid #dedede;
    border-bottom: none;
    border-left: none;
    height: 40px;
     border-right: none; 
}
.main_btn .table_one tr td:first-child{
    width: 10%;
    text-align: center;
    border-right:1px solid #dedede; 
}
.main_btn .table_one tr:first-child td{
    color: #2b2b2b;
    text-align: left;
    border-right: none;
    padding-left: 2%;
}
.table_one td>span{
    padding-left: 2%;
}
/* 表2 */
.main_btn .table_two{
    border: 1px solid #dedede;
    width: 100%;
    border-top: none;
    color: #646464;
    margin-top: 48px;
}
.main_btn .table_two td{
    border: 1px solid #dedede;
    border-bottom: none;
    border-left: none;
    height: 40px;
    width: 12.5%;
    text-align: center;
}
.main_btn .table_two tr:first-child td{
    background: #F1F1F1;
}
.main_btn .table_two tr td:last-child{
    border-right: none;
}
/* 表3 */
.main_btn .table_three{
    border: 1px solid #dedede;
    width: 100%;
    border-top: none;
    color: #646464;
    margin-top: 48px;
    border-right: none;
}
.main_btn .table_three td{
    border: 1px solid #dedede;
    border-bottom: none;
    border-left: none;
    height: 40px;
    width: 25%;
    text-align: center;
}
.main_btn .table_two tr td:last-child{
    border-right: none;
}
.main_btn .table_three tr:first-child td{
    color: #2b2b2b;
    text-align: left;
    padding-left: 2%;
}
.main_btn .table_three tr:first-child td>a{
    color: #0392A7;
}
/* 表4 */
.main_btn .table_four{
    border: 1px solid #dedede;
    width: 100%;
    border-top: none;
    color: #646464;
    margin-top: 48px;
}
.main_btn .table_four td{
    border: 1px solid #dedede;
    border-bottom: none;
    border-left: none;
    height: 40px;
    width: 12.5%;
    text-align: center;
}
.main_btn .table_four tr td:last-child{
    border-right: none;
}
/* .main_btn .table_four tr:first-child td{
    color: #2b2b2b;
    text-align: left;
    padding-left: 2%;
} */
.addword{
    display: inline-block;
    padding-left: 85%;
    color: #E55352;
}
.table_four .rank1,.table_four .rank2{
    display: inline-block;
    width: 10px;
    height: 13px;
    margin-right: 5px;
}
.table_four .rank1{
    background: url(../../images/up.png) no-repeat;
}
.table_four .rank2{
    background: url(../../images/down.png) no-repeat;
}
/* 表公共样式 */
.main_btn .bluebg{
    background: rgba(0,193,222,0.3);
}
.main_btn .graybg{
    background:#F1F1F1;
}
.main_btn .bluetxt{
    color: rgba(0,193,222,0.7);
}
.main_btn .redtxt{
    color: #E55352;
}
.main_btn .greentxt{
    color: #40A214;
}
/* 调整页面的两边对齐 */
 .main_right.BGcolor{
  padding:0; 
  background:#ebeef2;
  margin-top: 2%;
}  
/* 遮罩层 */
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1000;
    background:rgba(0,0,0,0.4);
    display: none;
}
.mask_box{
    width: 580px;
    height: 380px;
    background: #fff;
/*     border: 4px solid #212121; */
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.6);
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -290px;
    margin-top:-190px; 
}
.mask_box>p:first-child{
    height: 52px;
    line-height: 52px;
    background:#00c1de;
    color: #fff;
    padding-left: 20px;
}
.mask_box>p.con3{
    margin-top: 10px;
    font-size: 14px;
    color: #999797;
    padding-left: 106px;
}
.mask_box .con1,.mask_box .con2{
    margin-left: 40px;
    margin-top: 20px;
}
.mask_box .mask_con .red{
    color:#dd4040;
}
.mask_box .mask_con .con1>span,.mask_box .mask_con .con2>span{
    font-size: 18px;
    color: #2b2b2b;
    float: left;
    color: #2b2b2b;
}
.mask_box .con1>div,.mask_box .con2>div{
    display: inline-block;
    margin-left: 30px;
    color: #646464;
}
.mask_box .con2>div{
    width: 380px;
    height: 150px;
    border: 1px solid #d1d1d1;
}
.mask_box .con2>div>textarea{
    width: 98%;
    height: 100%;
    outline: none;
    resize:none;
    border:none; 
    padding-left: 2%;
    font-size: 14px;
}
.btn_group{
    text-align: center;
    border-top: 1px solid #d1d1d1;
    padding-top: 15px;
    margin-top: 10px;
}
.btn_group .btn{
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn_group .ensure{
    background: #00c1de;
    float: left;
    margin-left: 106px;
}
.btn_group .cancel{
    background:#a3a3a3;
    float: right;
    margin-right: 90px;
}