/* 右边 */
.main_right{
    display: inline-block;
    position: relative;
    margin: 56px 40px 26px 40px;
    width: 82%;
    margin-left: 16%;
}
/* 自主建站 */
.main_right .station{
	width: 100%;
	height: 120px;
	line-height: 120px;
	margin-bottom: 35px;
}
.station>p{
	display: inline-block;
}
.station>p:first-child{
	padding-left: 38px;
	font-size: 36px;
	color: #333;
	float: left;
}
.station>p.ad{
	font-size: 16px;
	color: #646464;
	float: right;
	margin-right: 22%;
}
.station .ad>span:last-child{
	display: inline-block;
	margin-left: 145px;
}
.station .ad>span>span{
	color: #00C1DE;
}
.block_two,.data_table{
	width: 100%;
	margin-bottom: 35px;
}
/* 热门服务*/
.block_two .hotservice{
	display: inline-block;
	height: 300px;
	width: 39%;
	float: left;
}
.hotservice>p{
	padding-top: 53px;
	color: #333;
	font-size: 20px;
	padding-left: 27px;
}
.hotservice ul{
	margin-top: 30px;
	width: 100%;
}
.hotservice ul li{
	width: 44%;
	margin-left:4%;
	display: inline-block;
	float: left;
	background: #F5F5F6;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #fff;
}
.hotservice ul li:hover{
	border: 1px solid #00C1DE;
	background: #fff;
}
.hotservice ul li>a{
	font-size: 16px;
	color: #646464;
}
/* 服务进度 */
.block_two .service_progress{
  display:inline-block;
  height: 300px;
  width: 58.4%;
  float: left;
  margin-left: 2.6%;
  position: relative;
}
.service_progress>p{
 	color: #333333;
 	font-size: 20px;
 	padding-top: 52px;
 	padding-left: 36px;
 	display: inline-block;
 	float: left;
 }
.service_progress .chart_one,.service_progress .chart_two{
	display: inline-block;
	position: absolute;
	width: 40%;
	top: -100px;
}
.service_progress .chart_two{
	left:50%;
}
#chart1{
	width: 100%;
	height: 400px;
}
#chart2{
	width: 100%;
	height: 400px;
}
.service_progress>div>p{
	text-align: center;
	color: #646464;
	margin-top: -35px;
}
 /* 模版   定制 */
 .data_table .template{
    display:inline-block;
    height: 380px;
    width: 53%;
    float: left;
 }
 .data_table .customized{
 	display: inline-block;
	height: 380px;
	width: 45%;
	float: left;
 	margin-left: 2%; 
 }
 .template>p,.customized>p{
 	padding-top: 33px;
 	padding-left: 36px;
 	color: #333;
 	font-size: 20px;
 }
 /* 模版数据表 */
.template_tab{
    margin-top: 20px;
    margin-left: 4%;
    width: 92%;
 	border:1px solid #d7d7d8;
 	color: #646464;
 }
.template_tab th{
   background: #F5F5F6;
   font-weight: normal;
   border-left:1px solid #d7d7d8; 
  }
.template th:first-child{
	border-left: none;
}
.template_tab tr{
  	height: 40px;
  }
.template_tab td{
  	border:1px solid #d7d7d8;
  	text-align: center;
  	border-bottom: none;
  	width: 23%;
  	border-right: none;
  }
.template_tab tr:first-child>td{
	border-top: none;
}
.template_tab tr>td:last-child{
	border-right: none;
	color: #00C1DE;
}
 /* 定制 */
 .customized ul{
 	padding-top: 32px;
 	width: 92%;
 	padding-left: 4%;
 	padding-right: 4%;
 }
.customized ul li{
	display: inline-block;
	float: left;
	height: 130px;
	background: #E2E2E4;
	margin-top: 5px;
 	margin-left: 1%;
    width: 24%; 
}
 /* 我的站点 */
 .my_site{
 	width: 100%;
 	padding-bottom: 30px;
 }
.my_site>p:first-child{
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 37px;
	font-size: 20px;
	color: #333;
}
.my_site>p:last-child{
	text-align: center;
}
.my_site>p>a{
	color: #00C1DE;
}
 /* 我的站点 登陆后*/
 .my_site .item_block{
 	display: inline-block;
 	float: left;
 	margin-left: 2%;
 }
 .item_top{
 	margin-top: 40px;
 }
.equip{
	width: 15%;
	text-align: center;
	color: #333;
	background: #e5e6e9;
	padding-top: 35px;
	padding-bottom: 15px;
}
.equip .equipment{
	font-size: 24px;
    margin-top: 10px;
}
.equip .link{
	font-size: 14px;
	height: 27px;
	line-height: 27px;
}
.equip .visited{
	width: 98px;
	height: 25px;
	border:1px solid #00C1DE;
	border-radius: 4px;
	outline: none;
	background: #e5e6e9;
}
.equip .visited>a{
    color:#00C1DE;
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.browse{
	width: 60%;
}
.browse .browse_tab{
	width: 100%;
	border:1px solid #f3f4f5;
	color: #2b2b2b;
}
.browse .browse_tab tr{
	height: 50px;
}
.browse .browse_tab tr td{
	text-align: center;
}
.browse .browse_tab tr:first-child td{
	background: #e5e6e9;
}
.item_btn{
	width: 19%;
}
.item_btn>button{
	width: 220px;
	height: 40px;
	background: #00c1de;
	color: #fff;
	border:none;
	outline: none;
	font-size: 22px;
	margin-top: 80px;
}

/* 响应式小于1366 大于1024*/
@media screen and (max-width: 1366px) and (min-width: 1024px){
.station>p.ad {
    margin-right:5%;
}
.station .ad>span:last-child {
    margin-left: 40px;
}
}
@media screen and (max-width: 1600px) {
.service_progress .chart_one,.service_progress .chart_two{
	width: 37%;
}
}
@media screen and (max-width: 1300px) {
.service_progress .chart_one,.service_progress .chart_two{
	width: 35%;
}

