/* 右边 */
.main_right{
    display: inline-block;
    position: relative;
    margin: 56px 40px 0px 40px;
    width: 82%;
    margin-left: 16%;
}
/* 网站列表 */
.main_right .weblist{
	width: 100%;
	margin-bottom: 35px;
	position: relative;
}
.weblist>p:first-child{
	padding-left: 38px;
	font-size:20px;
	color: #333;
	padding-top: 40px;
}
.weblist .website{
	padding-left: 3%;
	padding-top: 22px;
}
.weblist .website li{
	border: 1px solid #E1E3E4;
    display: inline-block;
    color: #454444;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    width: 140px;
    float: left;
    cursor: pointer;
    text-align: center;
}
 .weblist .website>li:first-child{
	border-right: none;
} 
.bg{
	background:#69B5FA!important;
	color: #fff!important;
}
/* 自有网站  汇总网站 */
.weblist .self_total{
	display: none;
	position: relative;
	font-size: 18px;
}
.weblist .active{
	display: inline-block;
    width: 100%;
}
.self_web,.total_web{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: -1px;
	border: 1px solid #E1E3E4;
	position: relative;
	z-index: 10;
    height: 560px;
    overflow: auto;
}
.list_top{
	height: 50px;
	background: #f4f4f4;
	line-height: 50px;
	margin-left: 3%;
	margin-right: 3%;
	color: #979494;
	margin-top: -1px;
}
.list_desc{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #E1E3E4;
	color: #2B2B2B;
}
.domain>a{
	padding-left: 25px;
}
.self_web .list_desc>span,.total_web>div>span{
	display: inline-block;
    width: 16%;
    padding-left: 8%;
}
.list_top>span{
	display: inline-block;
	width: 23.5%;
	text-align: center; 
} 
.self_web .list_desc>span>a,.total_web .list_desc>span>a{
	color:#69B5FA;
}
.self_web .list_desc .del,.total_web .list_desc .del{
   padding-left: 20px;
}
.self_web .list_desc .modify,.total_web .list_desc .modify{
   padding-left: 20px;
}
.weblist .careful{
	padding-left: 38px;
	padding-top: 20px;
	padding-bottom: 20px;
	color:#979494;
}
@media screen and (max-width:1366px) and (min-width:1024px){
.self_web .list_desc>span, .total_web>div>span {
    width: 20%;
    padding-left: 4%;
}
}

a.add {
    display: block;
    text-align: left;
    padding-left: 14%;
}